/* width */
#missionvissionwrap .commonmissonvisionwrapper p::-webkit-scrollbar, .testimonialwrap p::-webkit-scrollbar {
    width: 6px;
}

/* Track */
#missionvissionwrap .commonmissonvisionwrapper p::-webkit-scrollbar-track, .testimonialwrap p::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f4f4f4;
}

/* Handle */
#missionvissionwrap .commonmissonvisionwrapper p::-webkit-scrollbar-thumb, .testimonialwrap p::-webkit-scrollbar-thumb {
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

.commonheading {
    font-size: 60px;
    text-transform: uppercase;
}

.aboutsoulheading p span, .aboutsoulheading h2 span {
    color: #f9004e;
}

.aboutsoulheading p, .aboutsoulheading h2  {
    font-weight: bold;
}

.h2class span {
    color: #f9004e;
}

.h2class  {
    font-weight: bold;
}

.commonmainheadingwrap {
    text-align: center;
    margin-bottom: 30px;
}

#aboutclinicwrap {
    margin-top: 50px;
}

.contentwrapaboutclinic {
    margin-bottom: 30px;
    text-align: center;
}

.aboutsouldermapointerswrap ul li {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    line-height: 28px;
}

.aboutsouldermapointerswrap ul li i {
    margin-right: 10px;
    color: #ce004d;
}

#missionvissionwrap {
    background: #F7F7F7;
    padding: 50px;
    margin: 50px 0px;
}

#aboutclinicschoosewrap {
    padding: 50px 0px;
}

#aboutclinicschoosewrap .img_centre {
    display: flex;
    align-items: center;
}

.commonmissonvisionwrapper {
    position: relative;
    border: 2px solid #ce004d;
    background: #fff;
    padding: 80px 20px 40px;
    height: 100%;
}

.commonmissonvisionwrapper img {
    position: absolute;
    top: -40px;
}

.missionheading {
    font-size: 30px;
    margin-bottom: 20px;
}

.whychoospointersitemheading {
    font-size: 25px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.whychoospointersitem p {
    padding: 0px 50px;
}

.whychoospointersitemheading:before {
    content: '';
    width: 30px;
    height: 4px;
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    left: 0px;
    display: inline-block;
    margin-right: 20px;
}

.whychoospointersitem {
    margin-bottom: 20px;
}

.whychoospointersitem:last-child {
    margin: 0px;
}

#aboutclinictech {
    background: transparent linear-gradient(180deg, #616161 0%, #3B3B3B 100%) 0% 0% no-repeat padding-box;
    padding: 50px 0px;
}

.abtechwrap p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.abouttechheading {
    font-size: 46px;
    color: #fff;
}


.commonmainheadingwrap p span a {
    color: #f9004e;
    text-decoration: underline;
    font-weight: 500;
}

#expertteamwrapper {
    padding: 50px 0px 0px;
    background: transparent linear-gradient(180deg, #F7F7F7 0%, #E5E5E5 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.teamimage {
    text-align: center;
    position: relative;
    margin-top: 50px;
}

.bigertext {
    text-align: center;
    font-size: 11rem;
    font-weight: bold;
    color: #e2e2e2;
    position: absolute;
    top: -50px;
    line-height: 1;
    left: 0px;
    right: 0px;
}

.biggertextimagwrap {
    position: relative;
}

h1.aboutsoulheading.notofamily {
    font-size: 26px;
    margin-bottom: 4px;
    font-weight: 500;
}

/*---------------------------------------------------------------*/
#clienttestimonial {
    margin: 50px 0px;
}

.ratingob img {
    width: 70px !important;
}

.ratingwrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.topicheading {
    font-size: 24px;
}

.testimonialwrap {
    border: 2px solid #EC004E;
    padding: 40px;
}

.usernamewrap {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.shortform {
    background: #EC004E;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userfullname {
    margin-left: 20px;
    font-weight: bold;
}

.testimonialwrap p {
    font-style: italic;
}

.ratingob span {
    color: #ff9e00;
}

.viewalltestimonial {
    text-align: center;
}

.viewalltestimonial a {
    text-transform: uppercase;
    border: 1px solid #fc004e;
    padding: 10px 30px;
    display: inline-block;
}

#clienttestimonial .owl-prev {
    position: absolute;
    left: -30px;
    top: 36%;
    font-size: 24px;
}

#clienttestimonial .owl-next {
    position: absolute;
    right: -30px;
    top: 36%;
    font-size: 24px;
    left: auto;
}

#clienttestimonial .owl-prev:hover, #clienttestimonial .owl-next:hover {
    background-color: transparent;
    color: #000;
}

.aboutclicniqulification {
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    margin-bottom: 10px;
}


.aboutcliniccommondrpoints {
    text-align: right;
    margin-top: 80px;
}

.aboutclinicexpertdr {
    position: relative;
}

.aboutclinicdrpointsthree, .aboutclinicdrpointsfour {
    text-align: left;

}

.commoncrpoits {
    width: 40px;
    height: 40px;
    background: #EC004E;
    border-radius: 50%;
    border: 12px solid rgba(236, 0, 78, .1);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
}

.cirpointsone {
    top: 70px;
    left: 18px;
}

.cirpointstwo {
    bottom: 140px;
    left: 0px;

}

.cirpointsthree {
    top: 70px;
    right: 18px;
}

.cirpointsfour {
    bottom: 140px;
    right: 0px;
}


/* .dr_clinic_form .commoncaptcawrap_img img {
    width: 170px;
    align-items: center;
    display: flex;
} */

#missionvissionwrap .commonmissonvisionwrapper {
    height: auto;
}

#missionvissionwrap .commonmissonvisionwrapper p {
    height: 200px;
    overflow-y: scroll;
    padding-right: 5px;
}

#aboutclinicschoosewrap .whychoosimagewrap {
    float: right;
    width: auto;
    margin: 0 0 20px 20px;
}

#aboutclinicwrap {
    margin-top: 0;
    padding: 35px 0 20px 0;
}

#missionvissionwrap {
    padding: 60px 0;
    margin: 0;
}

#aboutclinicschoosewrap {
    padding: 50px 0;
}

#expertteamwrapper {
    padding: 35px 0px 0px;
}

#clienttestimonial {
    padding: 35px 0 40px;
    margin: unset;
}

.testimonialwrap p {
    overflow-y: scroll;
    height: 200px;
    padding-right: 5px;
}



/* _________________________________________________________________ */

/* clinic gallery page */


.gallery_box {
    margin-bottom: 20px;
}

.mid_img {
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 2px solid #ce004d;
}

.gallery_box .mid_img:hover img {
    scale: 1.2;
  }

.gallery_box .mid_img{
    overflow: hidden;
    transition: 0.3s;
}

.gallery_box .mid_img img{
    border-radius: 10px;
    transition: 0.3s;
}

#clinicgallerypage .row{
    justify-content: center;
}



/*----------------All Media Query-----------------------------------------------*/
@media(min-width:992px) and (max-width:1100px) {
    .showsubmitbutton {
        padding: 10px 30px;
    }

    .testimonialwrap p {
        overflow-y: scroll;
        height: 150px;
        padding-right: 5px;
    }

    .commonmissonvisionwrapper img {
        position: absolute;
        top: -25px;
        width: 50px;
    }

    .commonbannerclinic img {
        height: 500px;
    }

    #aboutclinicschoosewrap .whychoosaboutwrap .whychoosimagewrap {
        width: 50%;
    }
}

@media(min-width:769px) and (max-width:992px) {
    .commonbannerclinic img {
        height: 500px;
    }

    .commonheading {
        font-size: 50px;
    }

    .commonmissonvisionwrapper {
        padding: 80px 15px 40px;
    }

    .commonmissonvisionwrapper img {
        position: absolute;
        top: -25px;
        width: 50px;
    }

    #aboutclinicschoosewrap .whychoosimagewrap {
        float: none;
        width: 100%;
        margin: 10px 0 20px;
    }

    #aboutclinicschoosewrap .missionheading {
        font-size: 46px;
    }
}

@media(min-width:480px) and (max-width:768px) {
    .commonbannerclinic img {
        height: 500px;
    }

    .commonmissonvisionwrapper img {
        position: absolute;
        top: -25px;
        width: 50px;
    }

    #aboutclinicschoosewrap .whychoosimagewrap {
        float: none;
        width: 100%;
        margin: 10px 0 20px;
    }

    #aboutclinicschoosewrap .missionheading {
        font-size: 30px;
    }

    #aboutclinicschoosewrap {
        padding: 40px 0;
    }

    #clienttestimonial {
        padding: 35px 0 20px;
        margin: unset;
    }

      /* modal box close btn css */

    .lightbox .btn-close.position-absolute.top-0.end-0.p-3 svg{
        top: -30px !important;
        left: 15px;
    }

    /* _____________________________________________________ */

}


@media(min-width:320px) and (max-width:479px) {

    #topcommonbanner{
        padding: 0 0 30px 0;
    }

    .commonbannerclinic img {
        display: block;
        height: 150px;
    }

    #topcommonbanner .headingandbredcrumb {
        position: static;
        margin-top: 0px;
    }

    #topcommonbanner .headingandbredcrumb .commonbredcurmb {
        margin-bottom: 30px;
    }

    .dr_clinic_form .commoncaptcawrap_img img {
        width: 100%;
        height: 40px;
    }

    .dr_clinic_form .col-auto {
        width: 50%;
    }

    .dr_clinic_form .col-12.col-md-6 {
        width: 100%;
    }

    .dr_clinic_form input.errorsection+.error {
        margin-top: 0;
        text-align: left;
    }

    .dr_clinic_form input.captcha_field.errorsection+.error {
        margin-left: 0;
        position: relative;
    }

    .commonmainheadingwrap p span {
        display: block;
    }

    #missionvissionwrap {
        padding: 0px;
    }

    .commonmissonvisionwrapper {
        padding: 70px 10px 20px;
    }

    .commonmissonvisionwrapper img {
        top: 10px;
        width: 50px;
    }

    .missionheading {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .bigertext {
        display: none;
    }

    .teamimage img {
        width: 100%;
    }

    .teamimage {
        margin-top: 0px;
    }

    .commonmainheadingwrap p span {
        display: inline;
    }

    #expertteamwrapper .commonmainheadingwrap {
        margin-bottom: 0px;
    }

    #expertteamwrapper .aboutexpertheading.notofamily.commonheadingfontsize {
        margin-bottom: 10px;
    }
    
    .commonmainheadingwrap {
        margin-bottom: 20px;
        /* text-align: left; */
    }
    
    .commonmainheadingwrap p{
        text-align: left;
    }

    .contentwrapaboutclinic {
        text-align: left;
    }

    .commonheadingfontsize {
        font-size: 30px;
    }

    h1.aboutsoulheading.notofamily {
        font-size: 22px;
    }

    #aboutclinicschoosewrap .whychoosimagewrap {
        float: none;
        width: 100%;
        margin: 10px 0 20px;
    }

    #missionvissionwrap {
        padding: 60px 0;
        margin: 0;
    }

    #missionvissionwrap .mobilescrollparent {
        flex-wrap: wrap;
        overflow: auto;
    }

    #missionvissionwrap .mobilescrolchild {
        width: 100%;
        margin: 10px 0;
    }

    #aboutclinicschoosewrap {
        padding: 30px 0;
    }

    .whychoosaboutwrap .missionheading {
        margin-bottom: 20px;
        text-align: center;
    }

    .whychoospointersitem p {
        padding: 0px 0 0 50px;
    }

    .aboutcliniccommondrpoints {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cirpointsone {
        left: 3px;
    }

    .cirpointsthree {
        right: 4px;
    }

    .cirpointstwo {
        left: -12px;
    }

    .cirpointsfour {
        right: -11px;
    }

    .testimonialwrap p {
        overflow-y: scroll;
        height: 150px;
        padding-right: 10px;
    }

    /* modal box close btn css */

    .lightbox .btn-close.position-absolute.top-0.end-0.p-3 svg{
        top: -30px !important;
        left: 15px;
    }

    /* ___________________________________ */

    /* book an Appointment page banner setion*/

    #topcommonbanner.appointment_page_banner{
        padding: 30px 0 30px 0;
    }

    #topcommonbanner.appointment_page_banner .commonbannerclinic img {
        display: none;
    }

    #topcommonbanner.appointment_page_banner .headingandbredcrumb .commonbredcurmb {
        margin-bottom: 0px;
    }

    /* gallery page banner section start */

    #topcommonbanner.gallery_page_banner{
        padding: 30px 0 30px 0;
    }

    #topcommonbanner.gallery_page_banner .commonbannerclinic img {
        display: none;
    }

    #topcommonbanner.gallery_page_banner .headingandbredcrumb .commonbredcurmb {
        margin-bottom: 25px;
    }
}