.popular_treatment .playbuttoncontentwrap p::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.popular_treatment .playbuttoncontentwrap p::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f4f4f4;
}

/* Handle */
.popular_treatment .playbuttoncontentwrap p::-webkit-scrollbar-thumb {
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
}


.commonheading {
    font-size: 60px;
    text-transform: uppercase;
}

.aboutsoulheading p span {
    color: #f9004e;
}

.aboutsoulheading p {
    font-weight: bold;
}

.commonmainheadingwrap {
    text-align: center;
    margin-bottom: 30px;
}

#aboutclinicwrap {
    margin-top: 50px;
}

.contentwrapaboutclinic {
    margin-bottom: 30px;
    text-align: center;
}

.aboutsouldermapointerswrap ul li {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.aboutsouldermapointerswrap ul li i {
    margin-right: 10px;
    color: #ce004d;
}

#topcommonbanner:before {
    display: none;
}

.headingandbredcrumb {
    position: static;
    text-align: left;
}


/*------------------------------------------------------------------------------*/
.managemargin {
    margin-top: -530px;
}

.showsubmitbutton {
    width: 100%;
}

.bannersubheading {
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.bannersubheading span {
    color: #c8004d;
}

.bannertext {
    margin: 20px 0px 30px;
    color: #fff;
    border-bottom: 1px solid #555;
    /* padding-bottom: 30px; */
}

.from-wrap {
    justify-content: start;
}

.col-auto {
    width: 33.33%;
}

.topbannersubbanner {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.playbuttondfv {
    position: absolute;
    bottom: 50px;
    left: 44px;
}

.breadcrumb ul {
    justify-content: left;
    margin-top: 30px;
}

/* .commonbredcurmb {
    margin: 70px 0px;
} */

.breadcrumb ul li {
    color: #000;
}

#topcommonbanner .managemargin .bottom_mrg {
    display: flex;
    align-items: end;
}

.commonrequestform.doctor_page_form {
    padding-bottom: 10px;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
.aducationheading {
    font-size: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.commoneduerap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.imgeduwrap {
    margin-right: 40px;
}

.dermacontenttext p {
    margin-bottom: 14px;
    text-align: justify;
}

.dermacontentwrap {
    padding-right: 40px;
}

.educontentdetail p span {
    color: #f8004f;
}


.commoneduerap:last-child {
    margin: 0px;
    padding: 0pc;
    border: navajowhite;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
.clnicalexpertieaborder {
    border-top: #eee;
}

.clnicalexpertieaborder {
    border-top: 1px solid #eee;
    /* padding-top: 50px; */
}



.commonclinnicalcontentwrap {
    padding: 0px 0px;
    position: relative;
    display: flex;
    align-items: baseline;
}

.commonclinnicalcontentwrap:before {
    content: '';
    display: inline-flex;
    width: 80px;
    height: 3px;
    margin-right: 20px;
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/


.aboutdrtab {
    width: 46%;
}

.aboutdrtabbutton {
    width: 54%;
    display: flex;
}

.abdrcommonactive {
    position: relative;
}

.playbuttoncontentwrap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0px;
    right: 0px;
    padding: 0px 40px 20px;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    display: flex;
    justify-content: end;
    /* align-items: self-start; */
    flex-direction: column;
}

.imagedrheading {
    margin: 10px 0px;
    font-size: 24px;
    color: #fff;
}

.playbuttoncontentwrap p {
    color: #fff;
}

.aboutdrtabbutton .nav-link {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    border: 1px solid #eee;
    height: 220px;
    width: 44%;
    padding: 0px;
    background: #fff;
    margin-right: 0px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.buttonimagetext p {
    color: #000;
    line-height: 21px;
    font-weight: 500;
    margin-top: 10px;
}

.buttonimagetext p span {
    display: block;
}

.aboutdrtabbutton .nav-link.active, .aboutdrtabbutton .show>.nav-link {
    background-color: #fff;
    border: 1px solid #f9004e;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

}

/*------------------------------------------------------------------------------------------------*/
.mesotherpycontentwrap ul li {
    margin-bottom: 30px;
}



.mesotherpycontentwrap {
    padding-right: 20px;
}

.mesotherpycontentwrap ul li {
    display: flex;
    align-items: baseline;
    line-height: 30px;
}

.mesotherpycontentwrap ul li.display-in
{display:inherit;}

.mesotherpycontentwrap ul li i {
    margin-right: 18px;
    color: #C3004C;
    font-size: 20px;
}

#dermawrap {
    padding: 40px 0;
}

#clnicalexpertieawrapper {
    padding: 40px 0;
    background-color: #f5f5f5;
}

#populartreatment {
    padding: 40px 0px;

}

#meshotheropywrapper {
    padding: 40px 0;
    background-color: #fff7f7;
}

/* #clnicalexpertieawrapper {
    margin-top: 50px;
} */
.banner_form input.errorsection+.error {
    color: red;
    font-size: 12px;
    margin-top: 0;
    padding-bottom: 0;
}

.banner_form input.captcha_field.errorsection+.error {
    color: red;
    font-size: 12px;
    margin-top: 0px;
    padding-bottom: 0;
    margin-left: 0;
    position: absolute;
}

.col-auto {
    width: 33.3%;
}

.col_auto_1 {
    width: 50%;
}

.about_doctor_page .commonbannerclinic img {
    height: 700px;
}

.popular_treatment .playbuttoncontentwrap p {
    height: 150px;
    overflow-y: scroll;
    padding-right: 10px;
}

.Doc_contents .whychoosimagewrap {
    float: right;
    width: 50%;
    margin: 0 0 20px 20px;
}

.Doc_contents {
    padding: 40px 0;
    background-color: #fff7f7;
}


/*------------------------------------------------------------------------------------------------*/
@media(min-width:1101px) and (max-width:1399px) {
    .managemargin {
        margin-top: -445px;
    }
}

@media(min-width:992px) and (max-width:1100px) {
    /* .Doc_contents .whychoosaboutwrap .whychoosimagewrap {
        width: 50%;
    } */

    .commonheading {
        font-size: 40px;
    }

    .bannertext {
        margin: 20px 0px 20px;
        color: #fff;
        border-bottom: 1px solid #555;
        padding-bottom: 0;
    }

    .commonbredcurmb {
        margin: 0px 0px 40px;
    }

    .managemargin {
        margin-top: -380px;
    }

    .aboutdrtabbutton .nav-link {
        height: 166px;
    }

    .popular_treatment .playbuttoncontentwrap p {
        height: 150px;
        overflow-y: scroll;
        padding-right: 10px;
    }
}

@media(min-width:769px) and (max-width:991px) {
    .Doc_contents .whychoosimagewrap {
        float: none;
        width: 100%;
        margin: 10px 0 20px;
    }

    .breadcrumb.commonbredcurmb.for-mobile {
        display: block;
    }

    .aboutdrtabbutton .nav-link {
        height: 120px;
        width: 40%;
    }

    .popular_treatment .playbuttoncontentwrap p {
        height: 135px;
        overflow-y: scroll;
        padding-right: 5px;
    }

    .playbuttoncontentwrap {
        padding-bottom: 15px;
    }

    .breadcrumb.commonbredcurmb.for-desktop {
        display: none;
    }

    .about_doctor_page .commonbannerclinic img {
        height: 500px;
    }

    .commonheading {
        font-size: 40px;
    }

    .bannertext {
        margin: 20px 0px 0px;
        color: #fff;
        border-bottom: 1px solid #555;
        padding-bottom: 0;
    }

    .commonbredcurmb {
        margin: 70px 0px 43px;
    }

    .breadcrumb ul li {
        color: #fff;
    }

    #dermawrap {
        padding: 70px 0 40px;
    }



    .managemargin {
        margin-top: -510px;
    }

    .dr_ban_img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .commonheadingfontsize {
        font-size: 40px;
    }
}

@media(min-width:480px) and (max-width:768px) {
    .Doc_contents .whychoosimagewrap {
        float: none;
        width: 100%;
        margin: 10px 0 20px;
    }

    .aboutdrtabbutton .nav-link {
        height: 120px;
        width: 40%;
    }

    .popular_treatment .playbuttoncontentwrap p {
        height: 120px;
        overflow-y: scroll;
        padding-right: 10px;
    }

    .about_doctor_page .commonbannerclinic img {
        height: 590px;
    }

    .commonheading {
        font-size: 40px;
    }

    .bannertext {
        margin: 20px 0px 0px;
        color: #fff;
        border-bottom: 1px solid #555;
        padding-bottom: 0;
    }

    .commonbredcurmb {
        margin: 70px 0px 43px;
    }

    .breadcrumb ul li {
        color: #fff;
    }

    #dermawrap {
        padding: 70px 0 40px;
    }



    .managemargin {
        margin-top: -510px;
    }

    .dr_ban_img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(min-width:320px) and (max-width:479px) {

    #dermawrap {
        padding: 10px 0;
    }

    .Doc_contents .whychoosimagewrap {
        float: none;
        width: 100%;
        margin: 10px 0 20px;
    }

    .managemargin {
        margin-top: 0px;
        padding-top: 20px;
    }

    .headingandbredcrumb {
        margin-top: 0px;
    }

    .bannersubheading {
        color: #000;
        font-size: 18px;
        margin-top: 0;
    }

    .bannertext {
        margin: 10px 0px 0px;
        color: #000;
        border-bottom: 0px;
        padding-bottom: 30px;
    }

    .commonbredcurmb {
        margin: 0px 0px;
    }

    .breadcrumb ul {
        margin-top: 0px;
    }

    .topbannersubbanner {
        width: 100%;
        margin: 10px auto;
    }

    #topcommonbanner {
        padding-bottom: 0px;
    }

    .dermacontentwrap {
        padding-right: 0px;
        margin-top: 20px;
    }

    .dermacontentheading {
        margin-bottom: 10px;
    }

    .firsteduwrap {
        margin-right: 20px;
        width: 100%;
        margin-bottom: 0px;
        border: 0px;
    }

    .aducationheading {
        font-size: 24px;
    }

    .commoneduerap {
        width: 90%;
        display: block;
    }

    .eduspcailtion {
        display: flex;
    }

    #clnicalexpertieawrapper {
        margin-top: 0px;
        padding: 30px 0;
    }

    .commonmainheadingwrap {
        margin-bottom: 10px;
    }

    #populartreatment {
        padding: 30px 0px;
    }

    #populartreatment .commonheadingfontsize {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .Doc_contents {
        padding: 30px 0;
        background-color: #fff7f7;
    }

    .clnicalexpertieaborder {
        border-top: unset;
        padding-top: 0px;
    }

    .aboutdrtab {
        width: 100%;
        order: 2;
    }

    .aboutdrtabbutton {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
    }

    .aboutdrtabbutton .nav-link {
        height: auto;
        padding: 20px 40px;
        width: 100%;
        margin-left: 0px;
    }

    .mobilechangeview {
        flex-direction: column;
    }

    .playbuttoncontentwrap {
        bottom: 10px;
        width: 100%;
        left: 0px;
        right: 0px;
        padding: 0px 8px;
    }

    .playbuttoncontentwrap p {
        display: none;
    }

    .imagedrheading {
        margin: 10px 0px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
    }

    .meshotheropyheading br {
        display: none;
    }

    .mesotherpycontentwrap {
        padding-right: 0px;
    }

    /* .nav-container .nav-items {
        min-width: 100%;
    } */

    .col-auto {
        width: 50%;
    }
    .commonmainheadingwrap {
        text-align: left;
    }
}