.commonheading{
    font-size: 60px;
    text-transform: uppercase;
}
.blogheading {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 26px;
}

.blogadminame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.blogsubmit {
    color: #fff;
    border: 0px;
    padding: 4px 10px;
}
.blogcontentwrap {
    /* border-bottom: 2px solid #ce004d; */
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 10px;
    position: relative;
    margin-top: 30px;
}
.blogcontentwrap:before{
    content: '';
    position: absolute;
    left: 0px;
    height: 3px;
    width: 0px;
    bottom: 0px;
    transition: .5s;
    background: transparent linear-gradient(269deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
}
.blogcontentwrap:hover:before{
    width: 100%;
    transition: .5s;
}
.detailwrap {
    padding: 10px 20px;
}
p.adminn {
    color: #c5004c;
    font-weight: bold;
    line-height: 1;
}

@media(min-width:320px) and (max-width:768px){



    .commonmainheadingwrap p span {
        display: inline;
    }
    .commonmainheadingwrap {
        margin-bottom: 20px;
    }
} 