.commonheading {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
} 
/*--------------------blogs---details----------------------*/
#blogdetailwrap {
    padding: 40px 0;
}

.detailedwrap-heading {
    font-size: 30px;
    font-family: 'Noto Serif';
    margin-bottom: 10px;
}

.detaildwrap ul {
    display: flex;
    align-items: center;
}

.detaildwrap ul li i {
    margin-right: 10px;
    color: #c8004c;
}

.detaildwrap ul li {
    margin-right: 10px;
}

.detaildwrap ul li:last-child {
    margin-right: 0px;
}

.detaildwrap {
    margin-bottom: 20px;
}

.detailedcontentwrap p {
    line-height: 28px;
    margin-bottom: 8px;
}

.detailedcontentwrap p {
    line-height: 28px;
}

.detailedcontentwrap ul li {
    margin-bottom: 8px;
    position: relative;
    line-height: 28px;
    padding-left: 16px;
}

/* .detailedcontentwrap ul li strong {
    display: flex;
    align-items: baseline;
} */

.detailedcontentwrap ul li:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent linear-gradient(269deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    /* margin-right: 10px; */
    display: inline-block;
    border-radius: 50%;
    top: 10px;
    left: 0px;
}

.recentpostwrap {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.recentpostheading {
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.recentlinkwrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.recentpostimage {
    width: 30%;
    margin-right: 20px;
}

.recentpostcontent {
    width: 70%;
}

.recentcontentheading {
    font-weight: bold;
    transition: .5s;
}

p.shordic {
    line-height: 20px;
}
.recentlinkwrap:hover .recentcontentheading{
    color: #FF004F;
    transition: .5s;
}

@media(min-width:320px) and (max-width:768px) {



    .commonmainheadingwrap p span {
        display: inline;
    }

    .commonmainheadingwrap {
        margin-bottom: 20px;
    }
}