body {

  font-family: 'Noto Serif', serif;

  font-family: 'Poppins', sans-serif;



}



p {

  line-height: 30px;

}



.notofamily {

  font-family: 'Noto Serif', serif;



}



.commonheadingfontsize {

  font-size: 46px;

}



.poppinsfamily {

  font-family: 'Poppins', sans-serif;

}



a {

  text-decoration: none;

}



.commonanchor:hover {

  background: transparent linear-gradient(271deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

  color: #fff;

}



html,

body,

div,

span,

applet,

object,

iframe,

h1,

h2,

h3,

h4,

h5,

h6,

p,

blockquote,

pre,

a,

abbr,

acronym,

address,

big,

cite,

code,

del,

dfn,

em,

img,

ins,

kbd,

q,

s,

samp,

small,

strike,

strong,

sub,

sup,

tt,

var,

b,

u,

i,

center,

dl,

dt,

dd,

ol,

ul,

li,

fieldset,

form,

label,

legend,

table,

caption,

tbody,

tfoot,

thead,

tr,

th,

td,

article,

aside,

canvas,

details,

embed,

figure,

figcaption,

footer,

header,

hgroup,

menu,

nav,

output,

ruby,

section,

summary,

time,

mark,

audio,

video {

  margin: 0;

  padding: 0;

  border: 0;

  font-size: 100%;

  /* vertical-align: baseline; */

}



/* HTML5 display-role reset for older browsers */

/* article, aside, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section {

	display: block;

} */



ol,

ul {

  list-style: none;

}



blockquote,

q {

  quotes: none;

}



blockquote:before,

blockquote:after,

q:before,

q:after {

  content: '';

  content: none;

}



table {

  border-collapse: collapse;

  border-spacing: 0;

}



/*------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------Main header desktop---------------------------------------------------------------*/



header {

  position: relative;

}



.fixed-top {

  background-color: rgba(0, 0, 0, .9);

  z-index: 999999;

}



.topul {

  padding: 0px 28px;

  align-items: center;

}



.topul li:last-child a {

  display: inline-block;

  background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

  padding: 10px;

}



.navbar-nav .nav-link {

  color: #fff;

  text-transform: uppercase;

  padding: 10px 0px;

}



.dropend .dropdown-toggle {

  color: #000;

  margin-left: 1em;

}



.dropdown-item:hover {

  background-color: transparent;

  color: #C1004C;

}



.dropdown .dropdown-menu {

  display: none;

}



.dropdown:hover>.dropdown-menu,

.dropend:hover>.dropdown-menu {

  display: block;

}



.header-right .dropdown-menu li a {

  padding: 6px 10px;

  min-width: 210px;

}



.bodybga {

  overflow: hidden;

  /* padding-right: 17px; */

}



.commonbgcolorbutton {

  background: transparent linear-gradient(269deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

}



/*----------------mobile cta------------------------*/



#button,

#whatsappicon {

  display: inline-block;

  background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

  width: 40px;

  height: 40px;

  text-align: center;

  border-radius: 4px;

  position: fixed;

  bottom: 85px;

  right: 10px;

  opacity: 0;

  visibility: hidden;

  z-index: 1;

  border-radius: 50%;

  display: flex;

  align-items: center;

  justify-content: center;

  cursor: pointer;

}



#button::after,

#whatsappicon::after {

  content: "\f077";

  /* f176 */

  font-family: FontAwesome;

  font-weight: normal;

  font-style: normal;

  font-size: 20px;

  color: #fff;

}



#button.show {

  opacity: 1;

  visibility: visible;

  background: #3D3D3D;

  border: 1px solid #fff;

}



#whatsappicon {

  left: auto;

  right: 10px;

  bottom: 140px;

  opacity: 1;

  visibility: visible;

  background: #25d366;

  z-index: 9999;

}



#whatsappicon:after {

  content: '\f232';
  font-size: 28px;

}







#mobilecta {

  -webkit-box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.2);

  box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.2);

  position: fixed;

  bottom: 0px;

  width: 100%;

  padding: 8px 0px 4px;

  background: #fff;

  z-index: 9999;

}



.cta-wrap {

  display: flex;

  justify-content: space-around;

  align-items: center;

}



.commonmobilecta a img {

  width: 25px;

}

.commonmobilecta a {
  display: block;
  text-align: center;
}

.commonmobilecta a p {
  margin-bottom: 0px;
  /* margin-top: 10px; */
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

/*--------------end--mobile cta------------------------*/

.main-headerwrap {
  position: absolute;
  top: 0px;
  width: 100%;
}

/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 1.6px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#showRight span:nth-child(1) {

  width: 15px;

}



#showRight span:nth-child(2) {

  width: 20px;

}



#showRight span:nth-child(3) {

  width: 15px;

}



.animated-icon2 span:first-child {

  width: 15px;

}



.animated-icon1 span {

  background: #e65100;

}



.animated-icon2 span {

  background: #e3f2fd;

}



.animated-icon3 span {

  background: #f3e5f5;

}



.animated-icon1 span:nth-child(1) {

  top: 0px;

}



.animated-icon1 span:nth-child(2) {

  top: 10px;

}



.animated-icon1 span:nth-child(3) {

  top: 20px;

}



.animated-icon1.open span:nth-child(1) {

  top: 11px;

  -webkit-transform: rotate(135deg);

  -moz-transform: rotate(135deg);

  -o-transform: rotate(135deg);

  transform: rotate(135deg);

}



.animated-icon1.open span:nth-child(2) {

  opacity: 0;

  left: -60px;

}



.animated-icon1.open span:nth-child(3) {

  top: 11px;

  -webkit-transform: rotate(-135deg);

  -moz-transform: rotate(-135deg);

  -o-transform: rotate(-135deg);

  transform: rotate(-135deg);

}



/* Icon 3*/



.animated-icon2 span:nth-child(1) {

  top: 0px;

}



.animated-icon2 span:nth-child(2),

.animated-icon2 span:nth-child(3) {

  top: 10px;

}



.animated-icon2 span:nth-child(4) {

  top: 20px;

}



.animated-icon2.open span:nth-child(1) {

  top: 11px;

  width: 0% !important;

  left: 50%;

}



.animated-icon2.open span:nth-child(2) {
  width: 25px !important;


  -webkit-transform: rotate(45deg);

  -moz-transform: rotate(45deg);

  -o-transform: rotate(45deg);

  transform: rotate(45deg);

}



.animated-icon2.open span:nth-child(3) {

  width: 25px !important;

  -webkit-transform: rotate(-45deg);

  -moz-transform: rotate(-45deg);

  -o-transform: rotate(-45deg);

  transform: rotate(-45deg);

}



.animated-icon2.open span:nth-child(4) {

  top: 11px;

  width: 0%;

  left: 50%;

}



/* Icon 4 */



.animated-icon3 span:nth-child(1) {

  top: 0px;

  -webkit-transform-origin: left center;

  -moz-transform-origin: left center;

  -o-transform-origin: left center;

  transform-origin: left center;

}



.animated-icon3 span:nth-child(2) {

  top: 10px;

  -webkit-transform-origin: left center;

  -moz-transform-origin: left center;

  -o-transform-origin: left center;

  transform-origin: left center;

}



.animated-icon3 span:nth-child(3) {

  top: 20px;

  -webkit-transform-origin: left center;

  -moz-transform-origin: left center;

  -o-transform-origin: left center;

  transform-origin: left center;

}



.animated-icon3.open span:nth-child(1) {

  -webkit-transform: rotate(45deg);

  -moz-transform: rotate(45deg);

  -o-transform: rotate(45deg);

  transform: rotate(45deg);

  top: 0px;

  left: 8px;

}



.animated-icon3.open span:nth-child(2) {

  width: 0%;

  opacity: 0;

}



.animated-icon3.open span:nth-child(3) {

  -webkit-transform: rotate(-45deg);

  -moz-transform: rotate(-45deg);

  -o-transform: rotate(-45deg);

  transform: rotate(-45deg);

  top: 21px;

  left: 8px;

}



/*-------------------------------------end----Main header desktop--------------------------------------------------------------*/

.top-header {

  background-color: rgba(0, 0, 0, .15);

}



.topul li a {

  color: #fff;

}



#navbarSupportedContent .mainnave>li {

  margin-right: 20px;

  letter-spacing: 0.6px;

}



.header-right .dropdown-menu {

  border-radius: 0px;

  padding: 0px;

}



/* .header-right .dropdown-menu li.dropend .dropdown-menu li {

  margin-bottom: 10px;

} */



.header-spacing {

  padding: 0px 30px;

}



.commonheaderallpages {

  position: fixed;

  width: 100%;

  top: 0px;

  z-index: 999;

}





.commonheaderallpagesmobile {

  z-index: 999;

}



/*------------------------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------popupappointment-----------------------------------------------------------------*/

#popupappointmentform .modal-content {

  border-radius: 0px;

}



.popappointment .form-control {

  border-radius: 0px;

  margin-bottom: 12px;

}



.commonsubmitform {

  background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

  border: 0px;

  padding: 10px 40px;

  color: #fff;

  text-transform: uppercase;

  margin: 0 auto;

  display: block;

}



.psrelative {

  position: relative;

}



.psrelative .fa {

  position: absolute;

  right: 10px;

  top: 12px;

}



.captchawrap {

  display: flex;

  align-items: center;

  justify-content: center;

  padding: 0px 50px;

}



.captchaimagewrap {

  display: flex;

  align-items: center;

  justify-content: center;

  margin-right: 50px;

  border: 1px solid #ccc;

  width: 50%;

  margin-bottom: 12px;

}



.captchaimage img {

  width: 100%;

}



.captcharefreshbutton button {

  margin-left: 12px;

  border: 0px;

  color: #ca004c;

  background-color: transparent;

}



/*------------------------------------------------------------------------------------------------------------------------------*/



footer {

  background: rgb(16, 16, 16);

  padding: 60px 0px 20px;

  font-weight: 300;

  margin-top: 70px;

}



.footertext p {

  color: #fff;

  text-align: justify;

  margin-bottom: 10px;

}



.fotersocialmedia ul {

  display: flex;

}



.fotersocialmedia ul li {

  margin-right: 20px;

}



.fotersocialmedia ul li a i {

  color: #fff;

  background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

  height: 40px;

  width: 40px;

  font-size: 26px;

  display: flex;

  align-items: center;

  justify-content: center;

  border-radius: 50%;

}



/* .fotersocialmedia {

  margin: 30px 0px;

} */





.footerlinksheading {

  color: #fff;

  font-size: 20px;

  margin-bottom: 20px;

}



.footerlinkwrap {

  color: #fff;

}



.footerlinkwrap ul li a {

  margin-bottom: 10px;

  display: inline-block;

}



.footerlinkwrap ul li:last-child a {

  margin: 0px;

}



.commonfooterpadding {

  padding: 0px 30px;

}



.commonborderright {

  border-right: 1px solid #eee3;

}



.footerlinks {

  border-top: 1px solid #ffffff30;

  border-bottom: 1px solid #ffffff30;

  color: #fff;

  padding: 30px 0px;

  margin: 0px 40px;

}



.footerlinks ul {

  display: flex;

  align-items: center;

  justify-content: center;

}



.footerlinks ul li {

  margin-right: 30px;

  position: relative;

}



/* .footerlinks ul li:after {

  content: "|";

  padding-left: 30px;

} */



.footerlinks ul li:last-child {

  margin: 0px;

}



.footerlinks ul li:last-child::after {

  display: none;

}



.copyrightwrap {

  color: #fff;

  font-size: 14px;

}



.treamsconditionwrap {

  color: #fff;

}



.treamsconditionwrap ul {

  display: flex;

  justify-content: right;

}



.managebottomfooter {

  margin: 30px 30px 0px;

  align-items: center;

  justify-content: space-between;

}



.copyrightwrap p a {

  color: #f7004e;

  font-weight: 600;

  text-decoration: underline;

}



.treamsconditionwrap ul li {

  margin-right: 30px;

  font-size: 14px;

}



.treamsconditionwrap ul li:last-child {

  margin: 0px;

}



/* .for-desktop {

  display: block;

} */



/*-----------------------------mobile nav-------------------------*/

.mobileapbuttonwrap a {

  display: inline-block;

  background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

  padding: 10px;

}



.mobilenavigation {

  display: flex;

  align-items: center;

  justify-content: space-between;

  width: 100%;

}



/* .nav-container {

  position: relative;

  display: inline-block;

  max-width: 50px;

  max-height: 50px;

  overflow: visible;

  outline: none;

} */

.nav-container.is-active .nav-toggle:before,

.nav-container.is-active .nav-toggle:after {

  box-shadow: none;

}



.nav-container.is-active .nav-toggle:before {

  transform: rotate(-45deg);

}



.nav-container.is-active .nav-toggle:after {

  transform: rotate(45deg);

}



.nav-container.is-active .nav-items {

  transform: translate(0, 0);

}



.nav-container .nav-toggle {

  position: relative;

  width: 40px;

  height: 40px;

  margin: 10px;

  z-index: 2;

}



.nav-container .nav-toggle:hover {

  cursor: pointer;

}



.nav-container .nav-toggle:before,

.nav-container .nav-toggle:after {

  content: "";

  position: absolute;

  top: 18px;

  left: 0;

  transform: translate(0, 0);

  width: 100%;

  height: 1.6px;

  background: transparent linear-gradient(269deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

}



.nav-container .nav-toggle:before {

  box-shadow: 0 10.3333333333px 0 0 #FF004F;

}



.nav-container .nav-toggle:after {

  box-shadow: 0 -10.333333px 0 0 #C1004C;

}



.nav-container .nav-items {

  /* position: absolute; */

  top: 0;

  left: 0;

  min-width: 300px;

  max-width: 50vw;

  width: 100vw;

  height: 100vh;

  z-index: 1;

  padding: 80px 20px 20px 10px;

  transition: transform 0.3s ease;

  transform: translate(calc(-100% - 50px), 0);

  background: #EFEFEF;

  display: grid;

  grid-template-columns: 1fr;

  grid-gap: 5px 0;

  align-content: start;

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);

}



.nav-container .nav-items .nav-item {

  background: #e2e2e2;

  padding: 10px;

  transition: background-color 0.3s ease;

}



.nav-container .nav-items .nav-item:hover {

  cursor: pointer;

  background: #d6d6d6;

}



.for-mobile {

  display: none;

}



.for-desktop {
  display: block;
}



/* mobile nav bottom li border */

.for-mobile .nav-container .nav-items .nav-item.border_bottom {
  border-bottom: unset;
}



/*--------------------------------------common visible requestform------------------------*/

.from-wrap {

  justify-content: center;

}



.from-wrap .form-control {

  border-radius: 0px;

  padding: 15px 10px;

}



.commoncaptcawrap {

  display: flex;

  align-items: center;

  background: #fff;

  /* padding: 0px 10px; */
  padding: 0px;

  justify-content: center;

  /* height: 100%; */

}



.commoncaptcawrap img {

  width: 180px;

  padding: 0px 10px;

}

.commoncaptcawrap_img img {

  width: 100%;

  padding: 0px 0px;

}



#topcommonbanner {

  position: relative;

}



.commoncaptcawrap button {

  border: 0px;

  background: transparent;

}



.headingandbredcrumb {

  position: absolute;

  bottom: 30px;

  width: 100%;

  right: 0px;

  left: 0px;

}



.commoncaptcawrap button {

  border: 0px;

  background: transparent;

  color: #e4004d;

}



.headingandbredcrumb {

  text-align: center;

}



.commonbredcurmb {

  margin-bottom: 50px;

}



#topcommonbanner:before {

  content: '';

  position: absolute;

  background-color: rgba(0, 0, 0, .6);

  width: 100%;

  height: 100%;

  bottom: 0px;

}



.breadcrumb ul {

  display: flex;

  align-items: center;

  justify-content: center;
  flex-flow: wrap;

  width: 100%;

}



.breadcrumb ul li {
  margin-right: 12px;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
}



.breadcrumb ul li::after {
  content: '>';
  margin-left: 12px;
  margin-top: 1px;
}



.breadcrumb ul li a {

  text-transform: uppercase;
  font-size: 12px;

}



.breadcrumb ul li:last-child {

  margin: 0px;

}



.breadcrumb ul li:last-child::after {

  display: none;

}



.commonheading {

  font-size: 60px;

  text-transform: uppercase;

  color: #fff;

}



.showsubmitbutton {

  background: transparent linear-gradient(269deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

  border: 0px;

  /* height: 100%; */

  padding: 10px 30px;

  color: #fff;

}



/*------------------------------------end--common visible requestform------------------------*/



/*------------------home blog section------------------------------------*/

.homeblogheading {

  text-align: center;

  margin-bottom: 50px;

}

#homeblogwrapper {
  margin-top: 50px;
}



.homeblogcontentwrapper {

  padding: 10px;

  border: 1px solid #ccc;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); */

  box-shadow: 15px 15px 22px 0px rgba(0, 0, 0, 0.08);

}




.homeblogimagewrap {

  position: relative;

}



.blogcalender {

  position: absolute;

  top: 0px;

  right: 10px;

}



.blogcalender p span {

  display: block;

  line-height: 1;

  font-size: 14px;

  margin-top: 10px;

}



.blogcalender p {

  text-align: center;

  background: transparent linear-gradient(359deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

  padding: 10px 14px;

  color: #fff;

  font-size: 22px;

  line-height: 1;

}





.homeblogcontenttext {

  padding: 20px;

}



.homeblogcontentheading {

  font-size: 20px;

  margin-bottom: 10px;

  font-weight: 500;

}



.homblogview {

  margin-top: 20px;

}



.homblogview a {

  border: 1px solid #e8004e;

  display: inline-block;

  text-transform: uppercase;

  padding: 5px 20px;

}



.homeblogviewmore {

  text-align: center;

  margin-top: 50px;

}



.homeblogviewmore a {

  display: inline-block;

  text-transform: uppercase;

  border: 1px solid #df004d;

  padding: 10px 20px;

}



/*------------------end--home blog section------------------------------------*/

/*--------------------home appointment------------------------------------*/



#appointmentwrapper {

  background-image: url(../img/appointment-banner.jpg);

  background-position: center;

  background-size: cover;

  background-repeat: no-repeat;

  margin-top: 0px;

  padding-bottom: 120px;

}

#appointmentwrapper.reqst_an_appointment {
  padding-top: 100px
}



.homeappointmentheading {

  text-align: center;

  padding: 50px;

  color: #fff;

}

.appointaddresswrap {
  display: flex;
  background: #fff;
  height: 150px;
  align-items: center;
  padding: 0px 18px;
}

.apadressicon {

  margin-right: 10px;

  background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

  border-radius: 50%;

  height: 50px;

  width: 50px;

  display: flex;

  align-items: center;

  justify-content: center;

}



.apadressicon img {

  width: 50px;

  padding: 10px;

}



.aplocationheading {

  font-weight: 500;

  font-size: 18px;

}



.apmobilenumber a {

  font-weight: bold;

  font-size: 20px;

}



/*-----------------------*/

#bigappointwrap {

  margin-top: -100px;

}



.appointbg {

  background: #fff;

  padding: 30px 10px;

  margin: 0px;

  -webkit-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);

  -moz-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);

  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);

}



.bigapform .form-control {

  border-radius: 0px;

  padding: 12px;

  margin-bottom: 20px;

}



.bigapformrelative {

  position: relative;

}



.bigapformrelative .fa {

  position: absolute;

  right: 10px;

  top: 18px;

  color: #C1004C;

}



.big-apsubmitwrapper {

  display: flex;

  align-items: center;

  justify-content: space-between;

}



.bigcaptchawrap {

  display: flex;

  /* align-items: center; */

}



.captcgawrap {

  display: flex;

  border: 1px solid #ccc;

  padding: 6px 10px;

  align-items: center;

}



.captcgawrap img {

  width: 70px;

}



.apcaptchabutton button {

  border-radius: 0px;

  border: 0px;

  background: transparent;

  color: #EC004E;

}



.captchbgimg {

  line-height: 1;

}



.apcaptchabutton {

  margin-left: 30px;

}



.inputfillcaptcha input {

  height: 100%;

  padding: 7px;

  /* margin-left: 16px; */

  border: 1px solid #ccc;

}



.bgcaptchasubmit button {

  border: 1px solid #C1004C;

  background: transparent;

  padding: 7px 40px;

  text-transform: uppercase;

}



.bgcaptchasubmit button:hover {

  background: transparent linear-gradient(271deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

  color: #fff;

}



/*--------------------home appointment------------------------------------*/

/*------------------------------------Playbutton-----------------*/

.playbutton.vid button {
  background: transparent linear-gradient(0deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
  border-radius: 50%;
  border: 0px;
  height: 50px;
  width: 50px;
}

/*----------------------------------End--Playbutton-----------------*/

.modal-backdrop {
  --bs-backdrop-opacity: 0.85;
}

.bottom_form .apcaptchabutton {
  margin-left: 0px;
}

.bottom_form .captchacodeleftpic {
  width: 134px;
}

.bottom_form .captchacodeleftpic img {
  width: 100%;
}

.captcgawrap {
  padding: unset;
  margin-right: 16px;
}

input.errorsection+.error {
  color: red;
  font-size: 12px;
  margin-top: -20px;
  padding-bottom: 0px;
}

input.captcha_field.errorsection+.error {
  color: red;
  font-size: 12px;
  margin-top: 0px;
  padding-bottom: 0;
  /* margin-left: 16px; */
  position: absolute;
}

.close_icon {
  display: none;
}

.animate-menu-right.animate-menu-open {
  right: 0;
  top: 124px;
  background: #1e282c;
}

.side_menubar {
  top: 70px !important;
}

.animate-menu {
  top: 124px;
}

.banner_form .commoncaptcawrap_img img {
  width: 170px;
  align-items: center;
  display: flex;
}

.doctor_page_form .banner_form .commoncaptcawrap_img img {
  width: 100%;
  height: 40px;
}

.banner_form input.errorsection+.error {
  color: red;
  font-size: 16px;
  margin-top: 0;
  text-align: left;
  padding-bottom: 0;

}

.popfrom_homepage .banner_form .commoncaptcawrap {
  border: 1px solid #ced4da;
}

.banner_form .commoncaptcawrap,
.banner_form .showsubmitbutton {
  min-height: 55px;
}

.banner_form input.captcha_field.errorsection+.error {
  margin-left: 0;
}

.contact_form_map {
  margin: 30px 0 0;
}

.contact_form_address {
  margin-top: 30px;
}

.contact_form_address .appointaddresswrap,
.reqst_an_appointment .appointaddresswrap {
  background: #f1f1f1;
  border-radius: 20px;
  box-shadow: #ccc 0px 2px 8px 0px;
}

.Conttact_form_main {
  margin-top: 30px !important;
}

/* .Conttact_form_main {
  margin-top: 0 !important;
} */

.contact_page_footer footer {
  margin-top: 0;
}

input#captchacode_app.errorsection+.error {
  color: red;
  font-size: 12px;
  margin-top: 0px;
  padding-bottom: 0;
  /* margin-left: 16px; */
  position: absolute;
}

.commonbannerclinic img {
  height: 500px;
  object-fit: cover;
}

.banner_form {
  margin-right: 0;
  margin-left: 0;
}

/* apponitment page*/

#appointmentwrapper.reqst_an_appointment {
  background-image: unset;
}

.popfrom_homepage .error {
  margin: 5px 0px 5px 5px;
  color: red;
  font-size: 12px;
}

.error {
  margin: -15px 0px 5px 5px;
  color: red;
  font-size: 12px;
}

.commonrequestform .error {
  margin: 5px 0px 5px 5px;
  color: red;
  font-size: 12px;
}

/* appointment form date field */

#date_app {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0rem;
  outline: 0px;
}

#date_app::after {
  font-family: "FontAwesome";
  content: "\f133";
  position: absolute;
  color: black;
  right: 10px;
  top: 11px;
}

#date_app:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

#date_app::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}




/* All Media Queries */

@media(min-width:992px) and (max-width:1100px) {

  .header-spacing {
    padding: 0px 0px;
  }

  footer {
    padding: 40px 20px 20px;
  }

  footer .commonfooterpadding {
    padding: 0px 0px;
  }

  #footercontent .managebottomfooter {
    margin: 15px 15px 0px;
  }

  .footerlinksheading {
    font-size: 18px;
  }

  .managebottomfooter {
    margin: 20px 0px 0px;

  }

  .our_usefull_link {
    border-right: unset;
  }
}

@media(min-width:769px) and (max-width:992px) {

  .for-mobile a.navbar-brand.fw-bold {
    margin-left: 10px;
  }

  .commonheaderallpages {
    display: none;
  }

  .commonheaderallpagesmobile {
    display: block;
  }

  .contact_page_banner.commonbannerclinic img {
    height: 400px;
  }

  .page_heading .commonheading {
    font-size: 50px;
  }

  .contact_form_address .detailaddress p {
    font-size: 14px;
    line-height: 1.4;
  }

  /* Mobile_menu_css */

  .nav-top {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 101;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    background-color: #188976;
  }

  .nav-top .hamburger {
    margin-left: auto;
    color: #fff;
    cursor: pointer;
  }

  /* 
.nav-drill {
    margin-top: 50px;
    transform: translateX(100%);
  } */

  .nav-is-toggled .nav-drill {
    transform: translateX(0);
  }

  .nav-is-toggled::after {
    opacity: 1;
    visibility: visible;
  }

  .nav-drill {
    display: flex;
    position: absolute;
    z-index: -7;
    top: 0;
    left: 0;
    transform: translate(calc(-100% - 50px), 0);
    transition: 0.45s;
    margin-top: 45px;
  }

  .nav-items {
    flex: 0 0 100%;
  }

  .nav-item:not(:last-child) {
    border-bottom: solid 1px #daf9f4;
  }

  .nav-link {
    display: block;
    padding: 0;
    background-color: #fff;
    color: #2f2f2f;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
  }

  .nav-expand-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: #daf9f4;
    transition: 0.3s;
    visibility: hidden;
  }

  .nav-expand-content .nav-item:not(:last-child) {
    border-bottom: solid 1px #20b49c;
  }

  .nav-expand-content .nav-link {
    background-color: #daf9f4;
  }

  .nav-expand-content .nav-back-link {
    display: flex;
    align-items: center;
    background-color: transparent !important;
    color: #2f2f2f;
    font-weight: 500;
  }

  .nav-expand-content .nav-back-link::before {
    content: '<';
    margin-right: 0.5em;
  }

  .nav-expand-link {
    display: flex;
    justify-content: space-between;
  }

  .nav-expand-link::after {
    content: '>';
    flex: 0 1 auto;

  }

  .nav-expand.active>.nav-expand-content {
    transform: translateX(0);
    visibility: visible;
  }

  .nav-expand .nav-expand-content {
    background-color: #daf9f4;
  }

  .nav-expand .nav-expand-content .nav-link {
    /* background-color: #daf9f4; */
    background-color: transparent;
  }

  .nav-expand .nav-expand-content .nav-expand-content {
    background-color: transparent;

    /* background-color: #aff1e6; */
  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-link {
    /* background-color: #aff1e6; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
    /* background-color: #84e9d9; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
    /* background-color: #84e9d9; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content {
    /* background-color: #59e1cb; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
    /* background-color: #59e1cb; */
    background-color: transparent;

  }

  .for-mobile .nav-item:not(:last-child) {
    border-bottom: solid 1px #ffcee1;
  }

  .for-mobile .nav-container .nav-items .nav-item {
    background: transparent;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  .nav-container .nav-items {
    padding: 15px 10px;
    overflow-y: scroll;
  }

  .main-headerwrap {
    position: absolute;
    background-color: #fff;
  }

  .headernewclass {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    transition: .5s;
    z-index: 9999;
  }

  .appointaddresswrap {
    padding: 0px 10px;
  }

  .apadressicon img {
    width: 30px;
    padding: 5px;
  }

  #appointmentwrapper .detailaddress p {
    line-height: 1.4;
  }

  .apadressicon {
    margin-right: 5px;
    height: 30px;
    width: 30px;
  }

  .apmobilenumber a {
    font-weight: unset;
    font-size: unset;
  }

  #appointmentwrapper .detailaddress a {
    word-break: break-all;
  }

  .nav-drill {
    top: 40px
  }

/* footer below copyright setion */

  .treamsconditionwrap ul {
    justify-content: center;
}
.copyrightwrap {
  text-align: center;
}

}

@media screen and (min-width: 769px) {

  .dropend:hover>.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }

  .dropend .dropdown-toggle {
    margin-left: 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .dropdown.changehoverside:hover .subchilddrop {
    right: 100%;
    left: auto;
  }
}

@media(min-width:480px) and (max-width:768px) {

  .for-mobile a.navbar-brand.fw-bold {
    margin-left: 10px;
  }

  .contact_page_banner.commonbannerclinic img {
    height: 400px;
  }

  .main-headerwrap {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .headernewclass {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    transition: .5s;
    z-index: 9999;
  }

  .for-mobile {

    display: block;

  }

  .for-desktop {
    display: none;
  }

  .commonborderright .footerlogo {
    text-align: center;
  }

  .commonborderright .footertext p {
    text-align: center;
  }

  .commonborderright:nth-child(4),
  .commonborderright:nth-child(5) {
    margin: 0 0 20px 0px;
  }

  .footerlinks {
    border-top: unset;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0px 0px 15px;
    margin: 0px 0px 30px;
  }

  .apadressicon img {
    width: 65px;
  }

  .apadressicon {
    margin-right: 10px;
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .commonheadingfontsize {
    font-size: 30px;
    padding: 0px;
  }

  #bigappointwrap {
    margin-top: 0px;
    background: #3d3d3d;
    padding-bottom: 40px;
    position: relative;
    margin-bottom: 90px;
    height: 270px;
  }

  #bigappointwrap.appintment_mob {
    margin: unset;
    background: unset;
    padding: 30px 0;
    height: unset;
    position: unset;
  }

  .Conttact_form_main#bigappointwrap {
    margin-bottom: 30px;
    background: #fff;
    padding: unset;
    height: unset;
  }

  .Conttact_form_main .homeappointmentheading {
    padding-top: 20px;
  }

  .footertext {
    margin-bottom: 25px;
  }

  footer {
    background: rgb(16, 16, 16);
    padding: 20px 0px 20px;
    font-weight: 300;
    margin-top: 0px;
  }

  .commonfooterpadding {
    padding: 0px 0px;
  }

  .appointaddresswrap {
    display: flex;
    background: transparent;
    height: auto;
    align-items: flex-start;
    padding: 0px 0px;
    color: #fff;
    margin-bottom: 30px;
  }

  .apadressicon img {
    width: 65px;
    padding: 20px;
  }

  .apmobilenumber a {
    font-weight: unset;
    font-size: unset;
  }

  footer {
    margin-bottom: 80px;
  }

  .copyrightwrap {
    text-align: center;
  }

  .treamsconditionwrap ul {
    display: flex;
    justify-content: center;
  }

  .fotersocialmedia ul {
    display: flex;
    justify-content: center;

  }

  .managebottomfooter {
    margin: 0px 30px 0px;
    align-items: center;
    justify-content: space-between;
  }

  .fotersocialmedia {
    margin-bottom: 15px;
  }

  /* tablet menu bar */

  .nav-top {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 101;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    background-color: #188976;
  }

  .nav-top .hamburger {
    margin-left: auto;
    color: #fff;
    cursor: pointer;
  }

  /* 
.nav-drill {
    margin-top: 50px;
    transform: translateX(100%);
  } */

  .nav-is-toggled .nav-drill {
    transform: translateX(0);
  }

  .nav-is-toggled::after {
    opacity: 1;
    visibility: visible;
  }

  .nav-drill {
    /* display: flex; */
    /* position: absolute; */
    position: fixed;
    z-index: -7;
    top: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    left: 0;
    transform: translate(calc(-100% - 50px), 0);
    transition: 0.45s;
    margin-top: 45px;
  }

  .nav-items {
    flex: 0 0 100%;
  }

  .nav-item:not(:last-child) {
    border-bottom: solid 1px #daf9f4;
  }

  .nav-link {
    display: block;
    padding: 0;
    background-color: #fff;
    color: #2f2f2f;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 300;
    text-transform: uppercase;

  }

  .nav-expand-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: #daf9f4;
    transition: 0.3s;
    visibility: hidden;
  }

  .nav-expand-content .nav-item:not(:last-child) {
    border-bottom: solid 1px #20b49c;
  }

  .nav-expand-content .nav-link {
    background-color: #daf9f4;
  }

  .nav-expand-content .nav-back-link {
    display: flex;
    align-items: center;
    background-color: transparent !important;
    color: #2f2f2f;
    font-weight: 500;
  }

  .nav-expand-content .nav-back-link::before {
    content: '<';
    margin-right: 0.5em;
  }

  .nav-expand-link {
    display: flex;
    justify-content: space-between;
  }

  .nav-expand-link::after {
    content: '>';
    flex: 0 1 auto;

  }

  .nav-expand.active>.nav-expand-content {
    transform: translateX(0);
    visibility: visible;
  }

  .nav-expand .nav-expand-content {
    background-color: #daf9f4;
  }

  .nav-expand .nav-expand-content .nav-link {
    /* background-color: #daf9f4; */
    background-color: transparent;
  }

  .nav-expand .nav-expand-content .nav-expand-content {
    background-color: transparent;

    /* background-color: #aff1e6; */
  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-link {
    /* background-color: #aff1e6; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
    /* background-color: #84e9d9; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
    /* background-color: #84e9d9; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content {
    /* background-color: #59e1cb; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
    /* background-color: #59e1cb; */
    background-color: transparent;

  }

  .for-mobile .nav-item:not(:last-child) {
    border-bottom: solid 1px #ffcee1;
  }

  .for-mobile .nav-container .nav-items .nav-item {
    background: transparent;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  .nav-container .nav-items {
    padding: 15px 10px;
    overflow-y: scroll;
  }
}


@media(min-width:320px) and (max-width:479px) {
  .homeblogcontentwrapper {
    margin-bottom: 15px;
  }


  .for-desktop {
    display: none;
  }

  .for-mobile {

    display: block;

  }

  .for-desktop {
    display: none;
  }

  /*----------------------------------------------------------*/

  #bigappointwrap {

    margin-top: 0px;

    background: #3d3d3d;

    padding-bottom: 40px;

    position: relative;

    margin-bottom: 350px;

    height: 300px;

  }

  #bigappointwrap.appintment_mob {
    margin: unset;
    background: unset;
    padding: 30px 0;
    height: unset;
    position: unset;
  }

  #bigappointwrap.Conttact_form_main {
    background: unset;
    margin: unset;
    position: unset;
    height: unset;
    padding: unset;
  }

  .homeappointmentheading {

    padding: 20px 10px;

  }



  .big-apsubmitwrapper {

    display: block;

  }



  .bgcaptchasubmit {

    margin-top: 20px;

    text-align: center;

  }



  .inputfillcaptcha input {

    width: 100%;

  }



  .commonheadingfontsize {

    font-size: 30px;

  }



  /*-----------------------------------------------------------*/

  /*-----------------------footer-----------------------*/



  footer {

    background: rgb(16, 16, 16);

    padding: 20px 0px 20px;

    font-weight: 300;

    margin-top: 0px;
    margin-bottom: 68px;

  }



  .commonfooterpadding {

    padding: 0px 0px;

  }



  .commonborderright {

    border-right: 0px;

  }



  #footercontent {

    border-bottom: 1px solid #ccc;

  }



  .commonborderright:nth-child(4),

  .commonborderright:nth-child(5) {

    margin: 20px 0px;

  }



  .footerlinks {
    border-top: unset;
    border-bottom: unset;
    color: #fff;
    padding: 0px 0px 0px;
    margin: 0px 0px 0;

  }



  .footerlinks ul {

    display: flex;

    align-items: center;

    justify-content: center;

    flex-wrap: wrap;

  }



  .footerlinks ul li {

    margin-right: 10px;

    position: relative;

    margin-bottom: 15px;

  }



  .footerlinks ul li:last-child {

    margin-bottom: 15px;

  }



  .footerlinks ul li:after {

    content: "|";

    padding-left: 10px;

  }



  .footerlogo {

    margin-bottom: 20px;

  }



  .footertext p {

    text-align: left;

  }



  .appointaddresswrap {

    display: flex;

    background: transparent;

    height: auto;

    align-items: flex-start;

    padding: 0px 0px;

    color: #fff;

    margin-bottom: 30px;

  }



  .apadressicon {

    margin-right: 20px;

    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

    border-radius: 50%;

    height: 60px;

    width: 60px;

    display: flex;

    align-items: center;

    justify-content: center;

  }



  .apadressicon img {

    width: 70px;

    padding: 20px;

  }



  .managebottomfooter {

    margin: 0px;

    align-items: center;

    justify-content: space-between;

  }



  .fotersocialmedia ul {

    justify-content: center;

  }



  .fotersocialmedia ul li a i {

    color: #fff;

    background: transparent;

    height: 40px;

    width: 40px;

    font-size: 20px;

    margin: 12px 0;

    border-radius: 50%;

    border: 3px solid #fff;

  }



  .fotersocialmedia ul li a i:hover {

    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

    border: 1px solid #C1004C;

  }



  .sidesocialicons .fotersocialmedia {

    margin: 0px;

  }



  .sidesocialicons .fotersocialmedia ul li a i {

    color: #000;

    background: transparent;

    height: 40px;

    width: 40px;

    border-radius: 50%;

    border: 2px solid #FF004F;

    font-size: 20px;

  }



  .sidesocialicons .fotersocialmedia ul {

    justify-content: start;

  }



  .copyrightwrap {

    color: #fff;

    font-size: 13px;

    text-align: center;

    margin-bottom: 0px;

  }



  .copyrightwrap p {

    line-height: 20px;

  }



  .footertext {

    margin-bottom: 25px;

  }



  #footercontent {

    border-bottom: 1px solid #ccc;

  }



  .treamsconditionwrap ul li {

    display: inline-block;

    position: relative;

    margin-right: 5px;

    font-size: 11px;

  }



  .treamsconditionwrap ul li:after {

    content: '|';

    margin-left: 5px;

  }



  .treamsconditionwrap ul li:last-child:after {

    display: none;

  }



  .treamsconditionwrap ul {

    display: block;

    text-align: center;

  }



  .apmobilenumber a {

    font-weight: unset;
    font-size: unset;

  }



  /*----------------------------------mobile scroll slider--------------------------------------------------*/

  #topcommonbanner:before {

    display: none;

  }



  .mobilescrollparent {

    flex-wrap: nowrap;

    overflow: auto;

  }



  .mobilescrolchild {

    width: 90%;

  }



  /*--------------------------------end--mobile scroll slider--------------------------------------------------*/



  /*------------------------common banner-----------------------------------*/

  .commonbannerclinic img {

    display: none;

  }



  .headingandbredcrumb {

    position: static;

    margin-top: 125px;

  }



  .commonheading {

    font-size: 30px !important;

    color: #000;

    font-weight: bold;

  }



  .breadcrumb ul li {

    color: #000;

  }



  .commonrequestform {

    background: #fff;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    padding: 0px 20px 20px;

  }

  .headerfixtop {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    transition: .5s;
    z-index: 9999;
  }

  #topcommonbanner {
    position: relative;
    background: #F6F6EB;
    padding-bottom: 50px;

  }

  .main-headerwrap {
    position: static;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .mobileapbuttonwrap a {
    display: inline-block;
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    padding: 10px 6px;
    font-size: 12px;
    color: #fff;
  }

  .mobilenavigation {
    padding: 0px 10px;
  }

  .mobilenavigation img {
    width: 40px;
  }

  .nav-container .nav-toggle {
    margin: 0px;
    z-index: 2;
  }

  .main-headerwrap .navbar {
    padding: 0px;
  }

  .col-auto {
    width: 50%;
  }

  .commonrequestform .col-auto:last-child {
    width: 100%;
  }

  .commonrequestform .col-auto:last-child button {
    width: 100%;
    padding: 7px;
  }

  .commonrequestform .col-auto .form-control {

    padding: 10px;

  }

  /*------------------------common banner-----------------------------------*/

  /* -----------------------Home page blog---------------------------------- */

  .blogcalender {
    right: 0px;
  }

  .homeblogcontenttext {
    padding: 10px 10px;
  }

  .homeblogcontentheading {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .homeblogtextp p {
    font-size: 14px;
    line-height: 22px;
  }

  /* footer-design */
  .our_usefull_link .notofamily {
    display: none;
  }

  .our_usefull_link ul li {
    display: inline-block;
  }

  .our_usefull_link ul {
    text-align: center;
    font-size: 14px;
  }

  .our_usefull_link ul li a {
    padding: 0 10px;
    border-right: 1px solid #fff;
  }

  .our_usefull_link .commonfooterpadding {
    border-top: 1px solid #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
    padding-top: 10px;
  }

  /* Mobile_menu_css */
  .nav-top {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 101;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    background-color: #188976;
  }

  .nav-top .hamburger {
    margin-left: auto;
    color: #fff;
    cursor: pointer;
  }

  /* 
.nav-drill {
    margin-top: 50px;
    transform: translateX(100%);
  } */

  .nav-is-toggled .nav-drill {
    transform: translateX(0);
  }

  .nav-is-toggled::after {
    opacity: 1;
    visibility: visible;
  }

  .nav-drill {
    display: flex;
    position: absolute;
    z-index: -7;
    top: 0;
    left: 0;
    transform: translate(calc(-100% - 50px), 0);
    transition: 0.45s;
    margin-top: 50px;
  }

  .nav-items {
    flex: 0 0 100%;
  }

  .nav-item:not(:last-child) {
    border-bottom: solid 1px #daf9f4;
  }

  .nav-link {
    display: block;
    padding: 0;
    background-color: #fff;
    color: #2f2f2f;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 300;
    text-transform: uppercase;

  }

  .nav-expand-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: #daf9f4;
    transition: 0.3s;
    visibility: hidden;
  }

  .nav-expand-content .nav-item:not(:last-child) {
    border-bottom: solid 1px #20b49c;
  }

  .nav-expand-content .nav-link {
    background-color: #daf9f4;
  }

  .nav-expand-content .nav-back-link {
    display: flex;
    align-items: center;
    background-color: transparent !important;
    color: #2f2f2f;
    font-weight: 500;
  }

  .nav-expand-content .nav-back-link::before {
    content: '<';
    margin-right: 0.5em;
  }

  .nav-expand-link {
    display: flex;
    justify-content: space-between;
  }

  .nav-expand-link::after {
    content: '>';
    flex: 0 1 auto;

  }

  .nav-expand.active>.nav-expand-content {
    transform: translateX(0);
    visibility: visible;
  }

  .nav-expand .nav-expand-content {
    background-color: #daf9f4;
  }

  .nav-expand .nav-expand-content .nav-link {
    /* background-color: #daf9f4; */
    background-color: transparent;
  }

  .nav-expand .nav-expand-content .nav-expand-content {
    background-color: transparent;

    /* background-color: #aff1e6; */
  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-link {
    /* background-color: #aff1e6; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
    /* background-color: #84e9d9; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
    /* background-color: #84e9d9; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content {
    /* background-color: #59e1cb; */
    background-color: transparent;

  }

  .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
    /* background-color: #59e1cb; */
    background-color: transparent;

  }

  .for-mobile .nav-item:not(:last-child) {
    border-bottom: solid 1px #ffcee1;
  }

  .for-mobile .nav-container .nav-items .nav-item {
    background: transparent;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  .nav-container .nav-items {
    padding: 15px 10px;
    overflow-y: scroll;
  }


  .headernewclass {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    transition: .5s;
    z-index: 9999;
  }

  /* .nav-is-toggled.bodybga .nav-drill {
    margin-top: 60px;
  } */

  .nav-is-toggled.bodybga .nav-container .nav-items {
    box-shadow: unset;
  }

  .banner_form .commoncaptcawrap_img img {
    width: 100%;
    height: 40px;
  }

  .popfrom_homepage .banner_form .commoncaptcawrap_img img {
    min-height: 50px;
  }

  /* contact us page banner section */

  #topcommonbanner.contact_page_banner {
    padding: 30px 0 30px 0;
  }

  #topcommonbanner.contact_page_banner .headingandbredcrumb {
    margin-top: 0;
  }

  #topcommonbanner.contact_page_banner .commonbannerclinic img {
    display: none;
  }

  #topcommonbanner.contact_page_banner .headingandbredcrumb .commonbredcurmb {
    margin-bottom: 0px;
  }

  /* banner form captch alingment */

  .banner_form .commoncaptcawrap,
  .banner_form .showsubmitbutton {
    min-height: 45px;
    border: 1px solid #ced4da;
  }

}