.realcatwrap {
    margin-top: 30px;
}
.realcatheadingwrap {
    display: block;
    width: 90%;
    background: #fff;
    border-top: 1px solid #C1004C;
    margin: -20px auto 0px;
    text-align: center;
    position: relative;
    padding: 20px 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.realheading {
    font-size: 24px;
    font-family: 'Noto Serif';
    margin-bottom: 10px;
}
.realcatheadingwrap button {
    border: 0px;
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    padding: 6px 24px;
}

#realresultswrapper{
    padding: 40px 0;
}