.jumbotron {

    padding: 200px 0px 100px;

    position: relative;

    background: #242424;

}



.jumbotron h1 {

    font-size: 120px;

    font-family: 'Noto Serif';

    color: #fff;

}

p.lead {

    color: #fff;

}

.lead a {

    font-size: 14px;

}

.commongradientbutton {

    background: transparent linear-gradient(269deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

    color: #fff;

    display: inline-block;

    padding: 10px 30px;

    text-transform: uppercase;

    margin-top: 20px;

}





@media(min-width:320px) and (max-width:768px) {



    .jumbotron h1 {

        font-size: 50px;

        font-family: 'Noto Serif';

        color: #fff;

    }

    .jumbotron {

        padding: 150px 0px 60px;

    }

    p.lead {

        font-size: 14px;

    }

}
