/*----------------------------------------------------Banner text-------------------------------------------------------------*/

.commonheaderallpages {
    position: absolute;
}

.commonheaderallpages {
    position: relative;
}

section.bannersection {
    position: relative;
}

.extra-class {
    position: absolute;
    bottom: 45px;
    right: 0px;
    left: 0px;
}

.imgsign {
    text-align: center;
    color: #fff;
    margin-bottom: -20px;
}

.mdtext {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
}

.mainserviceslinkbanner ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainserviceslinkbanner ul li a {
    font-size: 18px;
    color: #fff;
    font-weight: 100;
}

.mainserviceslinkbanner ul li {
   position: relative;
}

.mainserviceslinkbanner ul li:after {
    content: '|';
    padding: 10px;
    color: #fff;
}

.mainserviceslinkbanner ul li:last-child:after {
    display: none;
}

.mainserviceslinkbanner {
    /* margin: 20px 0px 50px; */
    margin: 10px 0px 20px 0px;
}

.bannerpointheading {
    position: relative;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bannerpointheading:before {
    content: '';
    height: 3px;
    width: 30px;
    display: inline-block;
    margin-right: 20px;
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
}

.bannerpoint {
    padding: 0px 40px 0px 50px;
    color: #fff;
    font-size: 15px;
    line-height: 26px;
}

#main .wrapper {
    height: 600px;
    padding: unset;
}

.bannerpointerborder {
    border-top: 1px solid #ccc;
    padding-top: 35px;
}

.rigitborder {
    border-right: 1px solid #ccc;
}

.bannerpointwrap {
    padding: 0px 0px;
}

.requestwrapper {
    text-align: center;
    margin: 50px;
}

.requestheading {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.requestwrapper a {
    border: 1px solid #C1004C;
    padding: 10px 40px;
    display: inline-block;
}

/*----------------------home doctor-------------------------------------*/

#homedoctorwrap {
    background-image: url('../img/background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.forcenteritem {
    align-items: center;
    justify-content: center;
}

.homedrname {
    font-size: 46px;
}

.homeprofsion {
    color: #fff;
    background: transparent linear-gradient(271deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    display: inline-block;
    padding: 6px 20px;
    font-weight: 300;
    margin: 15px 0px;
}

.homedrcontent p {
    line-height: 30px;
    margin-bottom: 20px;
    text-align: justify;
}

.homedrcontent ul li {
    margin-bottom: 24px;
    line-height: 30px;
    display: flex;
    align-items: baseline;
}

.homedrcontent ul li i {
    color: #c6004c;
    margin-right: 12px;
    font-size: 20px;
}

.homedrreadmore {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.homedrreadmore a {
    border: 1px solid #c5004c;
    padding: 15px 30px;
    display: inline-block;
    margin-right: 30px;
    text-transform: uppercase;
}

.homedrcontent ul li:last-child {
    margin: 0px;
}

/*--------------------end--home doctor-------------------------------------*/

/*--------------------home about doctor-------------------------------------*/

#homeaboutdoctorwrap {
    background-image: url(../img/blakpattren-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    height: 600px;
}

.homeaboutdoctr {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.homeaboutdrcontent {
    text-align: center;
    color: #fff;
}

/*--------------------end--home about doctor-------------------------------------*/

/*--------------------end--home slider-------------------------------------*/

#clinicslider {
    margin-top: -190px;
}

.managesliderwidth {
    width: 70%;
    margin: 0 auto;
}

.managesliderwidth .owl-prev,
.managesliderwidth .owl-next {
    position: absolute;
    left: -100px;
    top: 40%;
}

.managesliderwidth .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #fff;
}

.managesliderwidth .owl-theme .owl-nav [class*=owl-]:hover i {
    color: #C1004C;
}

.managesliderwidth .owl-next {
    right: -100px;
    left: auto;
}

.managesliderwidth .owl-prev i,
.managesliderwidth .owl-next i {
    border: 2px solid #C1004C;
    padding: 10px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.managesliderwidth .owl-nav button.owl-prev.disabled,
.managesliderwidth .owl-nav button.owl-next.disabled {
    opacity: 1;
    background-color: #fff;
}

.managesliderwidth button.owl-prev.disabled i,
.managesliderwidth button.owl-next.disabled i {
    color: #C1004C;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background-color: #C1004C;
}

.sliderreadmore {
    text-align: center;
    margin-top: 30px;
}

.sliderreadmore a {
    display: inline-block;
    border: 1px solid #c1004c;
    padding: 15px 30px;
    line-height: 1;
    text-transform: uppercase;
}

/*----------------------homeend slider-------------------------------------*/

/*--------------------end--Expand image wrap-------------------------------------*/

.container-box {
    display: flex;
    width: 100%;
    padding: 4% 0%;
    box-sizing: border-box;
    height: 770px;
}

.box-expand {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    background: #3D3D3D;
    position: relative;
}

.box-expand>img {
    width: 100%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.box-expand>span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}

.boxcontentheading {
    color: #fff;
    text-align: center;
}

.box-content-inner {
    text-align: center;
    color: #fff;
}

.expandservicesextandwrapper {
    display: none;
    position: relative;
}

.godestination {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.godestination a {
    background: transparent linear-gradient(267deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    font-size: 24px;
}

.box-content-inner p {
    margin-bottom: 20px;
    font-weight: 300;
}

.box-content {
    padding: 30px 50px 0px;
}

.readexpand {
    display: none;
}

.readexpand a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    padding: 10px 20px;
}

.expan-imagewrap {
    margin-top: auto;
    text-align: center;
}

.expan-imagewrap img {
    position: absolute;
    bottom: 0;
    left: 53%;
    transform: translate(-50%);
}



.box-content-inner p {

    margin-bottom: 20px;

    font-weight: 300;

}





.expendservices {

    display: flex;

    justify-content: space-between;

    /* padding: 6px; */

}



.expandservicesclickwrap {

    border: 1px solid #ccc;

    padding: 10px;

}



.displayonhover {

    display: none;

    -webkit-transition: display .4s ease;

    -moz-transition: display .4s ease;

    -ms-transition: display .4s ease;

    transition: display .4s ease;

}



.expandservicesclickwrap p {

    line-height: 1;

    margin: 10px 0;

}





.expendservicesimage img {

    width: 80%;

    border-radius: 100%;

    padding: 6px;

    transition: .5s;

    background: #fff;

}



#imageexpandwrap .col-12 {

    padding: 0px;

}



.expandservicesclickwrap {

    text-align: center;

}



.expendservicesimage {

    line-height: 1px;

}



.box-expand:hover {

    flex: 1 1 85%;

    display: flex;

    align-items: center;

    padding: 0px 14px;

}



.box-expand:hover .expan-imagewrap {

    margin-top: auto;

    margin-bottom: -7px;

    width: 40%;

}



.box-expand:hover .expan-imagewrap img {

    height: 600px;

    object-fit: cover;

    transition: .5s;

    object-position: center;

}



.box-expand:hover>img {

    width: 100%;

    height: 100%;

}



.expandservicesheading {

    color: #fff;

    font-size: 22px;

    font-weight: 500;

    margin-bottom: 10px;

}



.expandservicesclickwrap p {

    color: #fff;

}



.expendservicesviewmore a {

    display: inline-block;

    color: #fff;

    text-transform: uppercase;

    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

    padding: 8px 15px;

    font-size: 14px;

    margin-left: 8px;

    margin-top: 12px;

    position: absolute;

    right: 10px;

}



.box-expand:hover .expandservicesextandwrapper,

.box-expand:hover .displayonhover,

.box-expand:hover .readexpand {

    display: block;

}



.box-expand .smallwidthheading {

    display: none;

}



.other-column .box-content,

.other-column .expan-imagewrap,

.other-column .expandservicesextandwrapper,

.other-column .godestination {

    display: none;

}





.other-column .smallwidthheading {

    display: block;

    transform: rotate(-90deg);

    position: absolute;

    left: -26px;

    top: 46%;

    line-height: 1;

}



.other-column:last-child .smallwidthheading {

    left: -94px;

}



.box-expand:hover .godestination {

    display: none;

}



.box-expand:hover .boxcontentheading,

.box-expand:hover .box-content-inner {



    text-align: left;

}



.box-expand:hover .box-content {

    padding-left: 20px;

    width: 40%;

}



.box-expand:hover .expandservicesextandwrapper {

    width: 28%;

    padding-right: 10px;

}



/*--------------------end--Expand image wrap-------------------------------------*/

/*--------------------end--written testimonials-------------------------------------*/

.managewrittenspacing {
    margin: 30px 0;
}

.sorcewrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.candidate-name {
    font-family: 'Noto Serif';
    margin-bottom: 2px;
    font-size: 18px;
}

.testi-content-wrap {
    margin-top: 16px;
}

.stars-wrap span {
    display: inline-block;
    color: #f6c52f;
}

.testi-content-wrap p {
    line-height: 26px;
    overflow: auto;
    max-height: 150px;
    margin-bottom: 0px;
    height: 150px;
    padding-right: 12px;
}

.written-contentwrap {
    padding: 20px;
    position: relative;
    border: 1px solid #ccc;
    height: 300px;
}

.qoutesimage {
    position: absolute;
    top: -30px;
}

.qoutesimage img {
    width: 50px;
}

.warning-content span {
    display: block;
    font-size: 12px;
    margin-top: 14px;
    color: #000000;
    font-family: 'Noto Serif';
}

/* reviews scroll css */
.testi-content-wrap p::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.testi-content-wrap p::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f4f4f4;
}

/* Handle */
.testi-content-wrap p::-webkit-scrollbar-thumb {
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

/*--------------------end--written testimonials-------------------------------------*/


/*--------------------combind testimonials slider-------------------------------------*/

.testimonialheading {

    text-align: center;

    margin-bottom: 45px;

}



#combindtestimonialswrapper .item {

    padding: 50px 50px 100px;

}



.cutwidth {

    width: 98%;

    margin: 0 auto;

}



.combindtestimonialsmetterwrap {

    display: flex;

    border: 1px solid #FFD8CC;

    align-items: center;

}



.vidosidetestimonialwrap {

    width: 50%;

}



.combindwrittentestimonial {

    width: 50%;

    padding-left: 120px;

    position: relative;

}



.quotsimage {

    position: absolute;

    top: -100px;

    right: -40px;

    border: 1px solid #FFD8CC;

    padding: 20px;

    background: #fff;

}



.vidosidetestimonialimage {

    position: relative;

}



.playbutton.vid {

    position: absolute;

    bottom: 10px;

    left: 10px;

}



.videorealresult {

    position: absolute;

    right: -60px;

    bottom: -50px;

    background: transparent linear-gradient(0deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

    padding: 14px;

}



.playbutton.vid button {

    background: transparent linear-gradient(0deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;

    border-radius: 50%;

    border: 0px;

    height: 50px;

    width: 50px;

}



.combideclientname ul {

    display: flex;

    align-items: center;

}



.combideclientname ul li img {

    width: 40px !important;

}



.combideclientname ul li:first-child {

    margin-right: 20px;

}



/* .testimonialheading {

    text-align: center;

    margin-bottom: 50px;

} */



.combindwrittentestimonialheading {

    font-size: 26px;

    margin-bottom: 16px;

}



.combindwrittencontent p {

    font-style: italic;

    margin-bottom: 20px;

}



.combideclientname ul li {

    font-size: 18px;

    font-weight: 500;

}



.viewalltestimonial {

    text-align: center;

}



.viewalltestimonial a {

    text-transform: uppercase;

    border: 1px solid #fc004e;

    padding: 10px 30px;

    display: inline-block;

}



#combindtestimonialswrapper .owl-dots {

    position: absolute;

    bottom: 83px;

    right: 100px;

    background: #fff;

    padding: 0px 20px;

}



#combindtestimonialswrapper .owl-theme .owl-dots .owl-dot span {

    width: 15px;

    height: 15px;

    margin: 5px 3px;

    background: #FFD8CC;

}



#combindtestimonialswrapper .owl-theme .owl-dots .owl-dot.active span {

    background: #fc004e;

}

/* start ofbook an appointment sction */

#appointmentwrapper {
    background-image: url(../img/appointment-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    padding-bottom: 120px;
}

/* end of book an appointment sction */



/*-------------------end-combind testimonials slider-------------------------------------*/

/*-------------------Small banner------------------------------------*/

#smallbanner {

    background-image: url(../img/smallbanner-bg.jpg);

    background-position: center;

    background-size: cover;

    background-repeat: no-repeat;

    display: flex;

    align-items: center;

    height: 350px;

    margin-top: 50px;

}



.smallbannerheading {

    font-size: 46px;

    color: #fff;

    margin-bottom: 20px;

}



.smallbannerheadingbg {

    font-size: 80px;

    font-weight: 600;

    line-height: 0;

    color: #fff;

    opacity: 0.05;

}

.smallbannercontent {
    color: #fff;
}


.pointers_for_mobile {
    display: none;
}

.homedrpngimage img {
    width: 100%;
    margin-bottom: 0px;
}

.readmoreservices.for_mob {
    display: none;
}

.popfrom_homepage .col_auto_1{
    width: 50%;
}

.popfrom_homepage button#submitcall{
    margin-top: 6px;
}

/*------------------end--five services slider------------------------------------*/

/*------------------media queries------------------------------------*/

/* below desktop */
@media only screen and (min-width:1100px) and (max-width:1250px) {
    .header-banner img {
        height: 650px;
        object-fit: cover;
    }

    .extra-class {
        bottom: 30px;
    }

    .bannerpoint {
        padding: 0px 0 0px 50px;
    }

    .bannerpointerborder {
        padding-top: 25px;
    }

    .homedrreadmore {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .homedrreadmore a {
        padding: 10px 20px;
        margin-right: 10px;
    }

    .forcenteritem {
        align-items: unset;
    }

    #homedoctorwrap .img_end {
        display: flex;
        align-items: end;
    }

    #clinicslider {
        margin-top: -165px;
    }

    #homeaboutdoctorwrap {
        padding-top: 40px;
    }

    .expandservicesclickwrap {
        padding: 10px 5px;
        font-size: 15px;
    }

    .container-box {
        height: 780px;
    }

    .box-content {
        padding: 30px 25px 0px;
    }

    .box-expand:hover .expan-imagewrap img {
        height: 540px;
    }

    .written-contentwrap {
        padding: 16px;
    }

    .warning-content span {
        font-size: 10px;
    }

    .smallbannerheadingbg {
        font-size: 70px;
    }
}

@media only screen and (min-width:1025px) and (max-width:1101px) {
    #homedoctorwrap .img_end {
        display: flex;
        align-items: end;
    }

    .forcenteritem {
        align-items: unset;
    }

    .homedrreadmore {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .homedrreadmore a {
        padding: 12px 14px;
        margin-right: 20px;
    }

    #homeaboutdoctorwrap {
        padding-top: 30px;
        height: 605px;
    }

    .box-content {
        padding: 16px 20px 0px;
    }

    .box-expand:hover .expan-imagewrap img {
        height: 500px;
    }

    .expandservicesclickwrap p {
        font-size: 14px;
    }

    .expandservicesclickwrap {
        padding: 6px;
    }

    .smallbannerheadingbg {
        font-size: 70px;
    }

    .header-banner img {
        height: 600px;
        object-fit: cover;
    }

    .bannerpointerborder {
        padding-top: 25px;
    }

    .bannerpoint {
        padding: 0px 0 0px 50px;
    }

    .extra-class {
        bottom: 28px;
    }

}

@media only screen and (min-width:992px) and (max-width:1024px) {
    #imageexpandwrap .commonheadingfontsize {
        font-size: 38px;
    }

    .mod-home_services_slider .row .wrapper .item.right .inner .innerheading {
        font-size: 20px !important;
        writing-mode: vertical-lr;
    }

    .mod-home_services_slider .row .wrapper .item.center {
        width: 80%;
        max-height: inherit !important;
    }

    #main .wrapper {
        height: 500px;
    }

    .homedrreadmore a {
        padding: 15px 10px;
        margin-right: 22px;
    }

    #clinicslider {
        margin-top: -146px;
    }

    .item .combindtestimonialsmetterwrap {
        padding: 30px;
    }

    .combindwrittentestimonial {
        padding-left: 80px;
    }

    .videorealresult {
        bottom: -80px;
    }

    .quotsimage {
        top: -73px;
        right: -58px;
        padding: 13px;
    }

    .smallbannerheadingbg {
        font-size: 64px;
    }

    .header-banner img {
        height: 600px;
        object-fit: cover;
    }

    .extra-class {
        bottom: 28px;
    }

    .bannerpoint {
        padding: 0px 0 0px 50px;
    }

    .bannerpointerborder {
        padding-top: 25px;
    }

    .requestwrapper {
        margin: 38px;
    }

    .requestheading {
        font-size: 36px;
        margin-bottom: 24px;
    }

    #homedoctorwrap {
        padding-top: 50px;
    }

    .homedrname {
        font-size: 42px;
    }

    .homedrcontent p {
        margin-bottom: 10px;
    }

    .forcenteritem {
        align-items: unset;
    }

    #homedoctorwrap .img_end {
        display: flex;
        align-items: end;
    }

    .homedrreadmore {
        margin-top: 25px;
        margin-bottom: 14px;
    }

    .homedrcontent ul li {
        margin-bottom: 12px;
    }

    #homeaboutdoctorwrap {
        padding-top: 35px;
    }

    .commonheadingfontsize {
        font-size: 40px;
    }

    .box-content {
        padding: 30px 20px 0px;
    }

    .box-expand:hover .expan-imagewrap img {
        height: 490px;
    }

    .box-expand:hover {
        align-items: unset;
    }

    .expandservicesheading {
        font-size: 20px;
    }

    .box-expand:hover .expandservicesextandwrapper {
        width: 31%;
        padding-top: 30px;
    }

    .expandservicesclickwrap {
        padding: 8px 5px;
    }

    .expandservicesclickwrap p {
        font-size: 15px;
    }

    .written-contentwrap {
        padding: 14px;
    }

    .warning-content span {
        font-size: 10px;
    }

    .testimonialheading {
        margin-bottom: 30px;
    }

    /* home page product image */

    #smallbanner {
        background-position: right;
    }

}

@media(min-width:769px) and (max-width:991.5px) {

    .bannersection .bannerpointerborder .container {
        max-width: 950px;
    }
    
    .header-banner img {
        height: 580px;
        object-fit: cover;
    }

    .extra-class {
        bottom: 25px;
    }

    .mdtext {
        font-size: 24px;
    }

    .mainserviceslinkbanner ul li a {
        font-size: 17px;
    }

    .imgsign {
        margin-bottom: -16px;
    }

    .bannerpointwrap {
        padding: 0 12px 0 0px;
    }

    .bannerpointheading {
        margin-bottom: 8px;
    }

    .bannerpointerborder {
        padding-top: 22px;
    }

    .mainserviceslinkbanner {
        margin: 10px 0px 16px;
    }

    .bannerpointheading:before {
        width: 24px;
        margin-right: 16px;
    }

    .bannerpoint {
        padding: 0px 0px 0px 40px;
    }

}

@media(min-width:768px) and (max-width:991.5px) {

    .ipadviewnone {
        display: none;
    }

    .requestwrapper {
        margin: 30px;
    }

    .requestheading {
        font-size: 32px;
        margin-bottom: 16px;
    }

    #main .wrapper {
        height: 500px;
        padding: unset;
    }

    .homedrname {
        font-size: 38px;
    }

    #homedoctorwrap {
        padding-top: 35px;
    }

    .homeprofsion {
        margin: 8px 0px;
    }

    .homedrcontent p {
        margin-bottom: 8px;
    }

    .homedrreadmore img {
        width: 194px;
    }

    .forcenteritem {
        align-items: unset;
    }

    .homedoctorwrap .img_end {
        align-items: end;
        display: flex;
    }

    #homeaboutdoctorwrap {
        padding-top: 30px;
        height: 600px;
    }

    .commonheadingfontsize {
        font-size: 36px;
    }

    .homeaboutdoctr {
        margin-bottom: 5px;
    }

    #clinicslider {
        margin-top: -100px;
    }

    .box-content {
        padding: 15px 15px 0px;
    }

    .container-box {
        padding: 3% 0%;
    }

    .box-expand:hover {
        padding: 0px 0;
    }

    .box-expand:hover .expandservicesextandwrapper {
        width: 34%;
        padding-right: 14px;
        padding-top: 16px;
    }

    .box-expand:hover {
        align-items: unset;
    }

    .box-expand:hover .expan-imagewrap img {
        height: 470px;
    }

    .expandservicesclickwrap {
        padding: 8px 5px;
    }

    .expandservicesclickwrap p {
        margin: 8px 0;
        font-size: 14px;
    }

    .other-column .smallwidthheading {
        left: -23px;
    }

    .other-column:last-child .smallwidthheading {
        left: -78px;
    }

    .testimonialheading {
        margin-bottom: 20px;
    }

    .written-contentwrap {
        padding: 16px;
    }

    .warning-content span {
        font-size: 11px;
    }

    .homedrreadmore a {
        padding: 10px 15px;
        margin-right: 14px;
    }

    .homedrreadmore {
        margin-top: 16px;
        margin-bottom: 10px;
    }

    #homedoctorwrap .img_end {
        display: flex;
        align-items: end;
    }

    .smallbannerheadingbg {
        font-size: 56px;
    }

    #appointmentwrapper .apadressicon {
        margin-right: 0px;
        margin-bottom: 8px;
    }

    #appointmentwrapper .apmobilenumber a {
        font-size: 16px;
    }

    #appointmentwrapper .detailaddress {
        font-size: 14px;
    }

    #appointmentwrapper .appointaddresswrap {
        height: 160px;
        flex-direction: column;
        padding: 8px 5px;
        text-align: center;
    }

    .homeappointmentheading {
        text-align: center;
        padding: 30px;
    }

    /* #bigappointwrap {
        margin-top: 0px;
        background: #3d3d3d;
        padding-bottom: 40px;
        position: relative;
        margin-bottom: 100px;
        height: 270px;
    } */

    footer {
        margin-top: 40px;
    }

    /* home page product image */

    #smallbanner {
        background-position: right;
    }


}

@media(min-width:320px) and (max-width:768px) {

    /* .for-mobile {
        display: block;
    } */

    .for-desktop {
        display: none;
    }

    /* .service_tabs {
        display: block;
    } */

    .header-banner img {
        height: 590px;
        object-fit: cover;
    }

    .extra-class {
        bottom: 25px;
    }

    .imgsign img {
        width: 100%;
    }

    .mdtext {
        font-size: 25px;
    }

    .mainserviceslinkbanner ul li a {
        font-size: 16px;
    }

    .bannerpointwrap {
        padding: 0px;
    }

    .rigitborder {
        border-right: none;
    }

    .bannerpointerborder {
        padding-top: 20px;
    }

    .callmbutton {
        text-align: center;
        margin-bottom: 30px;
    }

    .mainserviceslinkbanner {
        margin: 10px 0px 16px;
    }

    .bannerpointheading {
        margin-bottom: 8px;
    }

    .bannerpoint {
        padding: 0px 0px 0px 50px;
        font-size: 15px;
    }

    .callmbutton a {
        display: inline-block;
        background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
        padding: 10px 20px;
        color: #fff;
    }

    .bannerpointheading span {
        font-size: 16px;
        margin-left: 10px;
    }

    .requestwrapper {
        margin: 20px 0px;
    }

    .requestheading {
        font-size: 26px;
        margin-bottom: 16px;
    }

    #pills-tab {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        padding: 0px;
        -webkit-box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.1);
        align-items: baseline;
        --bs-nav-link-padding-x: 0px;
        position: relative;
        z-index: 9;
    }

    #pills-tab li button p {
        font-size: 14px;
        font-weight: bold;
    }

    #pills-tab li button {
        background: #fff;
        width: 170px;
        padding: 16px 10px;
    }

    #pills-tab li button.active {
        border-bottom: 3px solid #FF004F;
        border-radius: 0px;
        position: relative;
        z-index: 1;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    }

    .for-mobile .nav-item.border_bottom {
        border-right: 1px solid #eee;
        border-bottom: unset !important;
    }

    #pills-tab li button img {
        filter: brightness(0) invert(0);
    }

    #pills-tab li button.active img {
        filter: unset;
    }

    #pills-tab li button.active:before {
        content: '';
        background: #fff;
        position: absolute;
        left: 0px;
        right: 0;
        top: 0px;
        bottom: 0px;
        z-index: -1;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #000;
    }

    .mainfivservicesscrollwrap {
        background: #414141;
    }

    .ivthaerapy-wrap {
        position: relative;
        padding-bottom: 30px;
    }

    .commonfivecontentstyle {
        background: #fff;
        padding: 30px;
        margin: -30px 20px 0px;
        position: relative;
    }

    .htpheading {
        font-size: 26px;
    }

    .htpsubheading {
        font-size: 16px;
        margin: 8px 0px;
        font-weight: bold;
    }

    .mainfivservicesscrollwrap .ivimagewrap.commonfivestyle img {
        height: 320px;
        object-fit: cover;
    }

    .readmoreservices a {
        background: transparent linear-gradient(271deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        margin-top: 12px;
    }

    /*------------------------------------------------------------------------*/

    /*------------------------------------------------------------------------*/

    #imageexpandmobilewrap {
        margin-top: 30px;
    }

    .mbswrap {
        background: #3D3D3D;
        padding-top: 20px;
        text-align: center;
        color: #fff;
        position: relative;
        height: 650px;
    }

    .manage-mbwidthparent {
        overflow: auto;
        flex-wrap: nowrap;
    }

    .manage-mbwidth {
        width: 90%;
        padding: 3px;
    }

    .mbsheading {

        font-size: 30px;

    }



    .mbscontent {

        margin: 20px 0px;

        padding: 0px 15px;

    }



    /*------------------------------------------------------------------------*/

    #homedoctorwrap {

        padding-top: 30px;

    }



    .homedrname {

        font-size: 30px;

        text-align: center;

    }



    .homeprofsion {

        padding: 6px 20px;

        margin: 15px auto;

        width: 68%;

        display: block;

        text-align: center;

    }



    .homedrreadmore {

        display: block;

        margin: 30px 0px;

        text-align: center;

    }



    .homedrreadmore a {

        border: 1px solid #c5004c;

        padding: 8px 20px;

        display: inline-block;

        margin-right: 0px;

        text-transform: uppercase;

    }



    .homedrpngimage,

    .homedrreadmore img {

        display: none;

    }



    /*-----------------------------------------------------*/

    #homeaboutdoctorwrap {

        height: 700px;

    }



    .managesliderwidth {

        width: 100%;

        margin: 0 auto;

    }



    #clinicslider .owl-carousel .owl-item img {

        display: block;

        width: 100%;

        height: 360px;

        object-fit: cover;

        object-position: center;

    }



    #clinicslider {

        margin-top: -80px;

    }



    .testimonialheading {

        text-align: center;

        margin-bottom: 30px;

        margin-top: 30px;

    }



    .vidosidetestimonialwrap {

        width: 100%;

    }



    .combindtestimonialsmetterwrap {

        display: block;

        padding: 0px 0px 40px;

    }



    #combindtestimonialswrapper .item {

        padding: 0px;

    }



    .quotsimage {

        display: none;

    }



    .videorealresult {



        padding: 8px;

        width: 34%;

        right: 0px;

        bottom: 0px;

    }

    .combindwrittentestimonial {
        width: 100%;
        padding-left: 0px;
        position: relative;
    }

    .combindwrittentestimonialheading {
        font-size: 24px;
        margin-top: 10px;
    }

    #combindtestimonialswrapper .owl-dots {
        position: absolute;
        bottom: -18px;
        right: 0px;
        left: 0px;
    }

    .viewalltestimonial {
       margin-top: 12px;
    }

    /*----------------------------------------------------*/

    .homeblogheading {
        text-align: center;
        margin-bottom: 20px;
    }

    #homeblogwrapper {
        margin-top: 20px;
    }

    /* .main-headerwrap {
        position: absolute;
        background-color: #fff;
    } */

    /* .headernewclass {
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
        transition: .5s;
        z-index: 9999;
    } 

    .headerfixtop {
        position: static;
    }*/

    .headerfixtop .extra-class {
        bottom: 120px;
        transition: .5s;
    }

    .tab_section {
        flex-direction: column-reverse !important;
    }

    .mod-home_services_slider .row .tabs-wrapper .tabs {
        flex-direction: row !important;
    }

    .tab_section .tabs {
        overflow-x: auto !important;
    }
    .disp_up{
        display: none;
    }
}

@media only screen and (width:768px) {
    #homeaboutdoctorwrap {
        height: 650px;
    }

    #clinicslider {
        margin-top: -160px;
    }

    .homedrpngimage {
        display: block;
    }

    .bannerpoint {
        padding: 0px 0px 0px 5px;
    }

    .homedrcontent ul li {
        margin-bottom: 8px;
    }


}

/* for mobile  */
@media only screen and (min-width:320px) and (max-width:480px) {
    .pointers_for_mobile {
        display: block;
    }

    .smallbannerheadingbg {
        font-size: 26px;
        text-align: center;
        line-height: 0;
        opacity: 0.09;
    }

    .smallbannerheading {
        font-size: 25px;
        text-align: center;
        margin-bottom: 8px;
    }

    .smallbannercontent {
        text-align: center;
    }

    .header-banner img {
        height: 85vh;
    }

    .bannersection {
        vertical-align: bottom;
    }

    /* .bannersection .header-banner {
        height: 74vh;
    } */

    /* .header-banner img {
        height: 100%;
        display: block;
    } */

    .bannertextwrap .bannerpointerborder {
        display: none;
    }

    .mainserviceslinkbanner {
        margin: 6px 0px 0px;
    }

    .mdtext {
        font-size: 20px;
    }

    /* .pointers_for_mobile {
        background-color: #494949;
    } */

    .pointers_for_mobile .bannerpointerborder {
        display: block;
        padding: 15px 0 0;
        margin: 20px;
    }

    .extra-class {
        bottom: 0px;
    }

    .readmoreservices.for_mob {
        display: block;
        text-align: center;
    }

    .pointers_for_mobile .bannerpointheading span {
        font-size: 15px;
        margin-left: 5px;
    }

    .pointers_for_mobile .bannerpointheading .bannerpoint {
        padding: 0;
        font-size: 15px;
        color: #e9e9e9;
    }

    .pointers_for_mobile .bannerpointheading {
        margin-bottom: 10px;
    }

    .pointers_for_mobile .bannerpointheading {
        font-size: 18px;
        display: inline-block;
        white-space: nowrap;
    }

    .pointers_for_mobile .bannerpointheading:before {
        width: 20px;
        margin-right: 14px;
    }

    .requestwrapper {
        margin: 20px 0px 30px 0;
    }

    .requestheading {
        font-size: 20px;
    }

    .commonfivecontentstyle {
        background: #fff;
        padding: 20px;
    }

    #homeaboutdoctorwrap {
        height: 600px;
        padding-top: 22px;
    }

    #clinicslider {
        margin-top: -150px;
    }

    .readmoreservices a {
        margin: 16px 0 0;
    }

    .mdtext {
        font-size: 20px;
    }

    .mainserviceslinkbanner {
        margin: 6px 0px 0px;
    }

    .requestwrapper a {
        padding: 10px 28px;
    }

    .expan-imagewrap img {
        width: 100%;
    }

    .commonheadingfontsize {
        font-size: 26px;
    }

    .mbsheading {
        font-size: 25px;
    }

    .displaynone {
        display: none;
    }


    /* .expan-imagewrap img {
        position: unset;
        transform: unset;
    } */

    #combindtestimonialswrapper .managewrittenspacing {
        display: none;
    }

    .wrapper_testi {
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 22px 0 0;
        white-space: nowrap;
        text-align: left;
    }

    .sorcewrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }

    .candidate-name {
        font-family: 'Noto Serif';
        margin-bottom: 2px;
        font-size: 18px;
    }

    .testi-content-wrap {
        margin-top: 16px;
    }

    .stars-wrap span {
        display: inline-block;
        color: #f6c52f;
    }

    .testi-content-wrap p {
        line-height: 26px;
        max-height: 150px;
        margin-bottom: 0px;
        padding-right: 12px;
    }

    .written-contentwrap {
        padding: 12px;
        position: relative;
        border: 1px solid #ccc;
        width: 90% !important;
        display: inline-block;
        white-space: normal;
    }

    .qoutesimage {
        position: absolute;
        top: -20px;
    }

    .qoutesimage img {
        width: 45px;
    }

    .warning-content span {
        font-size: 10px;
    }

    /* home page upcoming product section */

    #smallbanner{
        background-image: unset;
    }

    #smallbanner.mob-bgimg{
        background-image: url(../img/mobilebg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        padding-top: 40px;
        height: 450px;
        margin-top: 30px;
        align-items: unset;
    }

    /* start of book an appointment sction */

    #bigappointwrap {
        margin-top: 0px;
        background: #3d3d3d;
        padding-bottom: 40px;
        position: relative;
        margin-bottom: 350px;
        height: 300px;
    }

    /* end of book an appointment sction */

}