.lb-loader,

.lightbox {

    text-align: center;

    line-height: 0

}



body:after {

    content: url(/img/close.png) url(../images/loading.gif) url(/img/prev.png) url(/img/next.png);

    display: none

}



.lb-dataContainer:after,

.lb-outerContainer:after {

    content: "";

    clear: both

}



body.lb-disable-scrolling {

    overflow: hidden

}



.lightboxOverlay {

    position: absolute;

    top: 0;

    left: 0;

    z-index: 9999;

    /* background-color: #000; */

    filter: alpha(Opacity=80);

    opacity: .8;

    display: none

}



.lightbox {

    position: absolute;

    left: 0;

    width: 100%;

    z-index: 10000;

    font-weight: 400;

    overflow: unset !important;

}

/* gallery page light box css */

.lightbox .modal-dialog.modal-dialog-centered.modal-xl {
    transform: translate(0, -50px) !important;
}

.lightbox .ratio.ratio-16x9{
    background-color: unset !important;
}

.lightbox .btn-close.position-absolute.top-0.end-0.p-3{
    width: 22px !important;
}

/* _______________________________________________ */


.lightbox .lb-image {

    display: block;

    max-width: inherit;

    border-radius: 3px;

    width: 100% !important;

    height: auto !important;

}



.lightbox a img {

    border: none

}



.lb-outerContainer {

    position: relative;

    background-color: #fff;

    width: 50% !important;

    height: auto !important;

    margin: 0 auto;

    border-radius: 4px;

}



.lb-loader,

.lb-nav {

    position: absolute;

    left: 0

}



.lb-outerContainer:after {

    display: table

}



.lb-container {

    padding: 4px

}



.lb-loader {

    top: 43%;

    height: 25%;

    width: 100%

}



.lb-cancel {

    display: block;

    width: 32px;

    height: 32px;

    margin: 0 auto;

    background: url(../images/loading.gif) no-repeat

}



.lb-nav {

    top: 0;

    height: 100%;

    width: 100%;

    z-index: 10

}



.lb-container>.nav {

    left: 0

}



.lb-nav a {

    outline: 0;

    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)

}



.lb-next,

.lb-prev {

    height: 100%;

    cursor: pointer;

    display: block

}



.lb-nav a.lb-prev {

    width: 20%;

    left: 0;

    float: left;

    background: url('../img/prev.png') left 48% no-repeat;

    filter: alpha(Opacity=0);

    opacity: 1;

    -webkit-transition: opacity .6s;

    -moz-transition: opacity .6s;

    -o-transition: opacity .6s;

    transition: opacity .6s

}



.lb-nav a.lb-prev:hover {

    filter: alpha(Opacity=100);

    opacity: 1

}



.lb-nav a.lb-next {

    width: 20%;

    right: 0;

    float: right;

    background: url('../img/next.png') right 48% no-repeat;

    filter: alpha(Opacity=0);

    opacity: 1;

    -webkit-transition: opacity .6s;

    -moz-transition: opacity .6s;

    -o-transition: opacity .6s;

    transition: opacity .6s

}



.lb-nav a.lb-next:hover {

    filter: alpha(Opacity=100);

    opacity: 1

}



.lb-dataContainer {

    margin: 0 auto;

    padding-top: 5px;

    width: 100%;

    -moz-border-radius-bottomleft: 4px;

    -webkit-border-bottom-left-radius: 4px;

    border-bottom-left-radius: 4px;

    -moz-border-radius-bottomright: 4px;

    -webkit-border-bottom-right-radius: 4px;

    border-bottom-right-radius: 4px

}



.lb-dataContainer:after {

    display: table

}



.lb-data {

    padding: 0 4px;

    color: #ccc

}



.lb-data .lb-details {

    width: 85%;

    float: left;

    text-align: left;

    line-height: 1.1em;

    display: none;

}



.lb-data .lb-caption {

    font-size: 13px;

    font-weight: 700;

    line-height: 1em

}



.lb-data .lb-number {

    display: block;

    clear: left;

    padding-bottom: 1em;

    font-size: 12px;

    color: #999

}



.lb-data .lb-close {

    display: block;

    float: right;

    width: 30px;

    height: 30px;

    background: url(../img/close.png) top right no-repeat;

    text-align: right;

    outline: 0;

    opacity: 1;

}



.lb-data .lb-close:hover {

    cursor: pointer;

    filter: alpha(Opacity=100);

    opacity: 1

}



#lightbox {

    flex-direction: column;

    /* top: 100% !important; */

}



.lb-closeContainer {

    position: absolute;

    right: 21%;

    top: -40px;

}