#homeblogwrapper.Category_page {
    padding: 35px 0 40px;
    margin-top: 0;
    background-color: #fff1f6;

}

.Category_page .homeblogcontentwrapper {
    background-color: #fff;
    margin: 10px 0;

}

.Category_page .homeblogtextp p {
    max-height: 130px;
    overflow-y: scroll;
    padding-right: 5px;

}
.Category_page  .homeblogviewmore a{
    background-color: #fff;
}
.Category_page .homeblogimage img{
    width: 100%;
}


.commonheading {
    font-size: 55px;
    text-transform: uppercase;
}


.commonservicesheading {
    font-size: 45px;
    font-family: 'Noto Serif', serif;
    padding-bottom: 16px;
}

.twoparadifheading {
    font-family: 'Noto Serif', serif;
    font-size: 24px;
    font-weight: 500;
}

.commonpointers ul li {
    display: flex;
    margin-bottom: 8px;
    align-items: baseline;
    flex-direction: column;
    position: relative;
    padding-left: 30px;
}

.commonpointers ul li:before {
    font-family: FontAwesome;
    content: "\f058";
    margin-right: 14px;
    font-size: 20px;
    color: #C3004C;
    position: absolute;
    top: 2px;
    left: 0px;
}

.commonpointers ul li strong {
    font-family: 'Noto Serif', serif;
    margin-bottom: 10px;
}

.commonpointers ul li:last-child {
    margin-bottom: 0px;
}

.commonpointers ul li i {
    margin-right: 14px;
    font-size: 20px;
    color: #C3004C;
    position: relative;
    top: 2px;
}

.centercontent-wrap .commonservicesheading {
    text-align: center;
    padding: 0 0 16px;
}

.centerhighlight p {
    margin-bottom: 8px;
}

.centerheighcontentwrap {
    /* text-align: center; */
    padding: 50px;
    /* border: 2px solid #C1004C; */
    background: #fff;
}

.centerhighlight {
    background: #F7F7F7;
    padding: 3rem 40px;
}

.twosubheading {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 8px;
}

.twoparadifheading {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-bottom: 8px;
}

.twoparadifheading:before {
    content: '';
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    display: inline-block;
    width: 30px;
    height: 4px;
    margin-right: 10px;
    position: relative;
    top: 10px;
}

.commonleftheadingparadiffrentwrap p {
    padding-left: 40px;
}

.threeparasection {
    padding: 60px 0px;
    background: transparent linear-gradient(180deg, #616161 0%, #3B3B3B 100%) 0% 0% no-repeat padding-box;
}

.commonthreepara {
    background: #fff;
    padding: 30px;
    /* text-align: center; */
}

.threeparaheadingsmall {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.leftpointerswrap {
    padding-right: 40px;
    border-right: 1px solid #ccc;
}

.rightpointerswrap {
    padding-left: 40px;
}

.centerhighlight ul li, .rightimagecontentwrap ul li, .twoparadiffrentwrap ul li, .twoheadingwrap ul li, .leftheadingimagewrap ul li {
    position: relative;
    padding-left: 30px;
}

.centerhighlight ul li::before, .rightimagecontentwrap ul li::before, .twoparadiffrentwrap ul li::before, .twoheadingwrap ul li::before, .leftheadingimagewrap ul li::before {
    font-family: FontAwesome;
    content: "\f058";
    margin-right: 14px;
    font-size: 20px;
    color: #C3004C;
    position: absolute;
    top: 2px;
    left: 0px;
}

/* full para section */

.centerhighlight ol, .rightimagecontentwrap ol, .twoparadiffrentwrap ol, .twoheadingwrap ol, .leftheadingimagewrap ol {
    list-style: auto;
    margin-left: 20px;
}

.centerhighlight ol li, .rightimagecontentwrap ol li, .twoparadiffrentwrap ol li, .twoheadingwrap ol li, .leftheadingimagewrap ol li {
    padding-left: 6px;
    text-align: left;
}

.centerhighlight ol li::marker {
    font-weight: 600;
}

/* <!-- Right Image Section Start --> */

.rightimagecontentwrap {
    padding: 3rem 40px;
}

.rightimagecontentwrap .row {
    align-items: center;
}

/* <!-- Start of Twoparagraphdifflayot Section --> */

.twoparadiffrentwrap {
    padding: 3rem 40px;
}

.bg_lgrey {
    background: #F7F7F7;
}

/* <!-- Two heading Pragraph Section --> */

.twoheadingwrap {
    padding: 3rem 40px;
}

/* Left heading Image section */

section.leftheadingimagewrap {
    padding: 3rem 40px;
}

/* threeparasection */

.threeparasection .commonservicesheading {
    color: #fff;
    padding: 0 0 24px;
}

.thereeparacontent {
    height: 210px;
    overflow: auto;
    padding-right: 12px;
}

/* reviews scroll css */
.thereeparacontent::-webkit-scrollbar, .Category_page .homeblogtextp p::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.thereeparacontent::-webkit-scrollbar-track, .Category_page .homeblogtextp p::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f4f4f4;
}

/* Handle */
.thereeparacontent::-webkit-scrollbar-thumb, .Category_page .homeblogtextp p::-webkit-scrollbar-thumb {
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

/*  */
.pointerswrapper {
    padding: 3rem 40px;
}

.twoheadingwrap p {
    padding-bottom: 8px;
}

@media(min-width:320px) and (max-width:767px) {

    #topcommonbanner.service_page_banner{
        padding: 30px 0;
    }

    #topcommonbanner.service_page_banner .headingandbredcrumb {
        margin-top: 0px;
    }

    #topcommonbanner.service_page_banner .headingandbredcrumb .commonbredcurmb {
        margin-bottom: 25px;
    }

    .commonservicesheading {
        font-size: 26px;
    }

    .commonmainheadingwrap {
        margin-bottom: 20px;
    }

    .centerheighcontentwrap {
        padding: 20px;
    }

    .centercontent-wrap .commonservicesheading {
        text-align: left;
    }

    .rightpointerswrap {
        padding-left: 0px;
        margin-top: 20px;
    }

    .leftpointerswrap {
        padding-right: 0px;
        border-right: none;
    }

    .secondthreeparasection {
        margin: 20px 0px;
    }

}

@media(min-width:992px) and (max-width:1100px) {

    .headingandbredcrumb {
        bottom: 15px;
    }

    .commonheading {
        font-size: 40px;
    }

    #topcommonbanner .commonbredcurmb {
        margin-bottom: 35px;
    }

    .centerhighlight {
        padding: 38px 3%;
    }

    .centerheighcontentwrap {
        padding: 40px;
    }

    .commonservicesheading {
        font-size: 35px;
        padding-bottom: 12px;
    }

    .rightimagecontentwrap {
        padding: 38px 3%;
    }

    .twoparadiffrentwrap {
        padding: 38px 3%;
    }

    .centerhighlight ul li, .rightimagecontentwrap ul li, .twoparadiffrentwrap ul li, .twoheadingwrap ul li, .leftheadingimagewrap ul li {
        padding-left: 26px;
    }

    .twoheadingwrap {
        padding: 38px 3%;
    }

    .twosubheading {
        font-size: 19px;
    }

    .twoparadifheading {
        font-size: 22px;
    }
}