.commonheading{
    font-size: 48px;
    text-transform: uppercase;
}
span.marker {
    background-color: #fdfdfd;
    padding: 7px 15px;
    box-shadow: 0px 0px 20px #eba4c0;
    display: inline-block;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 12px;
}
.commonservicesheading{
    font-size: 42px;
    font-family: 'Noto Serif', serif;
    padding-bottom: 12px;
}
.twoparadifheading{
    font-family: 'Noto Serif', serif;
    font-size: 24px;
    font-weight: 500;
}
.commonpointers ul li {
    display: flex;
    margin-bottom: 8px;
    align-items: baseline;
    flex-direction: column;
    position: relative;
    padding-left: 30px;
}
.commonpointers ul li:before {
    font-family: FontAwesome;
    content: "\f058";
    margin-right: 14px;
    font-size: 20px;
    color: #C3004C;
    position: absolute;
    top: 2px;
    left: 0px;
}
.commonpointers ul li strong{
    font-family: 'Noto Serif', serif;
    margin-bottom: 10px;
}

/* .commonpointers ul li:last-child{
    margin-bottom: 0px;
} */

.commonpointers ul li i {
    margin-right: 14px;
    font-size: 20px;
    color: #C3004C;
    position: relative;
    top: 2px;
}
.centercontent-wrap .commonservicesheading{
    text-align: center;
    padding: 0 0 16px;
}

.centerhighlight p{
    margin-bottom: 8px;
}

.centerheighcontentwrap {
    /* text-align: center; */
    padding: 50px;
    /* border: 2px solid #C1004C; */
    background: #fff;
}
.centerhighlight {
    background: #F7F7F7;
    padding: 3rem 40px;
}

.twosubheading {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 8px;
}
.twoparadifheading {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-bottom: 8px;
}

.twoparadifheading:before {
    content: '';
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    display: inline-block;
    width: 30px;
    height: 4px;
    margin-right: 10px;
    position: relative;
    top: 10px;
}
.commonleftheadingparadiffrentwrap p{
    padding-left: 40px;
}
.threeparasection {
    padding: 40px 0px;
    background: transparent linear-gradient(180deg, #616161 0%, #3B3B3B 100%) 0% 0% no-repeat padding-box;
}

.commonthreepara {
    background: #fff;
    padding: 30px;
    /* text-align: center; */
}

.threeparaheadingsmall {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.leftpointerswrap {
    padding-right: 40px;
    border-right: 1px solid #ccc;
}

.rightpointerswrap {
    padding-left: 40px;
}

.centerhighlight ul li, .rightimagecontentwrap ul li, .twoparadiffrentwrap ul li, .twoheadingwrap ul li, .leftheadingimagewrap ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.centerhighlight ul li::before, .rightimagecontentwrap ul li::before, .twoparadiffrentwrap ul li::before, .twoheadingwrap ul li::before, .leftheadingimagewrap ul li::before {
    font-family: FontAwesome;
    content: "\f058";
    margin-right: 14px;
    font-size: 20px;
    color: #C3004C;
    position: absolute;
    top: 2px;
    left: 0px;
}

/* full para section */

.centerhighlight ol, .rightimagecontentwrap ol, .twoparadiffrentwrap ol, .twoheadingwrap ol, .leftheadingimagewrap ol{
    list-style: auto;
    margin-left: 20px;
}
.centerhighlight ol li, .rightimagecontentwrap ol li, .twoparadiffrentwrap ol li, .twoheadingwrap ol li, .leftheadingimagewrap ol li {
    padding-left: 6px;
    text-align: left;
}

.centerhighlight ol li::marker{
    font-weight: 600;
}

/* <!-- Right Image Section Start --> */

.rightimagecontentwrap {
    padding: 2rem 40px;
}

.rightimagecontentwrap .row{
    align-items: center;
}

.rightimagecontentwrap p{
    margin-bottom: 8px;
}

/* <!-- Start of Twoparagraphdifflayot Section --> */

.twoparadiffrentwrap{
    padding: 2rem 40px;
}

.twoheadingwrap{
    padding: 2rem 40px;
}

.twoparadiffrentwrap p{
    margin-bottom: 8px;
}
/* Left heading Image section */

section.leftheadingimagewrap {
    padding: 3rem 40px;
}

/* threeparasection */

.threeparasection .commonservicesheading {
    color: #fff;
    padding: 0 0 24px;
}

.thereeparacontent {
    height: 210px;
    overflow: auto;
    padding-right: 12px;
}

/* reviews scroll css */
.thereeparacontent::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.thereeparacontent::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f4f4f4;
}

/* Handle */
.thereeparacontent::-webkit-scrollbar-thumb {
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

/*  */
.pointerswrapper{
    padding: 3rem 40px;
}

.twoheadingwrap p{
    padding-bottom: 8px;
}

/* extra class for add into content */

.bg_lgrey{
    background: #F7F7F7;
}

.white_bg_blk_hd{
    background: #fff;
}

.gery_bg_blk_hd{
    background: #F7F7F7;
}

.white_bg_blk_hd .commonservicesheading, .gery_bg_blk_hd .commonservicesheading{
    color: #000;
}

.white_bg_blk_hd .commonthreepara, .gery_bg_blk_hd .commonthreepara{
    padding: 5px;
}

.full_txtdiff{
    background: unset;
}

.full_txtdiff .centerheighcontentwrap{
    padding: 5px;
}

.full_txtdiff ol li ul li{
    padding-left: 22px;
}

.full_txtdiff ol li ul{
    padding-top: 8px;
}

.full_txtdiff ul li ol li::before{
    content: unset;
}

.full_txtdiff ul li ol, .full_txtdiff ul li ul{
    margin-top: 6px;
}

.faqsection a, 
.rightimagecontentwrap a, 
.threeparasection a, 
.twoparadiffrentwrap a, 
.twoheadingwrap a, 
.centerhighlight a, 
.leftheadingimagewrap a{
    color: #ea004e;
    transition: 0.3s ease-in;
}

.faqsection a:hover, 
.rightimagecontentwrap a:hover, 
.threeparasection a:hover, 
.twoparadiffrentwrap a:hover, 
.twoheadingwrap a:hover, 
.centerhighlight a:hover, 
.leftheadingimagewrap a:hover{
    color: #000;
}

.eightsection{
    padding: 40px 0;
}
.servicevideobtn{
    display: inline-block;
    border: 1px solid #c1004c;
    padding: 15px 30px;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.3s ease-in;
}
.servicevideobtn:hover{
    background: transparent linear-gradient(271deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    color: #fff;
}
.resulttopdiv{
    text-align: center;
    margin-top: 10px;
}
/* for ipad pro screen */
@media(min-width:992px) and (max-width:1100px){

    .headingandbredcrumb {
        bottom: 15px;
    }

    .commonheading{
        font-size: 40px;
    }

    #topcommonbanner .commonbredcurmb {
        margin-bottom: 35px;
    }

    .centerhighlight {
        padding: 38px 3%;
    }

    .centerheighcontentwrap {
        padding: 40px;
    }

    .commonservicesheading {
        font-size: 35px;
        padding-bottom: 12px;
    }

    .rightimagecontentwrap {
        padding: 38px 3%;
    }

    .twoparadiffrentwrap {
        padding: 38px 3%;
    }

    .centerhighlight ul li, .rightimagecontentwrap ul li, .twoparadiffrentwrap ul li, .twoheadingwrap ul li, .leftheadingimagewrap ul li {
        padding-left: 26px;
    }

    .twoheadingwrap {
        padding: 38px 3%;
    }

    .twosubheading {
        font-size: 19px;
    }

    .twoparadifheading {
        font-size: 22px;
    }
}

/* for ipad screen */

@media(min-width:768px) and (max-width:991.5px){

    p{
        line-height: 27px;
    }

    #topcommonbanner .service_banner img{
            height: 480px;
    }

    .commonheading {
        font-size: 40px;
    }

    .commonbredcurmb {
        margin-bottom: 30px;
    }

    /* full text */

    .centerheighcontentwrap {
        padding: 30px;
    }

    .centerhighlight {
        padding: 2rem 0px;
    }

    .commonservicesheading {
        font-size: 36px;
        padding: 0 0 12px;
    }

    .centerhighlight p {
        margin-bottom: 6px;
    }

    .centerhighlight p {
        margin-bottom: 4px;
    }

    /* right image section */

    .rightimagecontentwrap p {
        margin-bottom: 6px;
    }

    .rightimagecontentwrap {
        padding: 2rem 0px;
    }

    .rightimagewraper img{
        margin-top: 10px;
    }

    /* two para diffrent layout */

    .twoparadiffrentwrap {
        padding: 1.2rem 0px;
    }

    .twoparadiffrentwrap p {
        margin-bottom: 5px;
    }

    .twoparadifheading{
        font-size: 22px;
        padding-bottom: 6px;
    }

    .commonleftheadingparadiffrentwrap p {
        padding-left: 30px;
    }


    /* li style for all section */
    .centerhighlight ul li, .rightimagecontentwrap ul li, .twoparadiffrentwrap ul li, .twoheadingwrap ul li, .leftheadingimagewrap ul li {
        padding-left: 24px;
        margin-bottom: 6px;
    }

    .centerhighlight ul li::before, .rightimagecontentwrap ul li::before, .twoparadiffrentwrap ul li::before, .twoheadingwrap ul li::before, .leftheadingimagewrap ul li::before {    
        font-size: 19px;
        top: 3px;
    }

    /* two para heading section */

    .twoheadingwrap {
        padding: 1.2rem 0px;
    }

    .twosubheading {
        padding-bottom: 6px;
    }

    .twoheadingwrap p {
        padding-bottom: 6px;
    }

    /* three para section */

    .threeparasection {
        padding: 1.4rem 0px;
    }

    .threeparasection .commonservicesheading {
        padding: 0px 0 16px;
    }

    .commonthreepara {
        padding: 16px;
    }

    .threeparaheadingsmall {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .thereeparacontent {
        padding-right: 8px;
    }

    .threeparasection .row{
        justify-content: center;
    }
    .threeparasection .col-12.col-lg-4.col-md-6:last-child{
        margin-top: 20px;
    }

}

/* for mobile screen */

@media(min-width:320px) and (max-width:767px){

    #topcommonbanner.serviceinner_page_banner{
        padding: 0 0 30px 0;
    }

    #topcommonbanner.serviceinner_page_banner .commonbannerclinic img {
        display: block;
        height: 150px;
    }

    #topcommonbanner.serviceinner_page_banner .headingandbredcrumb {
        margin-top: 0px;
    }

    #topcommonbanner.serviceinner_page_banner .headingandbredcrumb .commonbredcurmb {
        margin-bottom: 25px;
    }

    p {
        line-height: 26px;
    }

    /* full text */

    .centercontent-wrap .commonservicesheading {
        text-align: left;
        padding: 0 0 10px;
    }

    .centerhighlight {
        padding: 0;
    }

    .centerheighcontentwrap {
        padding: 16px 10px;
        background: #F7F7F7;
    }

    .commonservicesheading{
        font-size: 25px;
        text-align: left;
        padding-bottom: 10px;
    }

    .centerheighcontentwrap p{
        margin-bottom: 6px;
    }

    /* right image section */

    .rightimagecontentwrap {
        padding: 20px 10px;
    }

    .rightimagecontentwrap p {
        margin-bottom: 6px;
    }

    .rightimagewraper img{
        margin-top: 8px;
    }

    /* two para heading section */

    .twoheadingwrap {
        padding: 20px 10px;
    }

    .twosubheading {
        font-size: 18px;
        padding-bottom: 6px;
    }

    .twoheadingwrap p {
        padding-bottom: 6px;
    }

    /* two para different layout */

    .twoparadiffrentwrap {
        padding: 20px 10px;
    }

    .twoparadiffrentwrap p {
        margin-bottom: 6px;
    }

    .commonleftheadingparadiffrentwrap p {
        padding-left: 26px;
    }

    /* li style for all section */

    .centerhighlight ul li, .rightimagecontentwrap ul li, .twoparadiffrentwrap ul li, .twoheadingwrap ul li, .leftheadingimagewrap ul li {
        padding-left: 24px;
        margin-bottom: 6px;
    }

    .centerhighlight ul li::before, .rightimagecontentwrap ul li::before, .twoparadiffrentwrap ul li::before, .twoheadingwrap ul li::before, .leftheadingimagewrap ul li::before {
        font-size: 18px;
        top: 4px;
    }

    /* three para section */

    .threeparasection {
        padding: 20px 10px;
    }

    .commonthreepara {
        padding: 16px;
        margin-bottom: 12px;
    }

    .threeparaheadingsmall {
        font-size: 19px;
        margin-bottom: 6px;
    }

    .thereeparacontent {
        padding-right: 8px;
    }

    .white_bg_blk_hd .commonthreepara{
        padding: 0;
    }

    .white_bg_blk_hd .commonthreepara .thereeparacontent {
        height: auto;
    }

    .eightsection{
        padding: 20px 0;
    }
    
} 


