.animate-menu-push {

  left: 0;

  position: relative;

  transition: all 0.3s ease;

}



.animate-menu-push.animate-menu-push-right {

  left: 300px;

}



.animate-menu-push.animate-menu-push-left {

  left: -300px;

}



.animate-menu {

  position: fixed;

  top: 0;

  width: 300px;

  height: 100%;

  transition: all 0.3s ease;

  z-index: 9999;

}

.animate-menu-right {
  right: -300px;
}

.animate-menu-right.animate-menu-open {
  right: 0;
  background: #1e282c;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #222d32;
  margin-top: 0px;
}

.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
}



.sidebar-menu>li>a {
  padding: 12px 5px 12px 15px;
  display: block;
  border-left: 3px solid transparent;
  color: #b8c7ce;
  text-transform: uppercase;
}

.sidebar-menu>li>a>.fa {
  width: 20px;
}

.sidebar-menu>li:hover>a,
.sidebar-menu>li.active>a {
  color: #fff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}

.sidebar-menu>li .label,

.sidebar-menu>li .badge {

  margin-top: 3px;

  margin-right: 5px;

}



.sidebar-menu li.sidebar-header {

  padding: 10px 25px 10px 15px;

  font-size: 12px;

  color: #4b646f;

  background: #1a2226;

}



.sidebar-menu li>a>.fa-angle-left {

  width: auto;

  height: auto;

  padding: 0;

  margin-right: 10px;

  margin-top: 3px;

}



.sidebar-menu li.active>a>.fa-angle-left {

  transform: rotate(-90deg);

}



.sidebar-menu li.active>.sidebar-submenu {

  display: block;

}



.sidebar-menu a {

  color: #b8c7ce;

  text-decoration: none;

}



.sidebar-menu .sidebar-submenu {

  display: none;

  list-style: none;

  padding-left: 5px;

  margin: 0 1px;

  background: #2c3b41;

}



.sidebar-menu .sidebar-submenu .sidebar-submenu {

  padding-left: 0px;

}



.sidebar-menu .sidebar-submenu>li>a {

  padding: 5px 5px 5px 15px;

  display: block;

  font-size: 14px;

  color: #8aa4af;
  text-transform: uppercase;

}



.sidebar-menu .sidebar-submenu>li>a>.fa {

  width: 20px;

}



.sidebar-menu .sidebar-submenu>li>a>.fa-angle-left,

.sidebar-menu .sidebar-submenu>li>a>.fa-angle-down {

  width: auto;

}



.sidebar-menu .sidebar-submenu>li.active>a,

.sidebar-menu .sidebar-submenu>li>a:hover {

  color: #fff;

}



.sidebar-menu-rtl {

  list-style: none;

  margin: 0;

  padding: 0;

  background-color: #222d32;

}



.sidebar-menu-rtl>li {

  position: relative;

  margin: 0;

  padding: 0;

}



.sidebar-menu-rtl>li>a {

  padding: 12px 15px 12px 5px;

  display: block;

  border-left: 3px solid transparent;

  color: #b8c7ce;

}



.sidebar-menu-rtl>li>a>.fa {

  width: 20px;

}



.sidebar-menu-rtl>li:hover>a,

.sidebar-menu-rtl>li.active>a {

  color: #fff;

  background: #1e282c;

  border-left-color: #3c8dbc;

}



.sidebar-menu-rtl>li .label,

.sidebar-menu-rtl>li .badge {

  margin-top: 3px;

  margin-right: 5px;

}



.sidebar-menu-rtl li.sidebar-header {

  padding: 10px 15px 10px 25px;

  font-size: 12px;

  color: #4b646f;

  background: #1a2226;

}



.sidebar-menu-rtl li>a>.fa-angle-left {

  width: auto;

  height: auto;

  padding: 0;

  margin-right: 10px;

  margin-top: 3px;

}



.sidebar-menu-rtl li.active>a>.fa-angle-left {

  transform: rotate(-90deg);

}



.sidebar-menu-rtl li.active>.sidebar-submenu {

  display: block;

}



.sidebar-menu-rtl a {

  color: #b8c7ce;

  text-decoration: none;

}



.sidebar-menu-rtl .sidebar-submenu {

  display: none;

  list-style: none;

  padding-right: 5px;

  margin: 0 1px;

  background: #2c3b41;

}



.sidebar-menu-rtl .sidebar-submenu .sidebar-submenu {

  padding-right: 20px;

}



.sidebar-menu-rtl .sidebar-submenu>li>a {

  padding: 5px 15px 5px 5px;

  display: block;

  font-size: 14px;

  color: #8aa4af;

}



.sidebar-menu-rtl .sidebar-submenu>li>a>.fa {

  width: 20px;

}



.sidebar-menu-rtl .sidebar-submenu>li>a>.fa-angle-left,

.sidebar-menu-rtl .sidebar-submenu>li>a>.fa-angle-down {

  width: auto;

}



.sidebar-menu-rtl .sidebar-submenu>li.active>a,

.sidebar-menu-rtl .sidebar-submenu>li>a:hover {

  color: #fff;

}



#hideRight {

  margin: 16px;

  padding: 0px;

  background: transparent;

  border: 0px;

}

#showRight {

  border: 0px;

  padding: 0px;

  line-height: 1;

  background: transparent;

  border: 2px solid #e4004d;

  border-radius: 0px;

  padding: 10px;

}

.togglemenubar {

  line-height: 1;

  margin-top: 0;

}



.commonheaderallpagesmobile .accordion-item .accordion-button {

  padding: 0px;

  background: transparent;

  border-bottom: 1px solid #eee;

  padding-bottom: 10px;

  margin-bottom: 20px;

}

.commonheaderallpagesmobile .nav-container.is-active .nav-items {

  transform: translate(0, 0);

  background: #fff;

}

.commonheaderallpagesmobile .accordion-button:focus{

  box-shadow: none;

}

.commonheaderallpagesmobile .accordion-body{

  padding: 0px;

}



.commonheaderallpagesmobile .accordion-body ul li {

  margin-bottom: 15px;

}



.commonheaderallpagesmobile .accordion-body ul {

  background: #f9f5f5;

  padding: 10px 10px;

  margin-bottom: 20px

}

.commonheaderallpagesmobile .accordion-body ul li:last-child {

  margin-bottom: 0px;

}

.logomobile {

  position: absolute;

  top: 10px;

  left: 10px;

}



.commonheaderallpagesmobile .accordion-button:not(.collapsed){

color: #FF004F ;

}