.mod-home_services_slider img {

    max-width: 100%;

    height: auto;

    -ms-interpolation-mode: bicubic;

    display: inline-block;

    vertical-align: middle

}



.innersubheading {

    font-size: 20px;

    font-weight: 500;

    margin: 10px 0px;

}



 .mod-home_services_slider {

    /* overflow: hidden; */

    position: relative;

}



.tabs-wrapper .tab img{

    filter: brightness(0) invert(0);

}

.tabs-wrapper .tab.active img{

    filter: unset;

}

 /* .mod-home_services_slider .row {

    position: relative;

    max-width: 1600px;

    padding: 0

} */



 .mod-home_services_slider .row .wrapper {

    position: relative;

    display: flex;

    justify-content: center;

    z-index: 1

}



 .mod-home_services_slider .row .wrapper .item {

    position: relative;

    display: none;

    /* max-height: 550px; */

    cursor: pointer;

    float: none !important

}



 .mod-home_services_slider .row .wrapper .item .image {

    position: relative;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0);

    -webkit-user-select: none;

    -ms-user-select: none;

    user-select: none

}



 .mod-home_services_slider .row .wrapper .item .image img {

    height: 100%;

    object-fit: cover

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider .row .wrapper .item .image img {

        height: auto

    }

}



 .mod-home_services_slider .row .wrapper .item .inner {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate3d(-50%, -50%, 0);

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    text-align: center;

    z-index: 2

}



 .mod-home_services_slider .row .wrapper .item .inner .innerheading {

    position: relative;

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider .row .wrapper .item .inner .innerheading {

        font-size: 36px

    }

}





 .mod-home_services_slider .row .wrapper .item .inner .content {

    display: none;

    opacity: 0

}



 .mod-home_services_slider .row .wrapper .item .inner a.btn,

 .mod-home_services_slider .row .wrapper .item .inner .rate-us a.tab,

.rate-us  .mod-home_services_slider .row .wrapper .item .inner a.tab {

    display: none;

    margin-top: auto;

    margin-bottom: 0

}



 .mod-home_services_slider .row .wrapper .item.left,

 .mod-home_services_slider .row .wrapper .item.right {

    position: relative;

    display: flex;

    max-width: 20%;

    z-index: 2

}



@media only screen and (max-width: 64em) {



     .mod-home_services_slider .row .wrapper .item.left,

     .mod-home_services_slider .row .wrapper .item.right {

        width: 10%

    }

}



@media only screen and (max-width: 800px) {



     .mod-home_services_slider .row .wrapper .item.left,

     .mod-home_services_slider .row .wrapper .item.right {

        display: none

    }

}



 .mod-home_services_slider .row .wrapper .item.left:hover .inner .innerheading:before,

 .mod-home_services_slider .row .wrapper .item.right:hover .inner .innerheading:before {

    width: 80px

}



 .mod-home_services_slider .row .wrapper .item.left .image:before,

 .mod-home_services_slider .row .wrapper .item.right .image:before {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background-color: #222121;

    opacity: .85;

    z-index: 1

}



@media only screen and (max-width: 800px) {



     .mod-home_services_slider .row .wrapper .item.left .image img,

     .mod-home_services_slider .row .wrapper .item.right .image img {

        height: auto

    }

}



 .mod-home_services_slider .row .wrapper .item.left .inner .innerheading,

 .mod-home_services_slider .row .wrapper .item.right .inner .innerheading {

    font-size: 16px;

    color: #fff;

    -webkit-user-select: none;

    -ms-user-select: none;

    user-select: none

}



@media only screen and (max-width: 64em) {



     .mod-home_services_slider .row .wrapper .item.left .inner .innerheading,

     .mod-home_services_slider .row .wrapper .item.right .inner .innerheading {

        font-size: 14px;

        writing-mode: vertical-lr

    }

}



@media only screen and (max-width: 800px) {



     .mod-home_services_slider .row .wrapper .item.left .inner .innerheading,

     .mod-home_services_slider .row .wrapper .item.right .inner .innerheading {

        display: none

    }

}





 .mod-home_services_slider .row .wrapper .item.left .inner .innerheading:before,

 .mod-home_services_slider .row .wrapper .item.right .inner .innerheading:before {

    content: "";

    position: absolute;

    bottom: -20px;

    left: 50%;

    transform: translateX(-50%);

    height: 1px;

    width: 60px;

    background-color: #fff;

    opacity: .3;

    transition: width 300ms

}



 .mod-home_services_slider .row .wrapper .item.left {

    z-index: 4;

    order: 1;

    margin-right: -5%

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider .row .wrapper .item.left {

        margin-right: 0

    }

}



 .mod-home_services_slider .row .wrapper .item.right {

    z-index: 3;

    order: 3

}



 .mod-home_services_slider .row .wrapper .item.center {

    display: flex;

    max-height: 760px;

    width: 100%;

    z-index: 1;

    order: 2;

    cursor: inherit;

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider .row .wrapper .item.center {

        width: 80%;

        max-height: 500px

    }

}



@media only screen and (max-width: 800px) {

     .mod-home_services_slider .row .wrapper .item.center {

        width: 100%

    }

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider .row .wrapper .item.center {

        flex-direction: column;

        max-height: 100%

    }

}



 .mod-home_services_slider .row .wrapper .item.center .image {

    flex-basis: 40%;

    box-shadow: 0 20px 160px rgba(0, 0, 0, .15)

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider .row .wrapper .item.center .image {

        max-height: 300px;

        overflow: hidden

    }

}



 .mod-home_services_slider .row .wrapper .item.center .inner {

    flex-basis: 60%;

    position: relative;

    top: auto;

    left: auto;

    transform: none;

    text-align: left;

    padding: 40px 60px;

    background: #F6F6F6;

}



@media screen and (max-width: 1300px) {

     .mod-home_services_slider .row .wrapper .item.center .inner {

        padding: 40px 30px 40px 30px;

    }

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider .row .wrapper .item.center .inner {

        padding-top: 16px;

        padding-bottom: 20px

    }

}

@media only screen and (max-width: 40em) {
     .mod-home_services_slider .row .wrapper .item.center .inner {
        padding: 20px 20px
    }
}

 .mod-home_services_slider .row .wrapper .item.center .inner .content {
    display: block;
    opacity: 1
}

 .mod-home_services_slider .row .wrapper .item.center .inner a.btn,
 .mod-home_services_slider .row .wrapper .item.center .inner .rate-us a.tab,
.rate-us  .mod-home_services_slider .row .wrapper .item.center .inner a.tab {
    display: block;
    margin-top: 25px
}



.mod-home_services_slider .row .wrapper .item.center .inner a.btn{

    border: 1px solid #C1004C;

}

@media only screen and (max-width: 40em) {



     .mod-home_services_slider .row .wrapper .item.center .inner a.btn,

     .mod-home_services_slider .row .wrapper .item.center .inner .rate-us a.tab,

    .rate-us  .mod-home_services_slider .row .wrapper .item.center .inner a.tab {

        margin-top: 40px

    }

}



 .mod-home_services_slider .row .tabs-wrapper {

    /* position: absolute;

    bottom: 30px;

    left: 46%; */

    

    display: flex;

    justify-content: center;

    z-index: 2;

    -webkit-user-select: none;

    -ms-user-select: none;

    user-select: none;

    position: absolute;

    bottom: -50px;

}



@media screen and (max-width: 1300px) {

     .mod-home_services_slider .row .tabs-wrapper {

        left: auto;

        right: 0

    }

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider .row .tabs-wrapper {

        position: relative;

        top: auto;

        right: auto;

        bottom: auto;

        left: auto;

        width: 100%

    }

}



@media only screen and (max-width: 800px) {

     .mod-home_services_slider .row .tabs-wrapper {

        box-shadow: 0 0 40px rgba(0, 0, 0, .1)

    }

}



 .mod-home_services_slider .row .tabs-wrapper .tabs {

    display: flex;

    align-items: center;

    background-color: #fff;

    box-shadow: 0 0 160px rgba(0, 0, 0, .2);



}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider .row .tabs-wrapper .tabs {

        width: 100%;

        justify-content: center

    }

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider .row .tabs-wrapper .tabs {

        flex-direction: column

    }

}



 .mod-home_services_slider .row .tabs-wrapper .tabs .tab {

    position: relative;

    padding: 0px 0px;

    text-align: center;

    width: 200px;

    height: 140px;

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    cursor: pointer;

    border-right: 1px solid #eee;

}



.mod-home_services_slider .row .tabs-wrapper .tabs .tab:nth-child(5){

    border-right: unset;

}



@media only screen and (max-width: 800px) {

     .mod-home_services_slider .row .tabs-wrapper .tabs .tab {

        padding: 30px 20px

    }

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider .row .tabs-wrapper .tabs .tab {

        padding: 14px 10px

    }

}



.mod-home_services_slider .row .tabs-wrapper .tabs .tab.active:before {

    content: '';

    position: absolute;

    height: 100%;

    width: 100%;

    bottom: 20px;

    transform: translateY(4px);

    background: #fff;

    z-index: -1;

}



.mod-home_services_slider .row .tabs-wrapper .tabs .tab.active {

    height: 100%;

    background: #fff;

    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);

    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);

    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);

    border-bottom: 4px solid #C1004C;

    transition: .5s;

    position: relative;

    z-index: 1;

}

.mod-home_services_slider .row .tabs-wrapper .tabs .tab p {

    margin-top: 10px;

}



/* 

 .mod-home_services_slider .row .tabs-wrapper .tabs .tab:before {

    content: "";

    position: absolute;

    bottom: 10px;

    left: 50%;

    width: 0;

    height: 4px;

    background-color: #dac664;

    transform: translateX(-50%);

    transition: width 300ms

}



 .mod-home_services_slider .row .tabs-wrapper .tabs .tab.active:before {

    width: 40px

}



 .mod-home_services_slider .row .tabs-wrapper .tabs .tab:hover {

    cursor: pointer

}



 .mod-home_services_slider .row .tabs-wrapper .tabs .tab:hover:before {

    width: 40px

} */



 .mod-home_services_slider .row .tabs-wrapper a.btn,

 .mod-home_services_slider .row .tabs-wrapper .rate-us a.tab,

.rate-us  .mod-home_services_slider .row .tabs-wrapper a.tab {

    display: flex;

    align-items: center;

    justify-content: center

}



 .mod-home_services_slider_two {

    position: relative;

    background-color: #f6f6f6;

    padding-top: 40px;

    padding-bottom: 180px

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider_two {

        padding-bottom: 140px

    }

}



@media only screen and (max-width: 800px) {

     .mod-home_services_slider_two {

        padding-bottom: 80px

    }

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider_two {

        padding-bottom: 60px

    }

}



 .mod-home_services_slider_two img.overlay {

    position: absolute;

    top: -450px;

    height: 150%;

    width: auto;

    min-width: 100%;

    object-fit: cover

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider_two img.overlay {

        top: -350px

    }

}



@media only screen and (max-width: 800px) {

     .mod-home_services_slider_two img.overlay {

        top: -270px

    }

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider_two img.overlay {

        display: none

    }

}



 .mod-home_services_slider_two .row {

    position: relative;

    max-width: 1600px;

    padding: 0

}



 .mod-home_services_slider_two .row .wrapper {

    position: relative;

    display: flex;

    justify-content: center;

    z-index: 1

}



 .mod-home_services_slider_two .row .wrapper .item {

    position: relative;

    display: none;

    max-height: 550px;

    float: none !important

}



 .mod-home_services_slider_two .row .wrapper .item .image {

    position: relative;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0);

    -webkit-user-select: none;

    -ms-user-select: none;

    user-select: none

}



 .mod-home_services_slider_two .row .wrapper .item .image img {

    height: 100%;

    object-fit: cover

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider_two .row .wrapper .item .image img {

        height: auto

    }

}



 .mod-home_services_slider_two .row .wrapper .item .inner {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate3d(-50%, -50%, 0);

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    text-align: center;

    z-index: 2

}



 .mod-home_services_slider_two .row .wrapper .item .inner .innerheading {

    position: relative;

    font-family: "AvenirNextLTW01-UltraLi";

    font-size: 50px

}



 .mod-home_services_slider_two .row .wrapper .item .inner .content {

    display: none;

    opacity: 0

}



 .mod-home_services_slider_two .row .wrapper .item .inner a.btn,

 .mod-home_services_slider_two .row .wrapper .item .inner .rate-us a.tab,

.rate-us  .mod-home_services_slider_two .row .wrapper .item .inner a.tab {

    display: none;

    margin-top: auto;

    margin-bottom: 0

}



 .mod-home_services_slider_two .row .wrapper .item.left,

 .mod-home_services_slider_two .row .wrapper .item.right {

    position: relative;

    display: flex;

    max-width: 20%;

    z-index: 2

}



@media only screen and (max-width: 64em) {



     .mod-home_services_slider_two .row .wrapper .item.left,

     .mod-home_services_slider_two .row .wrapper .item.right {

        width: 15%

    }

}



@media only screen and (max-width: 800px) {



     .mod-home_services_slider_two .row .wrapper .item.left,

     .mod-home_services_slider_two .row .wrapper .item.right {

        display: none

    }

}



 .mod-home_services_slider_two .row .wrapper .item.left:hover .inner .innerheading:before,

 .mod-home_services_slider_two .row .wrapper .item.right:hover .inner .innerheading:before {

    width: 60px

}



 .mod-home_services_slider_two .row .wrapper .item.left .image:before,

 .mod-home_services_slider_two .row .wrapper .item.right .image:before {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background-color: #051e48;

    opacity: .85;

    z-index: 1

}



@media only screen and (max-width: 800px) {



     .mod-home_services_slider_two .row .wrapper .item.left .image img,

     .mod-home_services_slider_two .row .wrapper .item.right .image img {

        height: auto

    }

}



 .mod-home_services_slider_two .row .wrapper .item.left .inner .innerheading,

 .mod-home_services_slider_two .row .wrapper .item.right .inner .innerheading {

    font-size: 16px;

    color: #fff;

    -webkit-user-select: none;

    -ms-user-select: none;

    user-select: none

}



@media only screen and (max-width: 64em) {



     .mod-home_services_slider_two .row .wrapper .item.left .inner .innerheading,

     .mod-home_services_slider_two .row .wrapper .item.right .inner .innerheading {

        font-size: 14px;

        writing-mode: vertical-lr

    }

}



@media only screen and (max-width: 800px) {



     .mod-home_services_slider_two .row .wrapper .item.left .inner .innerheading,

     .mod-home_services_slider_two .row .wrapper .item.right .inner .innerheading {

        display: none

    }

}



 .mod-home_services_slider_two .row .wrapper .item.left .inner .innerheading:before,

 .mod-home_services_slider_two .row .wrapper .item.right .inner .innerheading:before {

    content: "";

    position: absolute;

    bottom: -20px;

    left: 50%;

    transform: translateX(-50%);

    height: 1px;

    width: 40px;

    background-color: #fff;

    opacity: .3;

    transition: width 300ms

}



 .mod-home_services_slider_two .row .wrapper .item.left {

    display: none;

    z-index: 4;

    order: 1;

    margin-right: -5%

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider_two .row .wrapper .item.left {

        margin-right: 0

    }

}



 .mod-home_services_slider_two .row .wrapper .item.right {

    z-index: 3;

    order: 3

}



 .mod-home_services_slider_two .row .wrapper .item.center {

    display: flex;

    max-height: 760px;

    width: 85%;

    z-index: 1;

    order: 2

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider_two .row .wrapper .item.center {

        width: 85%;

        max-height: 500px

    }

}



@media only screen and (max-width: 800px) {

     .mod-home_services_slider_two .row .wrapper .item.center {

        width: 100%

    }

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider_two .row .wrapper .item.center {

        flex-direction: column;

        max-height: 100%

    }

}



 .mod-home_services_slider_two .row .wrapper .item.center .image {

    flex-basis: 50%;

    box-shadow: 0 30px 40px rgba(0, 0, 0, .1)

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider_two .row .wrapper .item.center .image {

        max-height: 100vw;

        overflow: hidden

    }

}



 .mod-home_services_slider_two .row .wrapper .item.center .inner {

    flex-basis: 50%;

    position: relative;

    top: auto;

    left: auto;

    transform: none;

    text-align: left;

    padding: 110px 80px 40px 110px;

    margin-bottom: 140px

}



@media screen and (max-width: 1300px) {

     .mod-home_services_slider_two .row .wrapper .item.center .inner {

        padding: 90px 40px 40px 40px

    }

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider_two .row .wrapper .item.center .inner {

        padding-top: 40px;

        padding-bottom: 20px;

        margin-bottom: 0

    }

}



@media only screen and (max-width: 800px) {

     .mod-home_services_slider_two .row .wrapper .item.center .inner {

        padding: 20px 20px

    }

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider_two .row .wrapper .item.center .inner {

        padding: 20px 20px

    }

}



 .mod-home_services_slider_two .row .wrapper .item.center .inner .innerheading .block {

    display: inline !important

}



 .mod-home_services_slider_two .row .wrapper .item.center .inner .content {

    display: block;

    opacity: 1

}



 .mod-home_services_slider_two .row .wrapper .item.center .inner a.btn,

 .mod-home_services_slider_two .row .wrapper .item.center .inner .rate-us a.tab,

.rate-us  .mod-home_services_slider_two .row .wrapper .item.center .inner a.tab {

    display: block;

    margin-top: 40px

}



@media only screen and (max-width: 40em) {



     .mod-home_services_slider_two .row .wrapper .item.center .inner a.btn,

     .mod-home_services_slider_two .row .wrapper .item.center .inner .rate-us a.tab,

    .rate-us  .mod-home_services_slider_two .row .wrapper .item.center .inner a.tab {

        margin-top: 40px

    }

}



 .mod-home_services_slider_two .row .tabs-wrapper {

    position: absolute;

    bottom: 30px;

    left: 44%;

    display: flex;

    box-shadow: 0 0 80px rgba(0, 0, 0, .1);

    z-index: 2;

    -webkit-user-select: none;

    -ms-user-select: none;

    user-select: none

}



@media screen and (max-width: 1300px) {

     .mod-home_services_slider_two .row .tabs-wrapper {

        left: auto;

        right: 0

    }

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider_two .row .tabs-wrapper {

        position: relative;

        top: auto;

        right: auto;

        bottom: auto;

        left: auto;

        width: 100%;

        box-shadow: 0 0 30px rgba(0, 0, 0, .05)

    }

}



 .mod-home_services_slider_two .row .tabs-wrapper .tabs {

    display: flex;

    align-items: center;

    background-color: #fff

}



@media only screen and (max-width: 64em) {

     .mod-home_services_slider_two .row .tabs-wrapper .tabs {

        width: 100%;

        justify-content: center

    }

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider_two .row .tabs-wrapper .tabs {

        flex-direction: column

    }

}



 .mod-home_services_slider_two .row .tabs-wrapper .tabs .tab {

    position: relative;

    padding: 50px 40px;

    text-align: center;

    transition: all 300ms

}



@media only screen and (max-width: 800px) {

     .mod-home_services_slider_two .row .tabs-wrapper .tabs .tab {

        padding: 30px 20px

    }

}



@media only screen and (max-width: 40em) {

     .mod-home_services_slider_two .row .tabs-wrapper .tabs .tab {

        padding: 14px 10px

    }

}





 .mod-home_services_slider_two .row .tabs-wrapper .tabs .tab.active {

    background-color: #dac664

}



 .mod-home_services_slider_two .row .tabs-wrapper .tabs .tab.active p {

    color: #fff

}



 .mod-home_services_slider_two .row .tabs-wrapper .tabs .tab:hover {

    cursor: pointer;

    background-color: #dac664

}



 .mod-home_services_slider_two .row .tabs-wrapper .tabs .tab:hover p {

    color: #fff

}



 .mod-home_services_slider_two .row .tabs-wrapper a.btn,

 .mod-home_services_slider_two .row .tabs-wrapper .rate-us a.tab,

.rate-us  .mod-home_services_slider_two .row .tabs-wrapper a.tab {

    display: flex;

    align-items: center;

    justify-content: center

}



 .mod-home_services_four .row {

    max-width: 1600px;

    margin-bottom: 0px

}



@media only screen and (max-width: 40em) {

     .mod-home_services_four .row {

        padding-left: 0;

        padding-right: 0;

        margin-bottom: 40px

    }

}



 .mod-home_services_four .row .wrapper {

    display: flex

}



@media screen and (max-width: 1300px) {

     .mod-home_services_four .row .wrapper {

        flex-wrap: wrap

    }

}



 .mod-home_services_four .row .wrapper .item {

    position: relative;

    display: inline-block;

    width: calc(25% - 14px);

    margin: 0 5px

}



@media screen and (max-width: 1300px) {

     .mod-home_services_four .row .wrapper .item {

        width: calc(50% - 15px);

        margin-bottom: 10px

    }

}



@media only screen and (max-width: 800px) {

     .mod-home_services_four .row .wrapper .item {

        width: 100%

    }

}



 .mod-home_services_four .row .wrapper .item .image {

    position: absolute;

    max-height: 100%;

    z-index: 2;

    overflow: hidden;

    transition: all 500ms

}



@media screen and (max-width: 1300px) {

     .mod-home_services_four .row .wrapper .item .image {

        opacity: 1

    }

}



@media only screen and (max-width: 64em) {

     .mod-home_services_four .row .wrapper .item .image {

        position: relative;

        max-height: 300px

    }

}



 .mod-home_services_four .row .wrapper .item .image h3 {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate3d(-50%, -50%, 0);

    font-family: "AvenirNextLTW01-UltraLi";

    color: #fff;

    text-align: center;

    opacity: 1;

    z-index: 2;

    transition: all 500ms

}



@media screen and (max-width: 1300px) {

     .mod-home_services_four .row .wrapper .item .image h3 {

        font-size: 20px

    }

}



 .mod-home_services_four .row .wrapper .item .inner {

    margin-top: 80%;

    padding-left: 20px;

    padding-right: 20px;

    opacity: 0;

    transition: all 800ms

}



@media screen and (max-width: 1300px) {

     .mod-home_services_four .row .wrapper .item .inner {

        margin-top: 0;

        padding: 40px 20px;

        opacity: 1

    }

}



@media only screen and (max-width: 40em) {

     .mod-home_services_four .row .wrapper .item .inner {

        padding-top: 20px

    }

}





 .mod-home_services_four .row .wrapper .item .inner a.btn,

 .mod-home_services_four .row .wrapper .item .inner .rate-us a.tab,

.rate-us  .mod-home_services_four .row .wrapper .item .inner a.tab {

    margin-top: 20px

}



 .mod-home_services_four .row .wrapper .item:hover .image {

    max-height: 250px;

    transform: translateY(-40px) scale(1.2);

    z-index: 5

}



@media screen and (max-width: 1300px) {

     .mod-home_services_four .row .wrapper .item:hover .image {

        max-height: 100%;

        transform: none;

        opacity: .3

    }

}



@media only screen and (max-width: 64em) {

     .mod-home_services_four .row .wrapper .item:hover .image {

        opacity: 1;

        max-height: 300px

    }

}



 .mod-home_services_four .row .wrapper .item:hover .image h3 {

    opacity: 0

}



@media only screen and (max-width: 64em) {

     .mod-home_services_four .row .wrapper .item:hover .image h3 {

        opacity: 1

    }

}



 .mod-home_services_four .row .wrapper .item:hover .inner {

    opacity: 1

}



 .mod-home_reviews_block {

    position: relative;

    padding-top: 20px;

    padding-bottom: 20px;

    margin-bottom: 140px;

    z-index: 2

}



 .mod-home_reviews_block .row {

    display: flex;

    flex-wrap: wrap

}



 .mod-home_reviews_block .row .item {

    width: 50%;

    padding: 60px 60px

}