.commonheading{
    font-size: 60px;
    text-transform: uppercase;
}
.testimonialpagevideowrap {
    position: relative;
}

.forabsl {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

@media(min-width:320px) and (max-width:440px){

    .commonmainheadingwrap p span {
        display: inline;
    }
    .commonmainheadingwrap {
        margin-bottom: 20px;
    }
} 