#topcommonbanner.thank_you_page .commonbannerclinic .ban {
    height: 140px !important;
}

#thank_you_design {
    padding: 150px 50px 50px;
}

#thank_you_design .headingandbredcrumb {
    position: unset;
}

#thank_you_design .commonheading {
    font-size: 50px;
    text-transform: uppercase;
    color: #101010;
}

#thank_you_design .commonanchor:hover {
    background: transparent linear-gradient(271deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    color: #fff;
}

#thank_you_design .viewalltestimonial a {
    text-transform: uppercase;
    border: 1px solid #fc004e;
    padding: 7px 30px;
    display: inline-block;
    margin-top: 20px;
}

#thank_you_design .headingandbredcrumb {
    padding: 50px 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 25px 0;
}

.lead {
    font-size: inherit;
    font-weight: 300;
}

@media (min-width: 768px) and (max-width: 992px) {
    #topcommonbanner.thank_you_page .commonbannerclinic .ban {
        height: auto !important;
    }

    #topcommonbanner.thank_you_page {
        position: unset;
        background: unset;
        padding-bottom: 0;
    }

    #topcommonbanner.thank_you_page:before {
        content: '';
        position: unset;
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
        bottom: 0px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    #topcommonbanner.thank_you_page .commonbannerclinic .ban {
        height: auto !important;
    }

    #topcommonbanner.thank_you_page {
        position: unset;
        background: unset;
        padding-bottom: 0;
    }

    #topcommonbanner.thank_you_page:before {
        content: '';
        position: unset;
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
        bottom: 0px;
    }

}

@media (min-width: 320px) and (max-width: 479px) {
    #topcommonbanner.thank_you_page {
        position: unset;
        background: unset;
        padding-bottom: 0;
    }

    #topcommonbanner.thank_you_page .commonbannerclinic .ban {
        height: auto !important;
    }

    #thank_you_design .headingandbredcrumb {
        margin-top: unset;
    }

    #thank_you_design {
        padding: 110px 20px 50px;
    }
}