.commonheading{
    font-size: 60px;
    text-transform: uppercase;
}
.testimonialpagevideowrap {
    position: relative;
}

.forabsl {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

#videoteastimonialwrap{
    padding: 40px 0;
}

.videoinnerbox{
    padding: 10px 10px 0px 10px;
    margin: 1rem 0 1rem 0px;
    position: relative;
    background-color: #fff;
    border: #ddd 1px solid;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}

.videohd {
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
}

@media(min-width:320px) and (max-width:768px){



    .commonmainheadingwrap p span {
        display: inline;
    }
    .commonmainheadingwrap {
        margin-bottom: 20px;
    }
} 