.commonheading {
    font-size: 60px;
    text-transform: uppercase;
}

/*---------Written testinonials------------*/
#writtentestimonialwrap {
    margin-top: 50px;
}

.managewrittenspacing {
    margin: 30px 0;
}

.sorcewrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.candidate-name {
    font-family: 'Noto Serif';
    margin-bottom: 2px;
    font-size: 18px;
}

.content-wrap {
    margin-top: 16px;
}

.stars-wrap span {
    display: inline-block;
    color: #f6c52f;
}

.content-wrap p {
    line-height: 26px;
    overflow: auto;
    max-height: 150px;
    margin-bottom: 0px;
    height: 150px;
    padding-right: 12px;
}

.written-contentwrap {
    padding: 20px;
    position: relative;
    border: 1px solid #ccc;
    height: 300px;
}

.qoutesimage {
    position: absolute;
    top: -30px;
}

.qoutesimage img {
    width: 50px;
}

.warning-content span {
    display: block;
    font-size: 12px;
    margin-top: 14px;
    color: #000000;
    font-family: 'Noto Serif';
}

/* reviews scroll css */
.content-wrap p::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.content-wrap p::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f4f4f4;
}

/* Handle */
.content-wrap p::-webkit-scrollbar-thumb {
    background: transparent linear-gradient(270deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

/* Pageination */

.pageination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}

.pageination .flex.justify-between.flex-1.sm\:hidden {
    display: none;
}

.pageination p.text-sm.text-gray-700.leading-5 {
    display: none;
}

.pageination .shadow-sm {
    box-shadow: unset !important;
}

.pageination svg.w-5.h-5 {
    width: 25px;
}

.pageination span.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5 {
    background: transparent linear-gradient(269deg, #FF004F 0%, #C1004C 100%) 0% 0% no-repeat padding-box !important;
    color: #fff;
    font-weight: 600;
    margin: 0 6px;
    padding: 8px 14px !important;
}

.pageination a.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.hover\:text-gray-500.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150 {
    margin: 0 6px;
    background: aliceblue !important;
    padding: 8px !important;
}

/* end of pageination */

@media(min-width:320px) and (max-width:767px) {

    #topcommonbanner.mob_view{
        padding: 30px 0;
    }

    #topcommonbanner.mob_view .headingandbredcrumb {
        margin-top: 0px;
    }

    #topcommonbanner.mob_view .headingandbredcrumb .commonbredcurmb {
        margin-bottom: 25px;
    }

    .commonmainheadingwrap p span {
        display: inline;
    }

    .commonmainheadingwrap {
        margin-bottom: 20px;
    }

    /* .mob_view .headingandbredcrumb {
        margin-top: 40px;
    } */

    .mob_view .commonheading {
        font-size: 22px !important;
    }

    #writtentestimonialwrap {
        margin-top: 30px;
    }

    .written-contentwrap {
        padding: 14px;
    }

    .sorcewrap {
        margin-top: 12px;
    }

    .candidate-name {
        font-size: 17px;
    }

    .content-wrap p {
        line-height: 25px;
        font-size: 15px;
        padding-right: 10px;
    }

    .warning-content span {
        font-size: 10px;
        margin-top: 16px;
    }

    .qoutesimage {
        top: -20px;
    }

    .qoutesimage img {
        width: 42px;
    }

    .managewrittenspacing {
        margin: 20px 0;
    }

    .pageination span.relative.inline-flex.items-center.px-2.py-2.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.rounded-l-md.leading-5 {
        padding: 0 !important;
    }

    .pageination a.relative.inline-flex.items-center.px-2.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.rounded-r-md.leading-5.hover\:text-gray-400.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-500.transition.ease-in-out.duration-150 {
        padding: 0 !important;
    }

    .pageination a.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.hover\:text-gray-500.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150 {
        font-size: 14px;
        margin: 0 4px;
        padding: 5px !important;
    }

    .pageination span.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5 {
        margin: 0 4px;
        padding: 4px 8px !important;
        font-size: 15px;
    }

}

@media(min-width:768px) and (max-width:991.5px){

    .commonheading {
        font-size: 38px;
    }

    .written-contentwrap {
        padding: 15px;
    }

    #writtentestimonialwrap {
        margin-top: 35px;
    }

    .managewrittenspacing {
        margin: 25px 0;
    }

    .candidate-name {
        font-size: 17px;
    }

    .sorcewrap {
        margin-top: 10px;
    }

    .qoutesimage {
        top: -24px;
    }

    .qoutesimage img {
        width: 45px;
    }

    #writtentestimonialwrap .commonbredcurmb {
        margin-bottom: 20px;
    }

    .content-wrap p {
        line-height: 24px;
        padding-right: 10px;
        font-size: 15px;
    }

    /* pageinagtion */

    .pageination a.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.hover\:text-gray-500.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150 {
        padding: 6px !important;
        font-size: 14px;
    }

    .pageination span.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-500.bg-white.border.border-gray-300.cursor-default.leading-5 {
        padding: 6px 12px !important;
        font-size: 15px;
    }

}

@media(min-width:992px) and (max-width:1100px){

    #writtentestimonialwrap {
        margin-top: 40px;
    }
    
    .commonheading{
        font-size: 40px;
    }

    #topcommonbanner .commonbredcurmb {
        margin-bottom: 35px;
    }

    .managewrittenspacing {
        margin: 26px 0;
    }

    .written-contentwrap {
        padding: 15px;
    }

    .sorcewrap {
        margin-top: 10px;
    }

    .candidate-name {
        font-size: 17px;
    }

    .content-wrap p {
        line-height: 24px;
        padding-right: 10px;
    }

    .warning-content span {
        font-size: 10px;
    }

    .qoutesimage {
        top: -24px;
    }

    .qoutesimage img {
        width: 45px;
    }
}