* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Conv_ITCAvantGardeStdBk";
  src: url("../fonts/ITCAvantGardeStdBk.eot");
  src: local("☺"), url("../fonts/ITCAvantGardeStdBk.woff") format("woff"),
    url("../fonts/ITCAvantGardeStdBk.ttf") format("truetype"),
    url("../fonts/ITCAvantGardeStdBk.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_ITCAvantGardeStdBold";
  src: url("../fonts/ITCAvantGardeStdBold.eot");
  src: local("☺"), url("../fonts/ITCAvantGardeStdBold.woff") format("woff"),
    url("../fonts/ITCAvantGardeStdBold.ttf") format("truetype"),
    url("../fonts/ITCAvantGardeStdBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_ITCAvantGardeStdMd";
  src: url("../fonts/ITCAvantGardeStdMd.eot");
  src: local("☺"), url("../fonts/ITCAvantGardeStdMd.woff") format("woff"),
    url("../fonts/ITCAvantGardeStdMd.ttf") format("truetype"),
    url("../fonts/ITCAvantGardeStdMd.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'edwardian_script_itcregular';
  src: url('../fonts/ITCEDSCR.TTF2') format('woff2'),
    url('../fonts/ITCEDSCR.TTF') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'marcellusregular';
  src: url('../fonts/MarcellusSC-Regular.ttf') format('woff2'),
    url('../fonts/MarcellusSC-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;

}

b,
strong {
  font-family: "Conv_ITCAvantGardeStdMd", Sans-Serif;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

#instagram .btn-close {
  margin-left: auto;
  opacity: 1;
  padding: 10px;
}

.modal-body {
  padding: 0px !important;
  background-color: white;
}

.topSpan {
  color: #ce0174;
  margin-bottom: unset !important;
  display: block;
}

.topSpan1 {
  color: #ce0174;
  margin-bottom: 10px;
  display: block;
}

.mobBrShow {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Conv_ITCAvantGardeStdBk", Sans-Serif;
  /* font-size: 15px; */
  font-size: 1rem;
  font-weight: normal;
  color: #000;
  line-height: 1.6;
}

.srvc_includs {
  font-size: 18px;
  font-weight: 700;
  font-family: "Conv_ITCAvantGardeStdBk", Sans-Serif;
  color: #000;
}

/* glow Animation  */
.glow {
  font-size: 58px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* glow Animation  */

.rsltTxt {
  font-size: 10px;
}

.gry {
  background-color: #565656;
}

.myTesti {
  color: white !important;
}

.landingvideos {
  cursor: pointer;
}

.modal-backdrop.fade.show {
  z-index: 0;
}

/*  Header Start  */
.myHd {
  font-size: 1.6rem;
  color: #000;
}

header {
  padding: 10px 80px;
  margin: 0;
}

header .logoicn {
  /* width: 85px; */
}

header.hdrdark {
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  animation: 1s ease-out 0s 1 slideInFromUp;
}

@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}


header.hdrnobg {
  background: white;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(5, 5, 5, 0.2);
  -moz-box-shadow: 0px 4px 10px 0px rgba(5, 5, 5, 0.2);
  box-shadow: 0px 4px 10px 0px rgba(5, 5, 5, 0.2);
  border-bottom: 2px solid #CA8EB5;
}

.fixed {
  /* position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #fff !important;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  animation: 1s ease-out 0s 1 slideInFromUp; */
}

@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.fixed .logoicn {
  width: 110px;
}

.hdrtop {
  padding: 5px 0;
  color: #fff;
  font-size: 16px;
}

.hdrtop a {
  color: #fff;
}

.hdrtop a:hover {
  color: #000;
  text-decoration: none;
}

.fixed .hdrtop {
  padding: 0;
}

header .logoscroll {
  display: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

header.fixed {
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 99;
}

header.fixed .logoscroll {
  display: inline-block;
  width: 70px;
  height: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* header.fixed .logoicn {
  display: none;
} */

header .hrdTop {
  font-size: 18px;
  margin: 0;
  text-align: right;
}

header .hrdTop img {
  margin-right: 2px;
}

header .hrdTop a {
  text-decoration: none;
  color: #000;
  font-weight: normal;
}

header .hrdTop a:hover {
  color: #dd7054;
}

.navbar {
  padding: 0;
}

header.hdrdark .hdrtop,
header.hdrdark .hdrtop a {
  color: #000;
}

header.hdrdark .hdrtop a:hover {
  color: #dd7054;
}

/************************** Start Home Page *******************************/

.cstmcptin {
  top: 22%;
  color: #000;
  right: 5%;
  left: auto;
  line-height: 1.4;
  text-align: center;
}

.cstmcptin .bnrHD {
  font-size: 4rem;
  /* line-height: 1; */
}

.cstmcptin p {
  font-size: 2rem;
  /* line-height: 1.1; */
}

.cstmcptin p span {
  font-size: 1.4rem;
  display: block;
}

.btnTopAppontmnt {
  padding: 5px 18px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  /* font-family: "Conv_ITCAvantGardeStdMd", sans-serif; */
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  text-decoration: none;
  background: #eaa996;
  background: linear-gradient(to right, #89cddf 0%, #214576 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaa996', endColorstr='#dd7054', GradientType=1);
}

.btnTopAppontmnt:hover {
  color: #fff;
  text-decoration: none;
  background: #dd7054;
  background: linear-gradient(to right, #214576 0%, #89cddf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd7054', endColorstr='#eaa996', GradientType=1);
}

.cstmcptin .btn-play {
  margin: 30px -33px 0 0;
  right: 0;
  bottom: 0;
  width: 75px;
  position: absolute;
  background: #a05f56;
  border: #a05f56 solid 1px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.cstmcptin .btn-play:hover {
  background: #eaa996;
  border-color: #df9d8a;
}

.cstmcptin .btn-play .banner-play-btn-inner {
  color: #fff;
  display: block;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  height: 75px;
  line-height: 75px;
  position: relative;
  z-index: 9;
}

.cstmcptin .btn-play .banner-play-btn-inner .icon {
  margin-right: -5px;
}

.banner-play-btn .btn-play i {
  color: #45c0ae;
}

.banner-play-btn .btn-play i::before {
  line-height: 1;
}

.banner-play-btn .btn-play .icon {
  margin-left: 15px;
  margin-top: 1px;
}

.btn-play:before {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.btn-play:after,
.btn-play:before {
  content: "";
  border: 1px solid;
  border-color: inherit;
  width: 150%;
  height: 150%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  left: -25%;
  top: -25%;
  opacity: 1;
  -webkit-animation: 1s videomodule-anim linear infinite;
  animation: 1s videomodule-anim linear infinite;
  z-index: -1;
}

.btn-play:after {
  content: "";
  border: 1px solid;
  border-color: inherit;
  width: 190%;
  height: 190%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  left: -45%;
  top: -45%;
  opacity: 1;
  -webkit-animation: 1s videomodule-anim linear infinite;
  animation: 1s videomodule-anim linear infinite;
}

@-webkit-keyframes videomodule-anim {
  0% {
    -webkit-transform: scale(0.68);
    transform: scale(0.68);
  }

  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes videomodule-anim {
  0% {
    -webkit-transform: scale(0.68);
    transform: scale(0.68);
  }

  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

.hmCertification {
  width: 100%;
  padding: 30px 100px 26px;
}

.hmServiceBlock {
  padding: 0;
}

.hmServiceBlock .servCatBox {
  position: relative;
  overflow: hidden;
  margin-bottom: 0.9rem;
  color: #fff;
}

.hmServiceBlock .servCatBox .scaption {
  width: 100%;
  padding: 20px 30px;
  position: absolute;
  z-index: 9;
  bottom: -150px;
  transition: all 0.5s;
}

.hmServiceBlock .servCatBox:hover .scaption {
  bottom: -50px;
}

.hmServiceBlock .servCatBox:hover .scaption p {
  opacity: 1;
}

.hmServiceBlock .servCatBox img {
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.hmServiceBlock .servCatBox .scaption .srvName {
  font-size: 1.6rem;
  margin: 0 0 1.2rem;
  color: #fff;
  line-height: 1.1;
  /* text-transform: uppercase; */
  font-weight: 600;
}

.hmServiceBlock .servCatBox .scaption p {
  font-size: 0.9rem;
  margin: 0;
  opacity: 0;
}

.hmServiceBlock .servCatBox .scaption p a {
  color: #fff;
  padding-bottom: 5px;
  text-decoration: none;
  display: inline-block;
  border-bottom: #fff solid 1px;
}

.hmServiceBlock .servCatBox:hover::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hmServiceBlock .servCatBox:hover img {
  -ms-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.hmaboutDr {
  padding: 30px 0;
  margin: 0;
  font-size: 1.1rem;
}

.hmaboutDr .abtHdnTwo {
  font-size: 2rem;
}

.hmaboutDr .abtSubHd {
  font-size: 1.5rem;
}

.hmaboutDr .hdnhOne {
  font-size: 2.4rem;
}

.hmaboutDr .awardtxtHD {
  font-size: 1.9rem;
  margin: 3rem 0 2rem;
  font-weight: bold;
}

.hmaboutDr p {
  font-size: 1.1rem;
}

.hmaboutDr .awardCntnt img {
  width: 120px;
  margin-bottom: 10px;
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.hmaboutDr .awardCntnt img:hover {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.hmaboutDr .awardCntnt p {
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 0 0 0.5rem;
}

.hmaboutDr strong {
  font-weight: bold;
}

.hmaboutDr ol {
  padding: 0 0 0 20px;
}

.hmaboutDr ul {
  padding: 0;
  list-style: none;
}

.hmaboutDr ul li {
  padding: 8px 0 5px 24px;
  position: relative;
  line-height: 1.4;
}

.hmaboutDr ul li::before {
  position: absolute;
  content: "";
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 18px;
  background: #cb5b4d;
}

.gwRecordBrdr {
  border-right: #585858 solid 2px;
  margin-right: 2rem;
}

.gwRecordBrdr img {
  margin-right: 30px;
}

.gwRecordCntnt {
  padding-left: 1rem;
}

.readMore {
  padding: 9px 28px;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
  background: #eaa996;
  background: -moz-linear-gradient(left, #eaa996 0%, #dd7054 100%);
  background: -webkit-linear-gradient(left, #eaa996 0%, #dd7054 100%);
  background: linear-gradient(to right, #eaa996 0%, #dd7054 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaa996', endColorstr='#dd7054', GradientType=1);
}

.readMore:hover {
  color: #fff;
  text-decoration: none;
  background: #dd7054;
  background: -moz-linear-gradient(left, #dd7054 0%, #eaa996 100%);
  background: -webkit-linear-gradient(left, #dd7054 0%, #eaa996 100%);
  background: linear-gradient(to right, #dd7054 0%, #eaa996 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd7054', endColorstr='#eaa996', GradientType=1);
}

.whyPatientChoose {
  background: #e2e0df;
  padding: 30px 30px;
  overflow-x: hidden;
}

.whyPatientChoose .whyPicBx {
  position: relative;
}

.whyPatientChoose .whyContent {
  background: #fff;
  padding: 50px 80px;
  font-size: 1.1rem;
  width: 110%;
  margin-left: -10%;
  box-shadow: rgb(97 97 97) 0px 9px 20px;
  position: relative;
}

.whyPatientChoose .whyContent ul {
  margin: 0;
  padding: 0 0 0 27px;
  height: 690px;
  overflow: auto;
}

.whyPatientChoose .whyContentHght ul {
  height: 350px;
}

.whyPatientChoose .whyContent ul::-webkit-scrollbar-track,
.pprPblctnTabCntnt .tab-pane.active::-webkit-scrollbar-track,
.sctnTestimonials .testItem p::-webkit-scrollbar-track,
.asFacultyMain .facultyContnt::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #ddd;
}

.whyPatientChoose .whyContent ul::-webkit-scrollbar,
.pprPblctnTabCntnt .tab-pane.active::-webkit-scrollbar,
.sctnTestimonials .testItem p::-webkit-scrollbar,
.asFacultyMain .facultyContnt::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.whyPatientChoose .whyContent ul::-webkit-scrollbar-thumb,
.pprPblctnTabCntnt .tab-pane.active::-webkit-scrollbar-thumb,
.sctnTestimonials .testItem p::-webkit-scrollbar-thumb,
.asFacultyMain .facultyContnt::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #eaa996;
  background: -moz-linear-gradient(top, #fff 0%, #EB5F93 100%);
  background: -webkit-linear-gradient(top, #fff 0%, #EB5F93 100%);
  background: linear-gradient(to bottom, #fff 0%, #EB5F93 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaa996', endColorstr='#dd7054', GradientType=0);
}

.whyPatientChoose .whyContent ul li {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

.whyPatientChoose .whyContent ul li:last-child {
  margin-bottom: 0;
}

.whyPatientChoose .whyContent ul li::marker {
  color: #cb5b4d;
  font-size: 2rem;
  line-height: 1.6;
}

.whyPatientChoose .whyPatientDrCntnt {
  position: absolute;
  padding: 5rem;
  padding-left: 17rem;
}

.whyPatientChoose .whyContent .whyHD {
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 10px;
  text-align: center;
}

.whyPatientChoose .whyContent .whyHD strong {
  display: block;
  text-transform: none;
  font-size: 2.6rem;
  font-family: "Conv_ITCAvantGardeStdMd", Sans-Serif;
  font-weight: bold;
}

.whyPatientChoose .whyPatientDrCntnt p {
  font-size: 1.02rem;
  line-height: 1.4;
  margin-top: 50%;
  /* margin-top: 15.6rem; */
  padding-left: 9rem;
}

.ourServiceBx {
  padding: 40px 0 60px;
}

.ourServiceBx .sctnHeading {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

.hmaboutDr .abtHdnTwo span,
.ourServiceBx .sctnHeading span,
.educationMain .sctnHeading span,
.asFacultyMain .hsptlHD span {
  display: inline-block;
  padding: 0 50px;
  position: relative;
}

.hmaboutDr .abtHdnTwo span::after,
.ourServiceBx .sctnHeading span::after,
.educationMain .sctnHeading span::after,
.asFacultyMain .hsptlHD span::after,
.hmaboutDr .abtHdnTwo span::before,
.ourServiceBx .sctnHeading span::before,
.educationMain .sctnHeading span::before,
.asFacultyMain .hsptlHD span::before {
  content: "";
  position: absolute;
  top: 49%;
  width: 32px;
  height: 2px;
  background: #dd7054;
}

.hmaboutDr .abtHdnTwo span::after,
.ourServiceBx .sctnHeading span::after,
.educationMain .sctnHeading span::after,
.asFacultyMain .hsptlHD span::after {
  right: 0;
}

.hmaboutDr .abtHdnTwo span::before,
.ourServiceBx .sctnHeading span::before,
.educationMain .sctnHeading span::before,
.asFacultyMain .hsptlHD span::before {
  left: 0;
}

.ourServiceBx .serviceCateBx {
  text-align: center;
  background: #fff;
  padding: 24px 15px 10px 15px;
  position: relative;
  margin: 1rem;
  box-shadow: 16px 17px 24px 2px rgba(2, 2, 2, 0.28);
  border-bottom: #cb5b4d solid 4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.ourServiceBx .serviceCateBx:hover {
  background: #ffecea;
  margin-top: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.ourServiceBx .serviceCateBx a {
  text-decoration: none;
  /* color: #5a5959; */
  display: block;
}

.ourServiceBx .serviceCateBx img {
  margin: 1.5rem 0;
  width: 140px;
}

.ourServiceBx .serviceCateBx .servCatHd {
  /* font-family: "Conv_ITCAvantGardeStdBold", Sans-Serif; */
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.nanavatiHospital {
  padding: 5rem 2rem;
  background: url(../images/hospital.jpg) no-repeat;
  background-size: cover;
  font-size: 1.1rem;
  line-height: 1.8;
  font-family: "Conv_ITCAvantGardeStdMd", Sans-Serif;
  margin-bottom: 1rem;
}

.nanavatiHospital .hsptlHD {
  font-size: 2.4rem;
  padding-bottom: 1.5rem;
}

.nanavatiHospital .hsptlHD span {
  border-bottom: #333 solid 1px;
  padding-bottom: 0.9rem;
}

/* .nanavatiHospital .contnt {
text-align: right;
} */
.nanavatiHospital .contnt p {
  margin-bottom: 2rem;
}

.bookAppointment {
  padding: 60px;
  position: relative;
  z-index: 1;
}

.bookAppointment .formSpace {
  padding: 0 0 0 40px;
}

.bookAppointment .appointmntHD {
  font-size: 2.6rem;
}

.bookAppointment::after {
  content: "";
  width: 750px;
  height: 100%;
  top: 0;
  left: -3%;
  background: url(../images/cercle-pic.png) bottom left no-repeat;
  position: absolute;
  z-index: -1;
}

.bookAppointment .apntmntFrmBrdr {
  border-right: #333 solid 1px;
}

.bookAppointment .followtxtHD {
  font-size: 3rem;
  margin: 6rem 0;
  line-height: 1.2;
  font-family: "Conv_ITCAvantGardeStdMd", Sans-Serif;
}

.bookAppointment .keeptouchHD {
  font-size: 2.1rem;
}

.bookAppointment .formBox {
  margin-top: 3rem;
}

.bookAppointment .appointmentSocial {
  font-size: 3rem;
}

.bookAppointment .appointmentSocial a {
  color: #000;
}

.bookAppointment .appointmentSocial i {
  margin: 0 16px;
}

.bookAppointment .appointmentSocial a:first-child i {
  margin-left: 0;
}

.bookAppointment .appointmentSocial a:last-child i {
  margin-right: 0;
}

.bookAppointment .appointmentSocial a:hover i.fa-youtube-play {
  color: #ff2d3a;
}

.bookAppointment .appointmentSocial a:hover i.fa-facebook {
  color: #3a4fa8;
}

.bookAppointment .appointmentSocial a:hover i.fa-linkedin {
  color: #0678b6;
}

.bookAppointment .appointmentSocial a:hover i.fa-instagram {
  color: #df488d;
}

.bookAppointment .formBox .infld,
.contactUsFrm .formBox .infld {
  width: 100%;
  background: none;
  border: none;
  border-bottom: #333 solid 2px;
  padding: 6px 4px;
  color: #000;
  font-size: 17px;
  margin-bottom: 15px;
}

.bookAppointment .formBox .infld {
  width: 100%;
  background: none;
  border: none;
  border-bottom: #000 solid 2px;
  padding: 6px 4px;
  color: #000;
  font-size: 17px;
  margin-bottom: 15px;
}

.bookAppointment .formBox .infld::placeholder,
.contactUsFrm .formBox .infld::placeholder {
  color: #000;
}



.bookAppointment .formBox .infld:focus,
.contactUsFrm .formBox .infld:focus {
  outline: none;
  border-color: #EB5F93;
}

.bookAppointment .formBox .error,
.contactUsFrm .formBox .error {
  border-color: #f00;
  color: #f00;
}

label.error {
  font-size: 14px;
}

.edHD {
  font-size: 20px;
  font-weight: bold;
}

.education-qualification {
  text-align: left;
}


.bookAppointment .formBox .btnSubmit,
.contactUsFrm .btnSubmit {
  padding: 8px 40px;
  color: #fff;
  font-size: 16px;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
  background: #eaa996;
  /* background: -moz-linear-gradient(left, #eaa996 0%, #dd7054 100%); */
  /* background: -webkit-linear-gradient(left, #eaa996 0%, #dd7054 100%); */
  /* background: linear-gradient(to right, #eaa996 0%, #dd7054 100%); */
  background-color: #EB5F93;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaa996', endColorstr='#dd7054', GradientType=1);
}

.bookAppointment .formBox .btnSubmit:hover,
.contactUsFrm .btnSubmit:hover {
  text-decoration: none;
  background: #EB5F93;
  /* background: -moz-linear-gradient(left, #dd7054 0%, #eaa996 100%); */
  /* background: -webkit-linear-gradient(left, #dd7054 0%, #eaa996 100%); */
  /* background: linear-gradient(to right, #dd7054 0%, #eaa996 100%); */
  background-color: #EB5F93;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd7054', endColorstr='#eaa996', GradientType=1);
}

/* Start New For Landing page */
.hmServiceBlockNew {
  padding: 2rem 4rem;
}

.infldNew {
  padding: 6px 12px;
  width: 100%;
  font-size: 15px;
  border: #ccc solid 1px;
  border-radius: 4px;
  margin: 10px 0;
  color: grey;
}

.newbtnSubmit {
  background: #c9537a;
  color: #fff;
  padding: 8px 0;
  text-align: center;
  border: none;
}

.newbtnSubmit:hover {
  background: #000;
  color: #fff;
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 70px;
  cursor: pointer;
  width: 40px;
  opacity: 1;
  height: 40px;
  z-index: 99;
  background-color: #ce0174;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  opacity: 1;
}

#scroll:hover {
  background-color: #000;
  color: #fff;
}

#scroll span {
  position: absolute;
  top: 40%;
  left: 40%;
  margin-left: -4px;
  margin-top: -9px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

.contHdng {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
  padding-bottom: 1rem;
}

.bnrContainer {
  padding: 4% 5%;
  position: absolute;
  z-index: 1;
  top: 0;
}

.bnrContainer .frmHd {
  font-size: 1.4rem;
  font-weight: bold;
  color: #214576;
}

.bnrContainer .AdBnrTxt {
  font-size: 2.4rem;

  font-weight: bold;
}

.bnrContainer .brdr {
  margin: 2% 25%;
  border-top: #fff solid 3px;
  display: block;
}

.bnrConttwo {
  padding: 0 5%;
  position: relative;
  background: #e3ecfd;
}

/* End New For Landing page */

.sctnTestimonials {
  padding: 30px 60px;
}

.sctnTestimonials .tsmnlRvwHd {
  font-size: 2rem;
}

.sctnTestimonials .tstmnlHD {
  font-size: 50px;
  margin-bottom: 1.5rem;
  color: black;
  font-family: 'marcellus-regular-webfont';
}

.sctnTestimonials .testItem {
  font-family: "Conv_ITCAvantGardeStdMd", Sans-Serif;
  text-align: center;
  padding: 30px;
  background: #fff;
  border-bottom: transparent solid 4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.custmTstmnal {
  margin-bottom: 4rem;
}

.sctnTestimonials .custmTstmnal .prevbtn {
  top: 50%;
  margin-top: -12px;
  left: -20px;
  width: 25px;
  height: 25px;
  background: #EB5F93;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.sctnTestimonials .custmTstmnal .prevbtn.nextbtn {
  left: auto;
  right: -20px;
}

.sctnTestimonials .custmTstmnal .prevbtn .carousel-control-prev-icon,
.sctnTestimonials .custmTstmnal .nextbtn .carousel-control-next-icon {
  background-size: 60%;
}

.sctnTestimonials .testItem .cname {
  font-size: 13px;
  margin-left: -30px;
  color: #fff;
  padding: 5px 8px;
  background: #EB5F93;
}

.sctnTestimonials .testItem .uname {
  font-size: 1.4rem;
}

.sctnTestimonials .testItem p {
  text-align: center;
  height: 130px;
  overflow: auto;
  margin: 25px 0;
}

/* .sctnTestimonials .testItem p::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
border-radius: 6px;
background-color: #ddd;
}
.sctnTestimonials .testItem p::-webkit-scrollbar {
width: 8px;
background-color: #f5f5f5;
}
.sctnTestimonials .testItem p::-webkit-scrollbar-thumb {
border-radius: 6px;
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
background-color: #cb5b4d;
} */

.sctnTestimonials .testItem .quoteIcon {
  margin-top: -30px;
  width: 60px;
  opacity: 0.4;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  /* filter: url(resources.svg#desaturate); */
  filter: grayscale(100%);
}

.sctnTestimonials .testItem .tpic {
  width: 80px;
  text-align: center;
  height: 80px;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 80px;
  color: #fff;
  background: #EB5F93;
  border: #fff solid 1px;
  margin: 20px auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
}

.sctnTestimonials .testItem .tpic::after {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  width: 85px;
  height: 85px;
  border: #EB5F93 solid 2px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.sctnTestimonials .testItem .tpic img {
  width: 38px;
}

.sctnTestimonials .testItem:hover,
.sctnTestimonials .tstmnlTab.active {
  border-bottom: #EB5F93 solid 4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -ms-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -webkit-transform: scale(1.061);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}

.sctnTestimonials .testItem:hover .cname {
  background: #EB5F93;
}

.sctnTestimonials .testItem:hover .quoteIcon {
  filter: none;
  -webkit-filter: none;
  -webkit-filter: none;
  filter: none;
  filter: none;
  opacity: 1;
}

.sctnTestimonials .custmTstmnal .tstmnlCrcl {
  bottom: -55px;
}

.sctnTestimonials .custmTstmnal .tstmnlCrcl button {
  background: #c4c2c2;
  border: none;
  width: 13px;
  height: 13px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.sctnTestimonials .custmTstmnal .tstmnlCrcl button.active {
  background: #EB5F93;
  width: 38px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.sctnTestimonials .opinion {
  font-size: 0.8rem;
  text-align: center;
}

.tstmnlPage {
  padding: 0 15px;
}

.custoPop .modal-header {
  padding: 0.5rem 1rem;
}

.custoPop .modal-title {
  font-size: 1.1rem;
}

footer {
  padding: 20px 0;
  font-size: 14px;
  color: #000;
  background: #000;
  text-align: center;
}

.footer-ul {
  list-style-type: none;
  text-align: left;
  font-family: "Conv_ITCAvantGardeStdBk", Sans-Serif;
  margin: 0;
  padding-left: 0px;
  padding: 25px;
  height: 100%;
}

.footer-ul li i {
  margin-right: 10px;
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 0;
  color: #EB5F93;
}

.mydis {
  color: #c3c5ce;
}

.txtCprgt {
  padding: 5px 0;
  font-size: 14px;
  background: #EB5F93;
  color: #fff;

}

.disclaimer-section {
  padding: 13px 0px;
  background: #000;
  font-family: "Conv_ITCAvantGardeStdBk", Sans-Serif;
  font-size: 14px;
  color: white;
  text-align: center;
}

/************************** End Home Page *******************************/

/************************** Start About Doctor Page *******************************/
.aboutBanr .cstmcptin .bnrHD,
.aboutBanr .cstmcptin p {
  line-height: 1.5;
}

.aboutBanr .cstmcptin p span {
  font-size: 1.4rem;
}

.aboutBanr .cstmcptin {
  top: 25%;
}

.awardAchvmntSctn {
  height: 720px;
  overflow: visible;
}

.specialIntrestMain {
  padding: 20px 40px 30px;
}

.specialIntrestMain .specialIntrest a {
  text-decoration: none;
  color: #000;
}

.specialIntrestMain .specialIntrest img {
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.specialIntrestMain .specialIntrest:hover img {
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.specialIntrestMain .specialIntrest a:hover {
  color: #dd7054;
}

.specialIntrestMain .specialIntrest p {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.educationMain {
  padding: 20px 40px;
}

.educationMain .sctnHeading {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

.educationMain ul {
  color: #dd7054;
}

.educationMain ul li {
  color: #000;
  font-size: 1.4rem;
  padding: 10px 0;
}

.educationMain ul li::marker {
  line-height: 1;
  font-size: 2rem;
  color: #dd7054;
}

.educationMain ul li strong {
  display: block;
}

.asFacultyMain {
  padding: 40px 70px;
  background: #f5f5f5;
}

.asFacultyMain .hsptlHD {
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
}

.asFacultyMain .facultyContnt {
  padding: 0 2rem;
  font-size: 1.1rem;
  background: #fff;
  max-height: 500px;
  overflow: auto;
}

.asFacultyMain a {
  color: #dd7054;
  display: inline-block;
  text-decoration: none;
}

.asFacultyMain a:hover {
  color: #000;
}

/* .asFacultyMain .facultyContnt::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
border-radius: 6px;
background-color: #ddd;
}
.asFacultyMain .facultyContnt::-webkit-scrollbar {
width: 8px;
background-color: #f5f5f5;
}
.asFacultyMain .facultyContnt::-webkit-scrollbar-thumb {
border-radius: 6px;
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
background-color: #cb5b4d;
} */

.asFacultyMain .facultyContnt ul li {
  margin: 0.7rem 0;
}

.asFacultyMain .facultyContnt ul li::marker {
  line-height: 1;
  font-size: 1.8rem;
  color: #dd7054;
}

.pprPblctnMain {
  padding: 50px 60px;
  background: #e2e0df;
}

.pprPblctnMain .pprPblctnTabCntnt {
  padding: 3rem;
  background: #fff;
  font-size: 1.1rem;
}

.pprPblctnTabCntnt .tab-pane.active {
  max-height: 350px;
  overflow: auto;
  font-size: 1.1rem;
}

.pprPblctnTabCntnt .tab-pane ul {
  padding-left: 18px;
}

.pprPblctnTabCntnt .tab-pane ul li {
  margin: 0.7rem 0;
  padding: 0 0 0 20px;
}

.pprPblctnTabCntnt .tab-pane ul li::marker {
  content: "\f0f6";
  font-family: FontAwesome;
  color: #dd7054;
}

.pprPblctnMain .nav-item {
  font-size: 1.8rem;
}

.pprPblctnMain .nav-item button {
  padding: 0.8rem 2rem;
  color: #000;
  border: none;
}

.whatExpect {
  padding: 5rem 2rem;
  background: url(../images/expect-during-bg.jpg) no-repeat;
  background-size: 100%;
  font-size: 1.1rem;
  line-height: 1.8;
  font-family: "Conv_ITCAvantGardeStdMd", Sans-Serif;
  margin-bottom: 1rem;
}

.whatExpect .contnt {
  text-align: left;
  padding-right: 4rem;
}

.whatExpect .contnt p {
  margin-bottom: 1.5rem;
}

.whatExpect .contnt .hsptlHD {
  line-height: 1.3;
}

.whatExpect ul {
  margin: 0 0 2.5rem;
}

.whatExpect ul li::marker {
  color: #dd7054;
  font-size: 1.4rem;
}

.gwRecordHd {
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 1.5rem;
}

/************************** End About Doctor Page *******************************/

/************************** Start Service Page *******************************/

.srviceBnr {
  padding: 5rem;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 1.1rem;
}

.srviceBnr .brdcrmb,
.innerHeader .brdcrmb,
.cstmcptin .brdcrmb {
  font-size: 14px;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.srviceBnr .brdcrmb a,
.innerHeader .brdcrmb a,
.cstmcptin .brdcrmb a {
  color: #000;
  text-decoration: none;
  padding: 3px 7px;
  position: relative;
}

.srviceBnr .brdcrmb a:first-child,
.innerHeader .brdcrmb a:first-child,
.cstmcptin .brdcrmb a:first-child {
  padding-left: 0;
}

.srviceBnr .brdcrmb a::after,
.innerHeader .brdcrmb a::after,
.cstmcptin .brdcrmb a::after {
  position: absolute;
  right: -3px;
  content: "";
  height: 50%;
  border-right: #000 solid 1px;
  top: 25%;
}

.srviceBnr .brdcrmb a:hover,
.innerHeader .brdcrmb a:hover,
.cstmcptin .brdcrmb a:hover {
  color: #dd7054;
}

.srviceBnr .brdcrmb a:last-child::after,
.innerHeader .brdcrmb a:last-child::after,
.cstmcptin .brdcrmb a:last-child::after {
  display: none;
}

.cstmcptin .brdcrmb {
  text-align: right;
}

.SrviceVideo {
  position: relative;
  display: inline-block;
  right: 0;
}

.SrviceVideo .btn-play:after,
.SrviceVideo .btn-play:before {
  z-index: 0;
}

.srviceBnr .srvicePageHD {
  font-size: 2.5rem;
  line-height: 1.4;
  padding-bottom: 2rem;
}

.srviceBnr .srvicePageHD span {
  border-bottom: #dd7054 solid 1px;
  display: inline-block;
  padding-bottom: 0.8rem;
}

.fullbgContent {
  font-size: 1.1rem;
  padding: 13rem 0 10px 0;
  background: url(../images/who-can-bg.jpg) top center no-repeat;
  background-size: 100%;
}

.fullbgContent .abtHdnTwo {
  font-size: 2.3rem;
  color: #fff;
}

.fullbgContent .abtHdnTwo span {
  border-bottom: #dd7054 solid 1px;
  padding-bottom: 0.8rem;
}

.fullbgContent .fullbgContentTopSpce {
  margin: 7rem 0 0;
}

.fullbgContent .whiteBG {
  padding: 2rem;
  background: #fff;
  box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.25);
}

.fullbgContent .whiteBG ul {
  padding: 0;
  list-style: none;
}

.fullbgContent .whiteBG ul li {
  padding: 8px 0 5px 24px;
  line-height: 1.4;
  position: relative;
}

.fullbgContent .whiteBG ul li::before {
  position: absolute;
  content: "";
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 18px;
  background: #cb5b4d;
}

/* .fullbgContent .whiteBG ul li::marker {
color: #cb5b4d;
font-size: 2rem;
line-height: 1.5;
position: absolute;
} */
.srviceBenefits {
  font-size: 1.1rem;
}

.srviceBenefits ul {
  padding: 0;
  list-style: none;
}

.srviceBenefits ul li {
  padding: 10px 0 10px 24px;
  position: relative;
}

.srviceBenefits ul li::before {
  position: absolute;
  content: "";
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 18px;
  background: #cb5b4d;
}

.srvcWhyChoose {
  padding-left: 0;
  padding-right: 0;
}

.srvcWhyChoose .hsptlHD {
  font-size: 2.4rem;
  line-height: 1.2;
  padding: 0 2rem;
}

.srvcWhyChoose .srvcWhyChooseSpce {
  padding: 3rem;
}

.greyBG {
  background: #f8f8f8;
}

.serviceForm .formBox {
  margin-top: 2rem;
}

.serviceForm::after {
  display: none;
}

.hmaboutDr .tpesGreyBG {
  padding: 3rem 4rem;
  background: #e2e0df;
  margin: 0 2rem;
  box-shadow: 18px 10px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 18px 10px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 18px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.hmaboutDr .tpesGreyBG .tupesGreyHdng {
  padding-bottom: 1rem;
  font-size: 2rem;
}

/************************** End Service Page *******************************/

/************************** Start Inner Pages *****************************/
.innerHeader {
  padding: 3.5rem 0;
  text-align: center;
  background: url(../images/inner-header-bg.jpg) top center no-repeat;
  position: relative;
  background-size: 100%;
}

.innerHeader::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ce0174;
  position: absolute;
  z-index: 0;
}

.innerHeader .hdrHd {
  font-size: 3.2rem;
  z-index: 1;
  color: white;
  position: relative;
}

.innerSpace {
  margin: 3rem auto;
  padding: 15px;
}

.galPic {
  margin: 15px 0;
  overflow: hidden;
}

.galPic:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

.galPic img {
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.galPic img:hover {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

ul.cstmPgntn li {
  margin: 8px;
}

ul.cstmPgntn li a {
  width: 36px;
  height: 36px;
  padding: 0;
  color: #000;
  line-height: 36px;
  border: #333 solid 1px;
  border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
}

ul.cstmPgntn li a:hover,
ul.cstmPgntn li a.active {
  background: #dd7054;
  border-color: #000;
  color: #fff;
}

.vigBox {
  padding: 15px;
}

.vigBox p {
  padding: 6px 0 10px;
  font-size: 1.1rem;
  line-height: 1.3;
  margin: 0;
}

.innerSpace .testItem p {
  height: 104px;
}

.innerSpace .tstmnlTab {
  margin: 0 3rem;
  -ms-transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}

.innerSpace .tstmnlTabBTN {
  padding: 1.4rem;
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
  box-shadow: #9e9e9e 0px 3px 3px 1px;
}

.innerSpace .tstmnlTab.active .tstmnlTabBTN {
  box-shadow: none;
}

.tsmnlRvwHd i {
  font-size: 1.5rem;
}

.starClr i {
  color: #dfe200;
}

.contactUsInfobx {
  padding: 0 3rem;
  display: table;
  font-size: 1.1rem;
}

.contactUsInfobx .contactUsInfoRow {
  padding-bottom: 1.3rem;
}

.contactUsInfobx .contactUsInfoRow p {
  margin: 0;
}

.contactUsInfobx .contactUsInfoRow:hover i {
  color: #db694c;
  border-color: #db694c;
}

.contactUsInfobx .infoHd {
  font-size: 2rem;
  padding-bottom: 1.8rem;
}

.contactUsInfoClmn {
  display: table-cell;
  vertical-align: top;
}

.contactUsInfoClmn span.cntAdrsHd {
  color: #db694c;
  font-size: 1.6rem;
}

.contactUsInfobx a {
  color: #000;
  text-decoration: none;
}

.contactUsInfobx a:hover {
  color: #db694c;
}

.contactUsFrm {
  padding: 3rem;
  background: #f7dbd1;
  background: -moz-linear-gradient(top, #f7dbd1 0%, #eeb6a2 100%);
  background: -webkit-linear-gradient(top, #f7dbd1 0%, #eeb6a2 100%);
  background: linear-gradient(to bottom, #f7dbd1 0%, #eeb6a2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7dbd1', endColorstr='#eeb6a2', GradientType=0);
}

.cntctIconBx {
  width: 75px;
  padding-top: 7px;
}

.cntctIconBx i {
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  border: #333 solid 1px;
  line-height: 50px;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.contactUsInfobx .socialContct {
  font-size: 1.8rem;
}

.contactUsInfobx .socialContct a {
  padding: 0 14px;
}

.tabBlogs {
  border: none;
  margin-bottom: 1rem;
}

.tabBlogs .nav-link {
  border: #000 solid 1px;
  margin: 5px 10px;
  padding: 4px 15px;
  color: #000;
  font-size: 1.1rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.tabBlogs .nav-link.active,
.tabBlogs .nav-link:hover {
  color: #000;
  border-color: #dd7054;
  background: #eaa996;
  background: -moz-linear-gradient(left, #eaa996 0%, #dd7054 100%);
  background: -webkit-linear-gradient(left, #eaa996 0%, #dd7054 100%);
  background: linear-gradient(to right, #eaa996 0%, #dd7054 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaa996', endColorstr='#dd7054', GradientType=1);
}

.tabBlogsCntnt {
  padding: 10px;
}

.blogSideForm {
  overflow: hidden;
  padding: 3rem 1.5rem;
}

.blogSideForm .appointmntHD {
  font-size: 1.6rem;
  line-height: 1.2;
}

.blogSideForm::after {
  width: 100%;
  left: 50%;
  background-size: 100%;
  top: 27%;
}

.blogSideForm .formBox {
  margin-top: 1.2rem;
}

.blogsitems {
  margin-bottom: 40px;
}

.blogsitems figure {
  overflow: hidden;
}

.blogsitems figure img {
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.blogsitems:hover figure img {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.blogsitems .blgDate {
  margin: 1rem 0;
}

.blogsitems .blogTitle {
  font-size: 1.6rem;
  line-height: 1.4;
}

.blogsitems .blgAuthor {
  font-size: 1.1rem;
}

.blogsitems p {
  font-size: 1.1rem;
  padding: 0.8rem 0;
}

.blogsitems .blgreadmore {
  color: #000;
  text-decoration: none;
  position: relative;
  border: #dd7054 solid 1px;
  padding: 9px 22px;
}

.blogsitems .blgreadmore::after {
  content: "\f138";
  color: #dd7054;
  font-family: FontAwesome;
  position: absolute;
  right: -10px;
  top: 5px;
  font-size: 1.1rem;
}

.blogsitems .blgreadmore:hover {
  background: #eaa996;
  background: -moz-linear-gradient(left, #eaa996 0%, #dd7054 100%);
  background: -webkit-linear-gradient(left, #eaa996 0%, #dd7054 100%);
  background: linear-gradient(to right, #eaa996 0%, #dd7054 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaa996', endColorstr='#dd7054', GradientType=1);
}

.blogsitems .blgreadmore:hover::after {
  color: #000;
}

.blogInnerBnr {
  padding: 6rem 0;
  background-size: 100%;
}

.blogInnerBnr::after {
  background: rgba(234, 169, 150, 0.4);
}

.blogDetail .blogsitems {
  margin-bottom: 0;
}

.blogDetail .blogsitems .blgDate {
  margin: 0.5rem 0;
}

.blogDetail .blgDtlShare {
  text-align: right;
}

.blogDetail .blgDtlShare a {
  width: 22px;
  margin-left: 8px;
  height: 22px;
  display: inline-block;
  text-align: center;
  color: #fff;
  line-height: 22px;
}

.blogDetail .blgDtlShare a.sFacebook {
  background: #45569b;
}

.blogDetail .blgDtlShare a.sLinkedIn {
  background: #4376b4;
}

.blogDetail .blgDtlShare a.sTwitter {
  background: #66b5ef;
}

.blogPagination a {
  display: contents;
  color: #000;
  text-decoration: none;
}

.blogPagination a:hover {
  color: #dd7054;
}

.blogPagination img {
  width: 80px;
  height: 80px;
}

.blogPagination p {
  margin: 0;
  padding: 0.8rem 1rem;
}

.blogPagination p span {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
}

.serv-cate-item {
  position: relative;
  padding: 15px;
  background: #fff;
  margin-bottom: 30px;
  margin-bottom: 40px;
  transition-duration: 0.2s;
  transition-property: transform;
  box-shadow: rgb(224, 224, 224) 0 0 15px;
}

.serv-cate-item:hover {
  box-shadow: rgb(211, 211, 211) 0 8px 25px;
}

.serv-cate-item .serv-thumb {
  width: 40%;
  max-height: 300px;
  display: inline-block;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.serv-cate-item .serv-thumb img {
  height: 100%;
  width: 100%;
  margin-left: 0px;
}

.serv-cate-item .serv-cate-cnt {
  padding: 0 0 0 4%;
  margin-top: -15px;
  width: 58%;
  display: inline-block;
}

.serv-cate-item .serv-cate-cnt p {
  font-size: 1rem;
}

.serv-cate-item .serv-cate-cnt .srv-no {
  font-size: 4rem;
  margin-bottom: 0.3rem;
  line-height: 1.2;
  color: #e5e5e5;
}

.serv-cate-item .catHdng {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.serv-cate-item:hover .catHdng {
  color: #dd7054;
}

.serv-cate-cnt a {
  padding: 5px 18px;
  display: inline-block !important;
  text-decoration: none;
  color: #000;
  font-style: italic;
  border: #000 solid 1px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
}

.serv-cate-cnt a:hover {
  color: #000;
  border-color: #dd7054;
  background: #eaa996;
  background: -moz-linear-gradient(left, #eaa996 0%, #dd7054 100%);
  background: -webkit-linear-gradient(left, #eaa996 0%, #dd7054 100%);
  background: linear-gradient(to right, #eaa996 0%, #dd7054 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaa996', endColorstr='#dd7054', GradientType=1);
  text-decoration: none;
  margin-left: 10px;
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
}

.onlyMobileShow {
  display: none;
}

.onlyMobileHide {
  display: block;
}

.serviceCatVwAll {
  height: 152px;
  line-height: 152px !important;
}

.adBannerr {
  position: relative;
  width: 100%;
}

.bnrFrm {
  background: #fff;
  padding: 20px;
  z-index: 2;
  position: relative;
  border: #c9537a solid 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 20px;
}

.mobHide {
  display: block !important;
}

.mobShow {
  display: none !important;
}

.sctnBlock {
  padding: 2rem;
}

.videoCoverBx {
  display: inline-block;
  position: relative;
}

.videoCoverBx .CstmPlayIcn {
  position: absolute;
  bottom: 15px;
  right: 20px;
  z-index: 9;
  font-size: 5rem;
  font-weight: 300;
  color: #fff;
}

.videoCoverBx .CstmPlayIcn:hover {
  color: #dd7054;
}

ul.tickList {
  padding: 0;
  list-style: none;
}

ul.tickList li {
  padding: 8px 0 5px 24px;
  position: relative;
  line-height: 1.4;
}

ul.tickList li::before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f058";
  left: 0;
  top: 7px;
  color: #214576;
}

.darkNote {
  text-align: center;
  background: #000;
  padding: 20px;
  color: #fff;
}

#AppForm {
  height: 2px;
}

.real-results {
  padding: 60px;
  background: #eaeff9;
}

.real-results img {
  width: 100%;
}

.realHD {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

.wtext {
  color: #fff !important;
}

.wtext strong {
  color: #fff !important;
}

.wtext p {
  color: #fff !important;
}

.wtext ul {
  margin-left: -18px;
}


/* Changes made 7 sep 2022  */

/* ______________________________________________________ */
.ourServiceTitle {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.deskBanner {
  display: block;
}

.mobBanner {
  display: none;
}

#cards {
  padding: 40px 70px;
  background: #e3ecfd;
}

#owl1 .h-card {
  padding: 7px 0;
  text-align: center;
  background-color: aliceblue;
  border-bottom: 2px solid #214576;
  margin-bottom: 20px;
}

.offStrip .para {
  font-size: 18px;
  color: white;
  margin: 0px;
  background: #214576;
  padding: 2px 5px;
  animation: buttonBlink 1s ease-in-out infinite alternate;
  width: 68%;
}

@keyframes buttonBlink {
  100% {
    box-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 5px #0ba9ca,
      0 0 7px #0ba9ca, 0 0 7px #0ba9ca;
  }
}


.offStrip .price {
  font-size: 25px;
}

.offStrip .tcapply {
  font-size: 8px;
  color: black;
  padding: 2px 5px;
  margin: 0px;
  width: 56px;
  /* margin-left: auto; */
  float: right;
  margin-right: 140px;
  margin-top: -11px;
}

.topBanBr {
  display: none;
}

.topCallBtn {
  padding: 12px 40px;
  color: #c9537a;
  border: 2px solid #c9537a;
  text-decoration: none !important;
  border-radius: 29px;
  background-color: white;
}

.topCallBtn:hover {
  background-color: #c9537a;
  color: white;
}

.cstmBnr {
  width: 100% !important;
}

.bannerContent {
  /* border: 1px solid blue; */
}

.bannerContent .docName {
  font-size: 58px;
  font-weight: 700;
  color: #ce0174;
  line-height: 1.2;
}



.bannerContent .myDocName {
  font-size: 25px !important;
}

.bannerContent ul {
  list-style: none;
  padding: 0px;
  text-align: left;
}

.bannerContent .docDesg {
  font-size: 18px;
  font-weight: 500;
  margin-top: -5px;
  margin-bottom: 20px;
}

.bannerContent .topListIcon {
  width: 25px;
  position: relative;
  bottom: 3px;
}

.bannerContent ul li {
  font-size: 18px;
}


.serviceBox .serviceContent {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviceBox .serviceContent li {
  font-size: 16px;
  list-style: none;
}

.serviceBox .serviceTitle {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin: 10px 0;
}

.serviceBox .serviceContent .serviceImage {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 50%;
  padding: 20px;
}

.serviceBox .serviceContent img {}

.desplay-desk {
  display: block;
}

.desplay-mob {
  display: none;
}

/* ______________________________________________ */

.carousel-item {
  transition: -webkit-transform .6s ease-in-out !important;
  transition: transform .6s ease-in-out !important;
  transition: transform .6s ease-in-out !important, -webkit-transform .1s ease-in-out !important;
}


/************************** End Inner Pages *******************************/
/* My css start here  */
.myBg {
  background: url(../images/bannerDesktop.jpg) no-repeat center center;
  background-size: cover;
  padding-bottom: 25px;
  padding-top: 70px;
}

.souldermaDesk {
  background: url(../images/souldermaMain.jpg) no-repeat center center;
  background-size: cover;
  padding-bottom: 25px;
  padding-top: 70px;
}

.souldermaDesk1 {
  background: url(../images/doctor_banner.jpg) no-repeat center center;
  background-size: cover;
  padding-bottom: 25px;
  padding-top: 70px;
}

.banner_img img {
  width: 100%;
}

/* .weddingdesk {
  background: url(../images/main-weddingbanner.jpg ) no-repeat center center;
  background-size: cover;
  padding-bottom: 25px;
  padding-top: 70px;
} */


.myLipBg {
  background: url(../images/bannerDesktop2.jpg) no-repeat center center;
  background-size: cover;
  padding: 70px 0px;
}

.mTopClass {
  margin-top: 58px;
}

section.topStatisticStrip {
  background-color: #f8c4d8;
  color: #ce0174;
}

section.topStatisticStrip {
  background-color: #565656;
  color: #fff;
}

.topStrip {
  padding: 20px 0px;
}

.topStrip li {
  list-style-type: none;
  text-align: center;
  position: relative;
}

.mnLine li {
  border-right: 3px solid white;
}

.mnLine li:last-child {
  border-right: none !important;
}

.topStrip .lineDiv::after {
  content: '';
  width: 2px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: white;
  transform: translateY(-50%);
}

.topStrip1 .lineDiv1 {
  border-right: 2px solid #fff;
}
.caps_txt{
  text-transform: uppercase;
}
.position_rltv{
  position: relative;
}
.ldplay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.topStrip .lineDiv:last-child::after {
  all: unset;
}


.topStrip li span:first-child {
  font-size: 35px;
  display: block;
}

.topStrip li span:last-child {
  font-size: 20px;
  display: block;
}

.topStrip1 li span:last-child {
  font-size: 18px;
  display: block;
}

.topStrip .topStrip_line {
  height: 80px;
  width: 5px;
  margin: 0 10px;
  background: red;
}

button.accordions {
  border-bottom: 1px solid white;
  color: #EB5F93;
  position: relative;
  font-size: 20px;
}

.reasonTo {
  padding: 50px 60px;
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: white;
}

.reasonTo li {
  padding: 8px 0 5px 24px;
  position: relative;
  line-height: 1.4;
  list-style: none;
}

.reasonTo li::before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f058";
  left: 0;
  top: 7px;
  color: #EB5F93;
}

/* ********************************************** */
/* strip_form */
.top-formbg {
  background-color: #e4e0c3bf;
  padding: 1rem;
}

.form_headingg, .mob-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_group_justify {
  justify-content: space-between;
  align-items: center;
}

.common_inputs {
  padding: 10px;
}

.cptcha img {
  width: 100%;
}

.btn-submit {
  padding: 8px 2.5rem;
  background-color: #EB5F93;
  border: none;
  border-radius: 12px;
  color: #fff;
}

.heading_form {
  font-size: 18px;
  font-weight: 700;
}

/* My new css  */
.price_btn {
  width: 180px;
  border-radius: 6px;
  background-color: #c9e8fd;
  padding: 18px 30px;
  padding-top: 6px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  margin-bottom: 0;
  margin-top: 10px;
}

.price_btn p {
  color: rgba(117, 117, 117, 0.8);
  font-size: 13px;
  font-style: italic;
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
  font-family: "Conv_GalanoGrotesqueItalic";
}

.price_btn h6 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
  font-family: "Conv_GalanoGrotesqueRegular";
}

.price_btn span {
  color: rgba(117, 117, 117, 0.8);
  font-size: 11px;
  float: right;
  padding-bottom: 3px;
  text-align: right;
  margin-right: -20px;
}

.serviceCard {
  padding: 20px;
  background: #fff9f2;
  color: black;
  border-radius: 20px;
  padding-left: 35px;
  padding-right: 35px;
  height: 100%;
}

.serviceCard li {
  padding: 3px 0 3px 24px;
  position: relative;
  line-height: 1.4;
  list-style: none;
}

.serviceCard li::before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f058";
  left: 0;
  top: 2px;
  color: #EB5F93;
}

.serviceCard .sName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.serviceCard .popTag {
  padding: 8px 13px;
  color: #EB5F93;
  border: 2px solid #EB5F93;
  text-decoration: none !important;
  border-radius: 29px;
  background-color: white;
  margin-top: 10px;
}

.modal-content {
  background: none !important;
  border: none !important;
}

.modal-header {
  border: none !important;
}

.s2 {
  background-color: rgb(244 247 251);
}

.s3 {
  background-color: rgb(250 247 252);
}

.s4 {
  background-color: rgb(255 249 242);
}

.s5 {
  background-color: rgb(250 247 252);
}

.s6 {
  background-color: ;
}

.s7 {
  background-color: rgb(250 247 252);
}

.s8 {
  background-color: ;
}

.videoItmBx {
  padding: 15px 0;
}

.video-iframe {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-iframe .video-responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.male_infertility {
  width: 100%;
  background-color: #d1ebfb;
  background-repeat: repeat;
}

.row_design {
  padding: 30px;
}

.introhd {
  font-size: 38px;
  color: #0b7cc7;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-weight: 400;
}

.nrml_peragraph {
  font-size: 18px;
  padding: 20px 0px;
}

.rcorners {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  border: 1px solid #707070;
  margin: 10px auto;
  text-align-last: justify;
}

.rcorners img {
  text-align: center;
  padding: 8px;
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.rcorners:hover .rcorners img {
  transform: scale(1.5);
}

.rcornerstxt {
  width: 100%;
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  padding: 5px 0 15px 0;
  text-align: center;
}


/* Today css  */
.whyChooseSec {
  list-style: none;
  padding: 60px 0;
  font-family: 'Inter', sans-serif;
}

.mainHead {
  font-size: 50px;
  margin-bottom: 2.5rem;
  color: black;
  font-family: 'marcellus-regular-webfont';
}

.whyChooseSec li {
  width: 32%;
  text-align: center;
  border-right: 2px solid #C50050;
}



.whyChooseSec .whyHd {
  font-size: 35px;
  font-family: 'marcellusregular';
  color: #C50050;
  margin-bottom: 10px;
}

.docSection {
  list-style: none;
  padding: 60px 0;
  font-family: 'Inter', sans-serif;
}

.docSection .docName {
  font-size: 50px;
  font-family: 'marcellusregular';
  color: #C50050;
  margin-bottom: 20px;
}

.docSection .docContent p {
  color: #8F3B61;
}

.docSection .docContent li {
  padding: 7px 0 0px 20px;
  position: relative;
  line-height: 1.4;
  list-style: none;
}

.docSection .docContent li::before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f101";
  left: 0;
  top: 7px;
  color: #f16e9a;
}

section.bookAppointment {
  background: #FAC6D9;
  overflow: hidden;
}

section.bookAppointment:before {
  content: '';
  position: absolute;
  top: 0;
  left: -5%;
  background: url(../images/consult-bg.png);
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 160%;
  height: 100%;
  z-index: -1;
}

.resultSec {
  list-style: none;
  padding: 60px 0;
  font-family: 'Inter', sans-serif;
  background: rgb(250 197 214 / 34%);
}

.resultSec img {
  border-radius: 20px;
}

ul.myUl li {
  padding: 7px 0 0px 20px;
  position: relative;
  line-height: 1.4;
  list-style: none;
}

ul.myUl li:before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f101";
  left: 0;
  top: 7px;
  color: #f16e9a;
}

.offerList {
  background-color: white;
  list-style: none;
  display: inline-block;
  padding: 20px 0;
  border-radius: 20px;
  position: relative;
  font-family: 'marcellusregular';
  width: 200px;
  text-align: center;
  margin: 20px;
  border: 2px solid #c9537a;
}

.mnofferList {
  all: unset !important;
  list-style: none !important;
  position: relative !important;
  margin: ;
}

.offTag {
  font-size: 35px;
}

.mnOffTag {
  background-color: white;
  list-style: none;
  display: block;
  padding: 20px 0;
  border-radius: 20px;
  position: relative;
  font-family: 'marcellusregular';
  width: 200px;
  text-align: center;
  margin: 5px 0;
  border: 2px solid #c9537a;
  margin-top: 25px;
}

.oldPriceTag {
  text-decoration: line-through;
  color: gray;
  display: inline-block;
  font-size: 14px;
}

.newPriceTag {
  display: inline-block;
  font-size: 20px;
}



.offerTag {
  position: absolute;
  top: -20px;
  left: -15px;
  font-size: 18px;
  padding: 8px 10px;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid #c9537a;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mnOffertag {
  display: inline-block;
  z-index: 1;
  top: -10px !important;
  left: -15px !important;
  border-radius: 0px;
  transform: rotate(-25deg);
  padding: 0 25px;
}

.sessionTag {
  position: absolute;
  bottom: -28px;
  right: -35px;
  background-color: white;
  padding: 8px 10px;
  font-size: 18px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid #c9537a;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mnStag {
  position: static;
  display: inline-block;
  width: 200px;
  border-radius: 0px;
  font-size: 14px !important;
  position: relative;
  left: 95px;
  top: -25px;
}

.mnStag span {
  padding: 7px 0 0px 20px;
  position: relative;
  line-height: 1.4;
  list-style: none;
}

.mnStag span::before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f101";
  left: 0;
  top: 7px;
  color: #f16e9a;
}


section.myVidBG {
  background: #FAC6D9;
  overflow: hidden;
  position: relative;
}

section.myVidBG1 {
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
}

/* section.myVidBG:before {
  content: '';
  position: absolute;
  top: 0;
  left: -5%;
  background: url(../images/consult-bg.png);
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 160%;
  height: 100%;
} */

/* myToday */
section.contentSection {
  padding: 60px 0;
  background-color: #f5f5f5;
}

.secHDg {
  font-size: 32px;
  font-family: 'marcellusregular';
  color: #C50050;
  margin-bottom: 10px;
}

.secHDg1 {
  font-size: 27px;
  font-family: 'marcellusregular';
  color: #C50050;
  margin-bottom: 10px;
  line-height: 34px;
}

section.contentSection li,
section.gloMediSec li {
  padding: 7px 0 0px 20px;
  position: relative;
  line-height: 1.4;
  list-style: none;
}

section.contentSection li::before,
section.gloMediSec li::before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f101";
  left: 0;
  top: 7px;
  color: #f16e9a;
}

section.gloMediSec {
  padding: 60px 0;
  background-color: #fff;
}

.mob_img {
  display: none;
}

.packages_included {
  text-align: center;
  font-size: 29px;
  font-family: 'marcellusregular';

}

.Packages_facial {
  background: #ff7c7c;
  padding: 10px 1px;
  font-weight: bold
}

.contentSection1_design {
  padding: 30px;
}

/* .Packages_facial {
  display: none;
} */


/* ************************************************* */


@media (min-width: 1270px) and (max-width: 1350px) {
  .awardAchvmntSctn {
    height: 760px !important;
  }

  .ourServiceBx .serviceCateBx .servCatHd {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .mnmenu a.nav-link {
    padding: 8px 12px !important;
  }

  .mnmenu a.nav-link {
    padding: 8px 10px !important;
  }

  header .hrdTop {
    font-size: 16px;
  }

  .btnTopAppontmnt {
    font-size: 14px;
  }

  footer .btnTopAppontmnt {
    font-size: 13px;
    padding: 5px 14px;
  }

  .bookAppointment .keeptouchHD {
    font-size: 1.8rem;
  }

  .bookAppointment .followtxtHD {
    margin: 3rem 0;
    font-size: 2.5rem;
  }

  .bookAppointment .appointmentSocial {
    font-size: 2rem;
  }

  .hmaboutDr .hdnhOne {
    font-size: 2rem;
  }

  .hmaboutDr .abtHdnTwo {
    font-size: 2rem;
  }

  /* .whyPatientChoose .whyPatientDrCntnt {
padding: 4rem;
} */
  .whyPatientChoose .whyPatientDrCntnt .whyHD {
    font-size: 1.4rem;
  }

  .whyPatientChoose .whyPatientDrCntnt .whyHD strong {
    font-size: 1.6rem;
  }

  .whyPatientChoose .whyPatientDrCntnt p {
    padding: 0;
    margin-top: 40%;
  }

  .whyPatientChoose .whyContent,
  .whyPatientChoose .whyContent ul li {
    font-size: 1rem;
  }

  .whyPatientChoose .whyContent ul li::marker {
    line-height: 1.3;
    font-size: 1.6rem;
  }

  .ourServiceBx .serviceCateBx {
    padding: 10px;
    margin: 0;
  }

  .ourServiceBx .serviceCateBx img {
    margin-top: 0;
    width: 100px;
  }

  .ourServiceBx .serviceCateBx .servCatHd {
    font-size: 1rem;
  }

  .ourServiceBx .sctnHeading,
  .bookAppointment .appointmntHD,
  .sctnTestimonials .tstmnlHD,
  .educationMain .sctnHeading {
    font-size: 2.3rem;
  }

  .nanavatiHospital {
    font-size: 1rem;
  }

  .nanavatiHospital .hsptlHD {
    font-size: 1.5rem;
  }

  .awardAchvmntSctn {
    height: auto;
  }

  .gwRecordHd {
    font-size: 1.4rem;
  }


  .whatExpect {
    background-size: 120%;
  }

  .whatExpect .contnt {
    padding: 0;
  }

  .contactUsInfobx {
    padding: 0 2rem;
  }

  .contactUsInfobx .socialContct {
    font-size: 1.6rem;
  }

  .contactUsInfobx .socialContct a {
    padding: 0 11px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .dsktp {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .bannerContent .docName1 {
    font-size: 40px;
    font-weight: 700;
    color: #ce0174;
    line-height: 1.2;
  }

  .souldermaDesk1 {
    background: url(../images/doctor_banner.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .dsktp {
    display: block !important;
  }

  .whyPatientChoose .whyPatientDrCntnt {
    padding: 0rem 4rem 0 15rem !important;
  }

  .nanavatiHospital {
    padding-top: 2rem !important;
  }

  .whyPicBx img {
    width: 100%;
  }

  .whyPatientChoose .whyContent {
    width: 100%;
    margin-left: auto;
  }

  .whyPatientChoose .whyContentHght ul {
    height: 200px;
  }

  .serv-cate-item .serv-cate-cnt .srv-no {
    font-size: 3rem;
  }

  .whyPatientChoose .whyContent ul {
    height: auto;
  }

  .whyPatientChoose .whyContent h2 {
    text-align: center;
  }

  .cstmcptin .btn-play {
    right: 40%;
    bottom: 10%;
  }

  .SrviceVideo .custom-video-icon {
    right: 14%;
    bottom: 8%;
  }

  textarea.infldNew {
    height: 60px;
  }

  .infldNew {
    margin: 6px 0;
  }

  .bnrContainer.bnrConttwo {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .bnrConttwo p {
    margin-bottom: 0;
    line-height: 1.4;
    font-size: 15px;
  }

  .bnrConttwo .contHdng {
    font-size: 1.3rem;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  section.contentSection1 {
    padding: 30px 0 !important;
  }

  /* Write here  */



  .whyPatientChoose .whyPatientDrCntnt {
    padding: 8rem 3rem 0 23rem !important;
  }

  .whyPatientChoose .whyPatientDrCntnt p {
    font-size: 1rem !important;
  }

  .whyPatientChoose .whyContent .whyHD strong {
    font-size: 2.4rem !important;
  }

  .whyPatientChoose .whyContent .whyHD {
    font-size: 1.9rem !important;
  }

  .nanavatiHospital {
    padding-top: 26rem !important;
  }

  .SrviceVideo {
    position: absolute;
    left: 5%;
    margin-top: 2.5%;
  }

  .SrviceVideo .custom-video-icon {
    left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {


  header {
    padding: 6px 40px;
  }

  header .logoicn,
  header .logoscroll {
    width: 155px !important;
  }

  .adBanner {
    overflow-x: hidden;
  }

  .cstmBnr {
    width: 120% !important;
  }

  .hdrtop {
    font-size: 13px;
  }

  .fhdng {
    margin: 15px 0;
    font-size: 18px;
  }

  .mnmenu a.nav-link {
    padding: 8px 4px !important;
    font-size: 12px !important;
  }

  .dsktp {
    display: none;
  }

  .hmCertification img {
    width: 120px !important;
  }

  .cstmcptin .bnrHD {
    font-size: 2.4rem !important;
  }

  .cstmcptin p {
    font-size: 1.6rem !important;
  }

  .cstmcptin p span {
    font-size: 1.2rem !important;
  }

  .whatExpect {
    padding-top: 1rem !important;
  }

  .hmaboutDr .awardCntnt p {
    font-size: 1rem !important;
  }

  .hmaboutDr .awardCntnt p.gwRecordHd {
    font-size: 1.4rem !important;
    padding-top: 10px;
  }

  .ourServiceBx .serviceCateBx .servCatHd {
    font-size: 0.9rem !important;
  }

  .sctnTestimonials .testItem p {
    height: 130px !important;
  }

  .bnrContainer {
    padding: 1.1% 4% !important;
  }

  .bnrContainer .AdBnrTxt {
    font-size: 1.6rem;
  }

  .hmServiceBlockNew {
    padding: 1rem 2rem;
  }

  .hmServiceBlock .servCatBox .scaption {
    padding: 20px;
    bottom: -170px;
    line-height: 1.3;
  }

  .hmServiceBlock .servCatBox:hover .scaption {
    bottom: -10px;
  }

  .hmServiceBlock .servCatBox .scaption p {
    font-size: 14px;
  }

  .hmServiceBlock .servCatBox .scaption .srvName {
    font-size: 1.2rem;
  }

  .asFacultyMain {
    padding: 1rem 2rem;
  }

  .gRecord h4 {
    font-size: 1.2rem;
  }

  .hmCertification {
    padding: 20px;
  }

  .sctnBlock .contHdng,
  .contHdng {
    font-size: 1.4rem;
    line-height: 1.4;
  }

  .newbtnSubmit {
    padding: 6px 0;
  }
}

@media (width: 1024px) {
  .srviceBnr {
    padding: 1rem !important;
  }

  .bnrContainer .frmHd {
    font-size: 1.4rem;
  }
}

@media (width: 768px) {

  .srviceBnr {
    padding: 20rem 1rem 1rem 1rem !important;
  }

  .fullbgContent {
    padding-top: 7rem !important;
  }

  .fullbgContent .fullbgContentTopSpce {
    margin-top: 1rem !important;
  }

  header.hdrnobg {
    padding: 6px 40px;
  }

  .adBanner {
    overflow-x: hidden;
  }

  .bnrContainer .brdr {
    border-color: #ededed;
  }

  .cstmBnr {
    width: 200% !important;
  }

  .bnrContainer {
    position: unset;
    padding-bottom: 0;
  }

  .bnrContainer .AdBnrTxt {
    font-size: 1.4rem;
  }

  .frmHd {
    font-size: 1.4rem !important;
  }

  .bnrFrm {
    background: #fbfbfb;
  }

  header .hrdTop {
    font-size: 16px !important;
  }

  .hmServiceBlock .servCatBox .scaption {
    padding: 15px;
    bottom: -145px !important;
  }

  .hmServiceBlock .servCatBox:hover .scaption {
    bottom: 0 !important;
    padding-bottom: 0;
  }

  .hmServiceBlock .servCatBox .scaption .srvName {
    font-size: 0.8rem !important;
    margin-bottom: 0.5rem;
  }

  .hmServiceBlock .servCatBox .scaption p {
    font-size: 12px;
    line-height: 1.2;
  }

  .sctnBlock .contHdng,
  .contHdng {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 768px) {
  .mob50 {
    width: 50% !important;
  }

  .mobPartHide {
    display: none !important;
  }

  .myYoutubeBody {
    height: 300px !important;
    padding: 5px !important;
  }

  .myTopForm {
    margin-top: 15px;
  }

  /* Changes made on 7 sep 2022  */
  .btnDiv {
    display: block !important;
  }

  .mTopClass {
    margin-top: 0px;
  }

  .btnDiv a {
    font-size: 14px;
    padding: 8px 0px;
    text-decoration: none;
    border-radius: 29px;
    display: block;
    margin: auto;
    background-color: #EB5F93;
    color: white;
    margin-bottom: 15px;
  }

  .paDiv {
    padding: 7px 0px;
    background-color: #e3ecfd;
  }

  #cards {
    padding: 0;
    padding-top: 20px;
  }


  .offStrip .price {
    font-size: 12px;
  }

  .topCallBtn {
    font-size: 14px;
    padding: 8px 29px;
    border-width: 1px;
    text-decoration: none !important;
    background-color: white;
  }


  .topBanBr {
    display: block;
  }

  .bannerContent {
    padding-top: 10px;
  }

  .bannerContent .docName {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .bannerContent ul {
    list-style: none;
    padding: 0px;
    text-align: left;
  }

  .myUl {
    /* width: 60%; */
  }

  .bannerContent .docDesg {
    font-size: 10px;
    font-weight: 500;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .bannerContent .topListIcon {
    width: 15px;
    position: relative;
    bottom: 1px;
    margin-right: -5px;
  }

  .bannerContent ul li {
    font-size: 10px;
  }

  .offStrip {
    position: absolute;
    bottom: -42px;
    color: white;
    font-size: 10px;
  }

  .offStrip .para {
    font-size: 18px;
    color: white;
    margin: 0px;
    background: #214576;
    padding: 2px 5px;
  }

  .serviceBox {
    width: 50% !important;
  }

  .serviceBox .serviceContent {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .serviceBox .serviceContent li {
    font-size: 14px;
    list-style: none;
  }

  .serviceBox .serviceTitle {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 500;
    color: #000;
  }

  .reasonTo {
    padding: 10px 0px !important;
  }

  .topLowerForm {
    margin-top: 30px;
  }

  /* _______________________________________________ */
  #AppForm {
    height: 2px;
  }

  header .dsktp {
    display: none;
  }

  header.fixed .logoscroll,
  header .logoicn {
    width: 65px;
  }

  header .hrdTop {
    font-size: 14px;
    margin: 0;
    text-align: left !important;
  }

  header .hrdTop img {
    width: 16px;
  }

  header.fixed .hrdTop {
    margin-bottom: 0;
  }

  .hmCertification,
  .hmaboutDr,
  .nanavatiHospital,
  .bookAppointment,
  .sctnTestimonials,
  .specialIntrestMain,
  .educationMain,
  .asFacultyMain,
  .pprPblctnMain,
  footer {
    padding: 30px 0 40px;
  }

  .hmCertification img {
    width: 100%;
  }

  .cstmcptin .bnrHD {
    font-size: 1.6rem;
  }

  .cstmcptin p {
    font-size: 1rem;
  }

  .cstmcptin p span {
    font-size: 1rem;
  }

  .cstmcptin .btn-play {
    margin-top: 2px;
    margin-right: 0;
    right: 43%;
    bottom: 5%;
  }

  .cstmcptin .btn-play,
  .cstmcptin .btn-play .banner-play-btn-inner {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 1.2rem;
  }

  .hmaboutDr,
  .fullbgContent {
    font-size: 16px;
  }

  .hmaboutDr .abtHdnTwo {
    font-size: 2rem;
    line-height: 1.2;
  }

  .hmaboutDr .abtSubHd {
    font-size: 1.3rem;
    padding: 0.4rem 0;
  }

  .hmaboutDr .hdnhOne {
    font-size: 1rem;
  }

  .hmaboutDr .awardCntnt img {
    width: 80px;
  }

  .hmaboutDr .awardCntnt p {
    font-size: 1.1rem;
  }

  .hmaboutDr .awardtxtHD {
    font-size: 1.4rem;
  }

  .hmServiceBlock .servCatBox .scaption .srvName {
    font-size: 1.3rem;
  }

  .whyPatientChoose {
    padding: 40px 0;
  }

  .whyPatientChoose .whyPatientDrCntnt {
    padding: 1.5rem 2rem 0 10.5rem;
  }

  .whyPatientChoose .whyPatientDrCntnt .whyHD,
  .whyPatientChoose .whyPatientDrCntnt .whyHD strong {
    font-size: 1.6rem;
  }

  .whyPatientChoose .whyPatientDrCntnt p {
    font-size: 0.9rem;
    margin-top: 0;
    padding-left: 0;
  }

  .whyPatientChoose .whyContent .whyHD,
  .whyPatientChoose .whyContent .whyHD strong {
    font-size: 1.8rem;
  }

  .whyPatientChoose .whyContent h2 {
    text-align: center;
  }

  .ftrFixMenu {
    text-align: center;
    font-size: 12px;
    position: fixed;
    background: #eaa996;
    background-color: #26272b;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaa996', endColorstr='#dd7054', GradientType=1);
    padding: 8px 0 5px;
    bottom: -1px;
    z-index: 9;
    width: 100%;
    border-top: 2px solid #EB5F93;
  }

  .ftrFixMenu .col {
    border-right: #fff solid 1px;
  }

  .ftrFixMenu .col:last-child {
    border: none;
  }

  .ftrFixMenu a {
    color: #fff;
    text-decoration: none;
  }

  .ftrFixMenu a:hover {
    color: #000;
  }

  .ftrFixMenu a i {
    font-size: 20px;
  }

  .ftrFixMenu p {
    margin: 0;
  }

  .hmaboutDr p,
  .whyPatientChoose .whyContent,
  .whyPatientChoose .whyContent ul li {
    font-size: 1rem;
  }

  .ourServiceBx .sctnHeading {
    font-size: 1.8rem;
  }

  .ourServiceBx .sctnHeading span {
    padding: 0 30px;
  }

  .ourServiceBx .serviceCateBx {
    margin: 0.3rem 0;
    padding: 15px 0;
  }

  .ourServiceBx .serviceCateBx .servCatHd {
    font-size: 1.2rem;
  }

  .ourServiceBx .serviceCateBx img {
    width: 100px;
    margin: 0 0 0.5rem;
  }

  .sctnTestimonials {
    padding: 30px 15px;
  }

  .faqSection {
    padding: 30px 0px !important;
  }

  .sctnTestimonials .tstmnlHD {
    font-size: 1.6rem;
  }

  .sctnTestimonials .testItem {
    margin: 1rem 0.5rem;
    padding: 15px;
  }

  .sctnTestimonials .testItem .cname {
    margin-left: -15px;
  }

  .sctnTestimonials .testItem .uname {
    font-size: 1.1rem;
  }

  .sctnTestimonials .testItem p {
    height: auto;
  }

  .sctnTestimonials .custmTstmnal .prevbtn.nextbtn {
    right: -24px;
  }

  .sctnTestimonials .custmTstmnal .prevbtn {
    left: -24px;
  }

  .sctnTestimonials .testItem:hover {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .nanavatiHospital {
    padding-top: 14rem;
    background-position-y: 0;
    background-size: 150%;
    font-size: 1rem;
  }

  .nanavatiHospital .hsptlHD {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  .nanavatiHospital .hsptlHD span {
    border: none;
  }


  .bookAppointment {
    overflow: hidden;
    text-align: center;
    padding: 30px 0;
  }

  .bookAppointment .apntmntFrmBrdr {
    border: none;
  }

  .bookAppointment::after {
    width: 100%;
    left: 0;
    top: 50%;
  }

  .bookAppointment .followtxtHD br {
    display: none;
  }

  .bookAppointment .formBox {
    margin-top: 1rem;
  }

  .bookAppointment .formSpace {
    padding: 15px;
  }

  .bookAppointment .keeptouchHD {
    font-size: 1.2rem;
  }

  .bookAppointment .followtxtHD {
    font-size: 1.4rem;
    margin: 0.6rem 0 1rem;
  }

  .bookAppointment .appointmentSocial {
    font-size: 2rem;
  }

  .bookAppointment .appointmntHD {
    font-size: 1.5rem;
  }

  .bookAppointment .formBox .infld {
    font-size: 14px;
  }

  footer .ftrHD {
    margin: 1.2rem 0 0.9rem;
    text-align: center;
  }

  footer .flogo .ftrDrName {
    padding-top: 10px;
    font-size: 1.8rem;
  }

  footer .fcontact {
    text-align: center;
  }

  footer .fcontact p {
    font-size: 1rem;
  }

  /* Start About Page */

  .aboutBanr .cstmcptin p span {
    font-size: 1.2rem;
  }

  .hmaboutDr .abtHdnTwo span {
    font-size: 1.5rem;
    padding: 0 30px;
  }

  .educationMain .sctnHeading,
  .asFacultyMain .hsptlHD {
    font-size: 1.8rem;
  }

  .educationMain .sctnHeading span,
  .asFacultyMain .hsptlHD span {
    padding: 0 30px;
  }

  .educationMain ul li {
    font-size: 1rem;
  }

  .whatExpect {
    background-size: 100%;
    margin-bottom: 0;
  }

  .whatExpect ul {
    padding-left: 20px;
  }

  .whatExpect .contnt {
    text-align: left;
    padding: 15px;
  }

  .hmaboutDr .abtHdnTwo span::after,
  .hmaboutDr .abtHdnTwo span::before,
  .ourServiceBx .sctnHeading span::after,
  .ourServiceBx .sctnHeading span::before,
  .educationMain .sctnHeading span::after,
  .educationMain .sctnHeading span::before,
  .asFacultyMain .hsptlHD span::after,
  .asFacultyMain .hsptlHD span::before {
    width: 20px;
  }

  .gwRecordBrdr {
    margin: 0;
    border: none;
  }

  .hmaboutDr .awardCntnt .gwRecordHd {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .hmaboutDr .gwRecordCntnt {
    margin-top: 1rem !important;
  }

  .awardAchvmntSctn {
    height: auto;
  }

  .specialIntrestMain .specialIntrest p {
    font-size: 1rem;
  }

  .whyPatientChoose .whyContent {
    padding: 20px;
    width: 100%;
    margin: 0;
  }

  .whyPatientChoose .whyContent ul {
    height: auto !important;
    overflow: unset;
  }

  .whyPatientChoose .whyContent ul li::marker,
  .educationMain ul li::marker {
    font-size: 1.4rem;
  }

  .asFacultyMain .facultyContnt {
    max-height: none;
    padding: 0;
    font-size: 1rem;
  }

  .pprPblctnMain .nav-item {
    font-size: 1.1rem;
  }

  .pprPblctnMain .nav-item button {
    padding: 0.5rem 0.9rem;
  }

  .pprPblctnMain .pprPblctnTabCntnt {
    padding: 10px;
  }

  .pprPblctnTabCntnt .tab-pane.active {
    /* max-height: none; */
    font-size: 1rem;
  }

  .hmCertification {
    padding: 20px 0 !important;
  }

  /* End About Page */

  /* Start Inner Pages */
  .innerHeader {
    padding: 2rem 0;
    background-size: cover;
    background-position: 100%;
  }

  .innerSpace {
    margin: 2rem 0;
    padding: 0;
  }

  .innerHeader .hdrHd {
    font-size: 1.6rem;
  }

  .contactUsFrm {
    padding: 1rem;
  }

  .contactUsInfobx {
    padding: 1rem 0 0 0;
    font-size: 1rem;
  }

  .contactUsInfobx .socialContct {
    font-size: 1.4rem;
    text-align: center;
  }

  .contactUsInfobx .socialContct a {
    padding: 0 5px;
  }

  .contactUsInfobx .infoHd {
    padding-bottom: 1rem;
    font-size: 1.4rem;
  }

  .contactUsInfobx .cntctIconBx {
    width: 60px;
  }

  .contactUsInfobx .cntctIconBx i {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .contactUsInfoClmn span.cntAdrsHd {
    font-size: 1.1rem;
  }

  .starClr {
    display: block;
  }

  .innerSpace {
    margin: 1rem 0;
  }

  .innerSpace .tstmnlTab {
    width: 49%;
    display: inline-block;
    margin: 0;
  }

  .innerSpace .tstmnlTabBTN {
    padding: 12px;
    text-align: center;
    font-size: 1rem;
  }

  .bookAppointment .formBox .infld,
  .contactUsFrm .formBox .infld {
    font-size: 16px;
  }

  #g-recaptcha-error {
    font-size: 14px;
  }

  .sctnTestimonials .tsmnlRvwHd {
    font-size: 1.1rem;
  }

  .sctnTestimonials .tsmnlRvwHd span {
    display: block;
  }

  .blogInnerBnr {
    background-size: cover;
  }

  .blogSideForm {
    padding: 1rem;
  }

  .blogDetail .blogsitems,
  .blogDetail .blogsitems .blgAuthor,
  .blogPagination,
  .blogPagination p span {
    font-size: 14px;
  }

  .tabBlogs .nav-link {
    margin: 2px;
    padding: 4px 7px;
    font-size: 0.85rem;
  }

  .blogsitems .blogTitle {
    font-size: 1.3rem;
  }

  .blogPagination p {
    padding: 0;
  }

  .blogPagination img {
    width: 40px;
    height: 40px;
  }

  .blogDetail .blgDtlShare a {
    margin-left: 4px;
  }

  .serv-cate-item .serv-thumb {
    max-height: unset;
    height: auto;
    width: 100% !important;
  }

  .serv-cate-item .serv-cate-cnt {
    margin-top: 0;
    width: 100% !important;
    padding: 10px;
  }

  /* End Inner Pages */
  .mobHide {
    display: none !important;
  }

  .mobShow {
    display: block !important;
  }

  .sctnBlock {
    padding: 1rem 0;
  }

  .sctnBlock .contHdng,
  .contHdng {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.4;
  }

  .bnrConttwo {
    padding: 1rem 15px 0 !important;
    display: flex;
  }

  .bnrConttwo .row .col-sm-12 {
    order: 2;
  }

  .bnrConttwo .row .col-sm-12:last-child {
    order: 1;
    margin-bottom: 20px;
  }

  .footer-ul {
    list-style-type: none;
    text-align: left;
    font-family: "Conv_ITCAvantGardeStdBk", Sans-Serif;
    margin: 0;
    padding-left: 0px;
    padding: 20px;
  }

  header .hrdTop a {
    font-size: 12px;
  }
}

@media screen and (min-width:320px) and (max-width:768px) {
  .contentSection1_design {
    padding: unset;
  }

  .package_design {
    padding: 10px;
    border: 1px solid;
    border-radius: 30px 0;
  }

  .banner_img {
    display: none;
  }

  .mob_img {
    display: block;
  }

  .mob_img img {
    width: 100%;
  }

  /* My media for mobile  */
  section.contentSection,
  section.gloMediSec {
    padding: 20px 0;
  }

  .glow {
    font-size: 23px;
  }

  .offerList {
    background-color: white;
    list-style: none;
    display: inline-block;
    padding: 20px 0;
    border-radius: 20px;
    position: relative;
    font-family: 'marcellusregular';
    width: 175px;
    text-align: center;
    margin: 20px;
    border: 2px solid #c9537a;
  }




  .offTag {
    font-size: 25px;
  }


  .oldPriceTag {
    text-decoration: line-through;
    color: gray;
    display: inline-block;
    font-size: 14px;
  }

  .newPriceTag {
    display: inline-block;
    font-size: 20px;
  }



  .offerTag {
    position: absolute;
    top: -20px;
    left: -15px;
    font-size: 18px;
    padding: 8px 10px;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #c9537a;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .mobBrShow {
    display: block;
  }

  .sessionTag {
    position: absolute;
    bottom: -28px;
    right: -35px;
    background-color: white;
    padding: 8px 10px;
    font-size: 18px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #c9537a;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .mnStag {
    position: static;
    display: inline-block;
    width: 200px;
    border-radius: 0px;
    font-size: 14px !important;
  }

  .mnOffTag {
    background-color: white;
    list-style: none;
    display: block;
    padding: 0px 0;
    border-radius: 0px;
    position: relative;
    font-family: 'marcellusregular';
    width: 150px;
    text-align: center;
    border: 2px solid #c9537a;
    margin: 5px 0;
  }

  .myContPad {
    padding: 0px !important;
  }

  .mnOffertag {
    display: inline-block;
    z-index: 1;
    top: -10px !important;
    left: -15px !important;
    border-radius: 0px;
    position: static !important;
    transform: none;
    padding: 0 25px;
  }

  .whyChooseSec {
    padding: 0px;
    padding-top: 20px;
  }

  .whyChooseSec img {
    margin-top: 50px;
  }

  .whyChooseSec li:first-child img {
    margin-top: 0px;
  }

  .mainHead {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .whyChooseSec li {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #C50050;
  }

  .whyChooseSec .whyHd {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .docSection {
    padding: 0px;
  }

  .docSection .docName {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .docSection .docContent p {
    color: #8F3B61;
  }

  ul.myUl li {
    padding: 7px 0 0px 10px;
  }

  /* ******************************** */
  .serviceCard,
  .serviceCard .popTag {
    width: 100%;
  }

  .price_btn {
    width: 70%;
    margin-left: 16px;
  }

  .myBg, .souldermaDesk {
    all: unset;
  }

  .myC {
    font-size: 13px;
  }

  .myLipBg {
    all: unset;
  }

  .myMobBG {
    background: url(../images/bannerPhone.jpg) no-repeat center center;
    background-size: cover;
    background-position: 100% 0;
    padding-bottom: 10px;
    padding-top: 0px;
  }

  .souldermaMob {
    background: url(../images/souldermaMob.jpg) no-repeat center center;
    background-size: cover;
    background-position: 100% 0;
    padding-bottom: 10px;
    padding-top: 0px;
  }

  .souldermaMob1 {
    background: url(../images/mob_doctor_banner.jpg) no-repeat center center;
    background-size: cover;
    background-position: 100% 0;
    padding-bottom: 10px;
    padding-top: 0px;
  }

  .souldermaDesk1 {
    background: unset no-repeat center center;
    background-size: cover;
    padding-bottom: 1px;
    padding-top: 1px;
  }

  .myHd {
    font-size: 18px;
  }

  .infldNew {
    margin: 2px 0;
  }

  .btnDiv a {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .topStrip {
    padding: 8px 0;
  }

  .logoicn {
    width: 125px !important;
  }

  .myMobLipBG {
    background: url(../images/bannerPhone2.jpg) no-repeat center center;
    background-size: cover;
    background-position: 100% 0;
  }

  .deskBanner {
    display: none !important;
  }

  .mobBanner {
    display: block !important;
  }

  .ourServiceTitle {
    font-size: 1.4rem;
  }

  .banContent {
    position: static;
    padding-top: 8px;
    padding-right: 19px;
    padding-left: 5px;
  }

  #owl1 .h-card {
    margin-bottom: 20px;
  }

  .offStrip .para {
    font-size: 10px;
    color: white;
    margin: 0px;
    background: #214576;
    padding: 2px 5px;
  }



  .bannerContent .docName {
    font-size: 18px !important;
  }

  .bannerContent .myDocName {
    font-size: 14px !important;
  }

  button.accordions {
    font-size: 15px;
  }

  .topStatisticStrip {
    margin-top: 15px;
  }

  .topStatisticStrip1 {
    margin-top: unset;
  }


  .topStrip li {
    list-style-type: none;
    text-align: center;
    position: relative;
  }

  .mnLine li {
    border-right: 3px solid white;
  }

  .topStrip .lineDiv::after {
    content: '';
    width: 2px;
    height: 45px;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: white;
    transform: translateY(-50%);
  }

  .topStrip .lineDiv:last-child::after {
    all: unset;
  }

  .topStrip li span:first-child {
    font-size: 18px;
    display: block;
  }

  .topStrip li span:last-child {
    font-size: 10px;
    display: block;
  }

  .topStrip.mnLine li span:last-child {
    font-size: 11px;
    display: block;
  }

  .topStrip .topStrip_line {
    height: 60px;
    width: 5px;
    margin: 0 10px;
    background: red;
  }


  .lineDiv {
    width: 33% !important;
  }

  .mnLine .lineDiv {
    width: 33% !important;
  }

  .bannerContent .docDesg,
  .offStrip .price {
    font-size: 14px !important;
  }

  .bannerContent .docDesg {
    font-size: 12px !important;
    line-height: 1.1;
    margin: 5px 0px !important;
    margin-bottom: 10px !important;
    font-weight: 400;
    padding-right: 100px;
  }

  .topSpan {
    display: block;
    font-size: 12px !important;
    line-height: 1.1;
    font-weight: 400;
    padding-right: 100px;
    margin-bottom: 7px !important;
    font-weight: bold;
  }

  .topSpan1 {
    display: block;
    font-size: 12px !important;
    line-height: 1.1;
    font-weight: 400;
    padding-right: 100px;
    margin-bottom: 7px !important;
    font-weight: bold;
  }

  .bannerContent ul li {
    font-size: 11px !important;
  }

  .offStrip .para {
    font-size: 10px !important;
    width: 67%;
    margin-left: -14px;
  }

  .cstmBnr {
    width: 100% !important;
  }

  .bnrContainer {
    position: static;
  }

  .banContent {
    width: 80%;
    margin-right: auto;
    margin-top: -218px;
    padding-bottom: 12px;
  }

  .offStrip {
    position: static;
  }

  .btnDiv {
    display: block !important;
  }

  .btnDiv a {
    font-size: 14px;
    padding: 8px 0px;
    text-decoration: none;
    border-radius: 0px;
    display: block;
    width: 85%;
    margin: auto;
    background-color: #26272b;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .bannerContent .docDesg {
    margin-bottom: 3px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  header {
    padding: 10px 15px 6px;
  }

  .hdrtop {
    font-size: 13px;
  }

  .fhdng {
    margin: 15px 0;
    font-size: 18px;
  }

  .bnrSldr img {
    width: 160% !important;
    margin-left: -20% !important;
  }

  .cstmcptin {
    text-align: right;
    right: 1%;
    left: 18%;
  }

  .srviceBnr {
    padding: 15px;
  }

  .modal-dialog .modal-body iframe {
    height: 100% !important;
  }

  /* .vigBox iframe {
height: 100% !important;
} */
  .vigBox p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .responsive-iframe {
    position: relative;
    padding-bottom: 56.25%;
    /*16:9*/
    height: 0;
    overflow: hidden;
  }

  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .sctnTestimonials .testItem p {
    height: auto;
    min-height: 95px;
  }

  .custmTstmnal .carousel-inner .carousel-item .row .col-sm-12:nth-child(2) {
    display: none;
  }

  .cstmcptin .btn-play {
    right: 10%;
    bottom: 5%;
  }

  .bnrContainer .AdBnrTxt {
    padding: 0 0 0 25%;
    font-size: 1.4rem;
  }

  header .hrdTop span {
    display: block;
  }

  .hmServiceBlock .servCatBox .scaption {
    bottom: 0;
    padding: 20px;
    position: relative;
  }

  .hmServiceBlock .servCatBox .scaption p,
  .hmServiceBlock .servCatBox .scaption .srvName,
  .hmServiceBlock .servCatBox .scaption p a {
    color: #000;
    opacity: 1;
  }

  .hmServiceBlock .servCatBox:hover::after {
    display: none;
  }

  .hmServiceBlock .servCatBox:hover .scaption {
    bottom: 0;
  }
}

@media (min-width: 400px) and (max-width: 415px) {
  .cstmcptin {
    top: 10% !important;
  }

  .srviceBnr {
    padding-top: 65% !important;
  }

  .SrviceVideo {
    position: absolute !important;
    left: 0 !important;
  }

  .SrviceVideo .btn-play {
    z-index: 0;
  }

  .nanavatiHospital {
    padding-top: 14rem !important;
  }

  .whyPatientChoose .whyPatientDrCntnt {
    padding-left: 11rem !important;
    padding-top: 2rem !important;
  }

  /* .vigBox iframe {
height: 100% !important;
} */
  .vigBox p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .responsive-iframe {
    position: relative;
    padding-bottom: 56.25%;
    /*16:9*/
    height: 0;
    overflow: hidden;
  }

  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .sctnTestimonials .testItem p {
    height: auto;
    min-height: 95px;
  }

  .custmTstmnal .carousel-inner .carousel-item .row .col-sm-12:nth-child(2) {
    display: none;
  }

  .serviceCatVwAll {
    height: 132px;
    line-height: 132px !important;
  }

  .cstmcptin .btn-play {
    right: 10%;
    bottom: 5%;
  }

  .bnrContainer {
    position: relative;
  }

  .bnrContainer .AdBnrTxt {
    padding: 0 0 0 25%;
    font-size: 1rem;
  }

  header .hrdTop span {
    display: block;
  }

  .hmServiceBlock .servCatBox .scaption {
    bottom: 0;
    padding: 20px;
    position: relative;
  }

  .hmServiceBlock .servCatBox .scaption p,
  .hmServiceBlock .servCatBox .scaption .srvName,
  .hmServiceBlock .servCatBox .scaption p a {
    color: #000;
    opacity: 1;
  }

  .hmServiceBlock .servCatBox:hover::after {
    display: none;
  }

  .hmServiceBlock .servCatBox:hover .scaption {
    bottom: 0;
  }
}

@media (min-width: 220px) and (max-width: 480px) {
  .btn-submit {
    padding: 1px 2.5rem;
    margin-top: 5px;
  }

  .top-formbg {
    padding: 5px;
  }

  .common_inputs {
    padding: 3px;
  }

  .w50 {
    width: 50%;
  }

  .modal-body {
    height: 400px;
    background: transparent;
  }

  .desplay-desk {
    display: none;
  }

  .desplay-mob {
    display: block;
  }

  .offStrip .tcapply {
    font-size: 8px;
    color: black;
    padding: 2px 5px;
    margin: 0px;
    width: 56px;
    /* margin-left: auto; */
    float: right;
    margin-right: 74px !important;
    margin-top: -11px;
  }

  .deskBanner {
    display: none;
  }

  .mobBanner {
    display: block;
  }

  /* 7 sep 2022  */
  .ourServiceTitle {
    font-size: 1.4rem;
  }

  .banContent {
    position: absolute;
    top: -60%;
    padding-top: 8px;
    padding-right: 0px;
  }

  #owl1 .h-card {
    margin-bottom: 20px;
  }

  .offStrip .para {
    font-size: 10px;
    color: white;
    margin: 0px;
    background: #214576;
    padding: 2px 5px;
  }

  /* __________________________________ */
  header {
    padding: 10px 15px 6px;
  }

  .hdrtop {
    font-size: 13px;
  }

  .bnrSldr img {
    width: 160% !important;
    margin-left: -13% !important;
  }

  .cstmcptin {
    text-align: right;
    right: 2%;
    left: 25%;
    top: 14%;
  }

  .aboutBanr .cstmcptin p span {
    font-size: 1rem;
  }

  .gwRecordBrdr {
    text-align: left;
  }

  h3 {
    font-size: 1.4rem;
  }

  .logoicn {
    width: 70px;
  }

  .fhdng {
    margin: 15px 0;
  }

  .hmCertAlgn .col img {
    width: auto;
  }

  .hmCertAlgn .col:nth-child(2) img {
    height: 75px;
  }

  .hmCertAlgn .col:nth-child(3) img {
    height: 70px;
  }

  .hmCertAlgn .col:nth-child(4) img {
    margin-top: 15px;
  }

  .bookAppointment .formSpace {
    padding-top: 5px;
  }

  .bookAppointment .appointmntHD {
    font-size: 1.4rem;
  }

  .bookAppointment .followtxtHD {
    margin: 0.5rem 0;
  }

  .bookAppointment .appointmentSocial {
    font-size: 1.6rem;
  }

  .srviceBnr {
    background-size: 150%;
    padding: 15px 0 0;
    padding-top: 65%;
    background-position-x: 100%;
  }

  .srviceBnr p {
    margin-bottom: 0;
  }

  .SrviceVideo {
    position: absolute !important;
    left: 0 !important;
    top: 18.5% !important;
  }

  .SrviceVideo .btn-play {
    left: 8%;
    top: 4.1%;
  }

  .srviceBnr .srvicePageHD {
    font-size: 1.5rem;
  }

  .srviceBnr .brdcrmb,
  .innerHeader .brdcrmb,
  .cstmcptin .brdcrmb {
    font-size: 13px;
  }

  .fullbgContent {
    padding-top: 14.5rem;
  }

  .fullbgContent .abtHdnTwo {
    color: #000;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  .srvcWhyChoose .hsptlHD {
    padding: 0;
    font-size: 1.6rem;
  }

  .fullbgContent .abtHdnTwo span {
    border: none;
    padding: 0;
  }

  .fullbgContent .whiteBG {
    margin-top: 0;
    padding: 0 15px 15px 15px;
  }

  .srvcWhyChoose .srvcWhyChooseSpce {
    padding: 15px;
  }

  .hmaboutDr .tpesGreyBG {
    margin: 1rem;
    padding: 1.1rem;
  }

  .hmaboutDr .tpesGreyBG .tupesGreyHdng {
    font-size: 1.6rem;
  }

  .nanavatiHospital {
    padding-top: 13rem;
    padding-bottom: 20px;
  }

  .whyPatientChoose .whyContent .whyHD {
    font-size: 1.6rem;
  }

  .modal-dialog .modal-body iframe {
    height: 100% !important;
  }

  .ourServiceBx .serviceCateBx .servCatHd {
    font-size: 1rem;
  }

  .specialIntrestMain {
    padding-bottom: 0;
  }

  .aboutBanr .cstmcptin {
    top: 21% !important;
  }

  .sctnTestimonials .testItem .quoteIcon {
    margin-top: -13px;
  }

  .sctnTestimonials .testItem p {
    height: 200px;
    min-height: 95px;
  }

  .custmTstmnal .carousel-inner .carousel-item .row .col-sm-12:nth-child(2) {
    display: none;
  }

  .onlyMobileShow {
    display: block;
  }

  .onlyMobileHide {
    display: none;
  }

  /* .vigBox iframe {
height: 100% !important;
} */
  .vigBox p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .responsive-iframe {
    position: relative;
    padding-bottom: 56.25%;
    /*16:9*/
    height: 0;
    overflow: hidden;
  }

  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .cstmcptin .btn-play {
    right: 10%;
    bottom: 5%;
  }

  .bnrContainer {
    position: relative;
  }

  .bnrContainer .AdBnrTxt {
    padding: 10px 0;
    font-size: 1.4rem;
  }

  .bnrContainer .brdr {
    border-color: #eee;
  }

  .bnrContainer .AdBnrTxt p {
    margin: 0;
  }

  .cstmBnr {
    width: 145% !important;
  }

  .adBanner {
    overflow-x: hidden;
    position: unset;
  }

  .hmServiceBlockNew {
    padding: 1rem 0.2rem;
  }

  .contHdng {
    font-size: 1.4rem;
  }

  .bnrFrm {
    background: #fbfbfb;
  }

  .gRecord {
    text-align: center;
  }

  .gRecord img {
    margin-bottom: 1rem;
  }

  .txtCprgt {
    margin-bottom: 55px;
  }

  header .hrdTop span {
    display: block;
  }

  .hmServiceBlock .servCatBox .scaption {
    bottom: 0;
    padding: 20px;
    position: relative;
  }

  .hmServiceBlock .servCatBox .scaption p,
  .hmServiceBlock .servCatBox .scaption .srvName,
  .hmServiceBlock .servCatBox .scaption p a {
    color: #000;
    opacity: 1;
  }

  .hmServiceBlock .servCatBox:hover::after {
    display: none;
  }

  .hmServiceBlock .servCatBox:hover .scaption {
    bottom: 0;
  }

  .accept-para br {
    display: none;
  }
}

.s-hd {
  font-size: 30px !important;
}

.clr-f {
  color: white !important;
}

.clr-txt {
  color: #fff !important;
}

@media screen and (max-width:1023px) and (min-width:768px) {

  .ourServiceTitle {
    font-size: 1.4rem;
  }

  .formCont {
    width: 100%;
  }

  .banContent {
    position: static;
    padding-top: 8px;
    padding-right: 19px;
    padding-left: 25px;
  }

  #owl1 .h-card {
    margin-bottom: 20px;
  }

  .offStrip .para {
    font-size: 10px;
    color: white;
    margin: 0px;
    background: #214576;
    padding: 2px 5px;
  }



  .bannerContent .docName {
    font-size: 30px !important;
  }

  .bannerContent .docDesg,
  .offStrip .price {
    font-size: 16px !important;
  }

  .bannerContent ul li {
    font-size: 15px !important;
  }

  .offStrip .para {
    font-size: 13px !important;
  }

  .cstmBnr {
    width: 120% !important;
  }

  .bnrContainer {
    position: static;
  }

  .banContent {
    width: 60%;
    margin-left: auto;
    margin-top: -321px;
    padding-bottom: 25px;
  }

  .offStrip {
    position: static;
  }

  .btnDiv {
    display: block !important;
  }

  .btnDiv a {
    font-size: 14px;
    padding: 8px 0px;
    text-decoration: none;
    border-radius: 29px;
    display: block;
    width: 85%;
    margin: auto;
    background-color: #214576;
    color: white;
    margin-bottom: 15px;
  }
}





.faqSection {
  padding: 60px 0;
  font-family: 'Inter', sans-serif;
  color: white;
}


.accordions {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.actives,
.accordions:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  color: white;
  overflow: hidden;
}




button.accordions i {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #EB5F93;
}

.faqSection .accordions {
  background-color: transparent;
}

.faqSection .panel {
  background-color: transparent;
  color: #c3c5ce;
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.whatsapp {
  background-color: #25d366 !important;
  left: 18px;
  right: auto;
  color: transparent;
}

.whatsapp i {
  color: #ffffff !important;
  font-size: 29px;
}

.sticky-bot {
  position: fixed;
  bottom: 68px;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.doc-list {
  color: white;
}